
<ion-content>
  <ion-list >

    <ion-list-header >

  <ion-label class="ion-text-uppercase">Seleccionar Club</ion-label>

    </ion-list-header>
    <ion-list-header>
      <ion-searchbar mode="ios" placeholder="nombre club" inputmode="text" type="text"  [debounce]="250"></ion-searchbar>
    </ion-list-header>

    <ng-template ngFor let-club [ngForOf]="clubes.club" let-i="index">
              

      <ion-item class="ion-no-padding" (click)="equipo(club)">
        <ion-chip  style="height: 60px; background: transparent;">
            <ion-avatar  style="height: 50px; width: 50px;">
              <img src="{{club.foto}}">
            
            </ion-avatar>
       
            <span style="display:block;">
              <ion-label style="margin-bottom: 10px;"> {{club.nombre}}</ion-label>
          
              <ion-icon style="size: 10px;" name="star"></ion-icon>
              <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
              <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
              <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
              <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
            </span>
          </ion-chip>

          
        </ion-item>



    </ng-template>


    
  </ion-list>

</ion-content>
