 
     
 
<ion-header    class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="cerrarModal()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Eliminar Reto FUTPLAY</ion-title>
    
  </ion-toolbar>
  
 </ion-header>

    <ion-content fullscreen overflow-scroll="true" scroll="true">
     
 
        <ion-list>
<ion-item lines="none" class="ion-text-center ion-padding">
  <ion-label class="ion-text-wrap">Puntos a tomar en consideración</ion-label>
</ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">1. Recuerda mantener tus datos actualizados antes de eliminar tu perfil.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">2. Se eliminaran todas aquellos retos que no mantengan pagos pendientes.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">3. Todos aquellos retos pendientes seran desactivados y  seran posteriormente verificadas por el equipo FUTPLAY.

<p >
 <strong> <ion-label color="primary" class="ion-text-wrap">Podras consultar los retos en revisión en la seccion de retos -  revisión</ion-label></strong>
</p>

            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">4. Una vez que haya culminado el proceso de revisión el equipo FUTPLAY procedera  a eliminar el reto.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">5. Para cualquier consulta contactar al equipo FUTPLAY al correo  <a href="mailto:facturaelectronica@futplaycompany.com" target="_blank">facturaelectronica@futplaycompany.com.</a></ion-label>
          </ion-item>
          
        </ion-list>
  
    </ion-content>
    <ion-footer>
 
       <app-delete-button  (click)="eliminarReto()" label="Deseo Eliminar El Reto" >

       </app-delete-button>
 

   </ion-footer>
 