


<ion-content>





  <form  (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm" class="styled-elemets" style="height: 100%; ">
<ion-grid style="height: 100%;display:flex;justify-content: center;align-items: center;" >


  <ion-row style="height:100%;display: flex; justify-content: center;">



    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked" >
          <ion-icon slot="icon-only" name="person-outline"></ion-icon> Nombre</ion-label>
          <ion-input required  [(ngModel)]="usuario.Nombre"  placeholder="Nombre" name="nombre"
          type="text"
          ></ion-input>
       
      
      </ion-item>


    </ion-col>


    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
          Apellido</ion-label>
      
        <ion-input type="text" placeholder="Primer Apellido" name="Primer_Apellido" [(ngModel)]="usuario.Primer_Apellido"   name="Primer Apellido"  autocomplete="off"></ion-input>
      </ion-item>


    </ion-col>

    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
          
          Correo</ion-label>
        <ion-input type="email" placeholder="Correo" name="Correo"  [(ngModel)]="usuario.Correo"   autocomplete="off"></ion-input>
      
      </ion-item>


    </ion-col>
    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="call-outline"></ion-icon>
          Telefono</ion-label>
        <ion-input type="tel" placeholder="Telefono"  name="Telefono"   [(ngModel)]="usuario.Telefono"   autocomplete="off"></ion-input>
      
      </ion-item>


    </ion-col>


    <ion-col size="12" size-md="6">

      <ion-item  id="Fecha_Nacimiento"  > 
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
          Fecha de Nacimiento</ion-label>
          <ion-input type="text" [value]="usuario.Fecha_Nacimiento  | date: 'dd/MM/yyyy'"></ion-input>             
                                    
      </ion-item>
      <ion-modal trigger="Fecha_Nacimiento">
        <ng-template>
          <ion-datetime
          name="Fecha_Nacimiento"
            presentation="date"
            [value]="usuario.Fecha_Nacimiento"
            (ionChange)="formatDate($event)"
          ></ion-datetime>
        </ng-template>
      </ion-modal>




    </ion-col>

    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          Provincia</ion-label>
          <ion-select (click)="syncProvincias()" required [(ngModel)]="usuario.Cod_Provincia" (ionChange)="onChange($event, true,false,false)"   name="Cod_Provincia">
            <ion-select-option [value]="provincia.Cod_Provincia" *ngFor="let provincia of provinciasService.provincias">
              {{provincia.Provincia}}
            </ion-select-option>
            
            </ion-select>
      </ion-item>


    </ion-col>

    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          Cantón</ion-label>
          <ion-select  required [(ngModel)]="usuario.Cod_Canton"  (ionChange)="onChange($event, false,true,false)"   name="Cod_Canton" >
            <ion-select-option [value]="canton.Cod_Canton" *ngFor="let canton of cantonesService.cantones">
              {{canton.Canton}}
            </ion-select-option>
            
            </ion-select>
      </ion-item>


    </ion-col>

    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          Distrito</ion-label>
          <ion-select required   [(ngModel)]="usuario.Cod_Distrito"   (ionChange)="onChange($event, false,false,true)" name="Cod_Distrito">
            <ion-select-option [value]="distrito.Cod_Distrito" *ngFor="let distrito of distritosService.distritos">
              {{distrito.Distrito}}
            </ion-select-option>
      
          </ion-select>
      </ion-item>


    </ion-col>

    <ion-col size="12" size-md="6">
      <ion-item>
      
      
        <ion-label position="stacked">            <ion-icon slot="icon-only"  name="lock-closed-outline" ></ion-icon>Contraseña</ion-label>
    
        <ion-input  type="{{showPass ? 'text' : 'password'}}"  placeholder="Contraseña"  name="Contrasena" [(ngModel)]="usuario.Contrasena"></ion-input>
      <ion-icon slot="end"  item-right name="{{showPass ? 'eye' : 'eye-off'}}" (click)="showPass=!showPass"></ion-icon>
    </ion-item>

    </ion-col>



    <ion-col size="12" size-md="6">
 
          
          
     
    
    
    
      
       

      
      
          <ion-item>
      
      
              <ion-label  position="stacked">            <ion-icon  name="lock-closed-outline" ></ion-icon>Contraseña</ion-label>
          
              <ion-input   name="confirmarContrasena" [(ngModel)]="confirmarContrasena" type="{{showPassConfirm ? 'text' : 'password'}}"  placeholder="Contraseña"></ion-input>
            <ion-icon slot="end"  item-right name="{{showPassConfirm ? 'eye' : 'eye-off'}}" (click)="showPassConfirm=!showPassConfirm"></ion-icon>
          </ion-item>
      
      
      
      

      
      
      
      
      
      
          </ion-col>
    
    

          <ion-col size="12" class="ion-text-center ion-margin">
     
            <ion-button class="ion-margin"  [disabled]="fRegistro.invalid" type="submit"
                color="dark"
                shape="round"     
                fill="outline" >
                    Crear usuario
                </ion-button>
       
          </ion-col>
    






  </ion-row>
</ion-grid>
  
</form>


</ion-content>