// STYLED GRID 

.title{

  font-size: 18px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.styled-elemets{
  max-width: 650px;
margin: 0 auto;
  .heading{
      font-size: 18px;
      color: #7b7b7b;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    }

ion-col{
  margin: 0 auto;
}
  ion-col ion-item ion-label{

      --color: #7b7b7b;   
      font-size: 20px;
      text-transform: capitalize;
  letter-spacing: 0.1rem;
  
  
  ion-icon{
      margin-right: 0.8rem;
  }
  
  
  }
  
  ion-col ion-item ion-input{
    margin-top: 0.5rem;
  }

  ion-col ion-item ion-select{
    margin-top: 0.5rem; 
  }
}
ion-datetime {
  height: auto;
  width: auto;
 color: black;
  max-width: 350px;
}

ion-modal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}

ion-modal ion-datetime {
  height: 382px;
}