<ion-header class="ion-no-border">
  <ion-toolbar>

  
    <ion-title>{{club.nombre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" fill="solid" shape="round"  color="primary" slot="end" >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col size="4" size-md="6" size-lg="4" style="display: grid; place-content: center;" >

<ion-buttons  style="position:relative;margin: 0 auto; border-radius: 50%; display: flex; justify-content: center; height: 80px; width: 80px;">
  <img [src]="club.foto" alt="">

  <ion-button (click)="onClick()" style="position: fixed;border-radius: 50%; background-color: rgba(255, 255, 255, 0.5);"  shape="round">
   
    <ion-icon  name="add"></ion-icon>
   
  </ion-button>


</ion-buttons>
      </ion-col>
      <ion-col size="8" size-md="6" size-lg="8">
          <ion-list lines="none">
              <ion-item>
                  <ion-label>Nombre del club : {{club.nombre}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label >Abreviación ({{club.abreviacion}})</ion-label>                         
              </ion-item>
              <ion-item>
                <ion-label >Región ({{club.distritoID | distritos}}, {{club.provinciaID | provincias}})</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>(Ganes, Perdidos, Empates)</ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-center">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </ion-label>
            </ion-item>
          </ion-list>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
 <ion-list lines="none">
     <ion-item>
      <ion-label color="dark">Jugadores {{currentYear}}</ion-label>
      <ion-buttons slot="end">
          <ion-button (click)="listaTransferencia()" >
              <ion-icon name="download-outline" style="font-size:30px;"></ion-icon>
             </ion-button>
             <ion-button (click)="compartir()" >
              <ion-icon name="share-social-outline" style="font-size:30px;"></ion-icon>
             </ion-button>
      </ion-buttons>
     </ion-item>
 </ion-list>
  
    </ion-col>
    <ion-col size="12">
        <ion-list lines="none">
            <ion-item *ngFor="let jugador of jugadores.jugadores; let i = index">
                <ion-label *ngIf="club.clubID === jugador.clubID">{{jugador.usuarioID | usuarios}}</ion-label>
                <ion-buttons *ngIf="club.clubID === jugador.clubID" slot="end">
                    <ion-button (click)="onClick()">
                        <ion-icon  name="eye"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>

        </ion-list>
    </ion-col>
    <ion-col size="12">
      <ion-list lines="none">
        <ion-item>
          <ion-label color="dark">Solicitudes {{currentYear}}</ion-label>
        </ion-item>
          <ion-item *ngFor="let solicitud of solicitudes.solicitudes; let i = index">
              <ion-label *ngIf="club.clubID === solicitud.clubID">{{solicitud.usuarioID | usuarios}}</ion-label>
              <ion-buttons *ngIf="club.clubID === solicitud.clubID" slot="end">
                <ion-button (click)="add(solicitud)">
                  <ion-icon  name="add"></ion-icon>
              </ion-button>
                <ion-button (click)="delete(solicitud.solicitudID)">
                  <ion-icon  name="trash"></ion-icon>
              </ion-button>
              </ion-buttons>
          </ion-item>

      </ion-list>
  </ion-col>
</ion-row>
  </ion-grid>
</ion-content>
