ion-header{
   
 
    ion-toolbar{
      --background:#5a55ca;
      color: #fff;
      ion-icon{
          color: #fff;
      }
    } 
    }
      :host {
        ion-tab-bar {
         border: 0;
         margin-top: -1px;
         padding: 0;
         --background:#5a55ca;
       }
      }
      
      ion-tab-button {   
        --padding: 0;     
        --margin: 0;
        ion-label {  
            font-size: 18px;
        }
      }
      
      
      
      ion-tab-button.tab-selected {
      
      --color-selected: var(--ion-color-light);
      }
      
      
      ion-tab-button {
        height: 35px;
        color: #fff;
        --color-selected: var(--ion-color-primary);
      
        &::after {
          background-color: transparent;
          display: block;
          content: "";
          margin: 0 auto;
          width: 100%;
          height: 2px;
        
        }
      
        &.tab-selected::after {
          background-color: #fff;
        }
      }

  
      form {
       
        max-width: 500px;
        margin: 0 auto;
        app-button {
          display: block;
        }
      }
    