 
 
    <ion-header class="ion-no-border">
      <ion-toolbar>
       <ion-button slot="start" (click)="regresar()" fill="clear">
         <ion-icon size="large" name="close-outline"></ion-icon>
       </ion-button>
       <ion-title> {{"USER_GEOLOCATION" | translate }} </ion-title>
        
      </ion-toolbar>
 
     </ion-header>

<ion-content class="ion-padding">
  <form id="form" (ngSubmit)="actualizar(form)" #form="ngForm">
    <ion-grid >
      <ion-row>
         
 
        <ion-col size="12"   >
          <app-select name="Codigo_Pais"  (ionChange)="geolocalizacionService.onChangeCountries(form)"     [data]="geolocalizacionService.paises"  label='{{"COUNTRY" | translate }}' ngModel="{{usuarioGeolocalizacion.Codigo_Pais}}"></app-select>
        </ion-col>
        <ion-col size="12" (ionChange)="geolocalizacionService.onChangeStates(form)"  *ngIf="geolocalizacionService.estados.length > 0" >
          <app-select name="Codigo_Estado" [data]="geolocalizacionService.estados" label='{{"STATE" | translate }}' ngModel="{{usuarioGeolocalizacion.Codigo_Estado}}"></app-select>
        </ion-col>
        <ion-col size="12"  *ngIf="geolocalizacionService.ciudades.length > 0" >
          <app-select (ionChange)="geolocalizacionService.onChangeCities(form)" name="City_Code" [data]="geolocalizacionService.ciudades"  label='{{"CITY" | translate }}' ngModel="{{usuarioGeolocalizacion.Codigo_Ciudad}}"></app-select>
        </ion-col>
        <ion-col size="12">
      
          <app-input name="Codigo_Postal"  label='{{"ZIP_CODE" | translate }}' ngModel="{{usuarioGeolocalizacion.Codigo_Postal}}"></app-input>
         
        </ion-col>
        <ion-col size="12" >
      
          <app-input label='{{"ADDRESS" | translate }}' label="Direccion" ngModel="{{usuarioGeolocalizacion.Direccion}}" name="direccion"></app-input>
         
        </ion-col>
        <ion-col size="12">
          <app-button   label='{{"UPDATE_DATA" | translate }}'></app-button>
         </ion-col>
      </ion-row>
    </ion-grid>
      </form>
    
</ion-content>
