* {
  margin: 0;
  padding: 0;
}
form {
 
  max-width: 500px;
  margin: 0 auto;
  app-button {
    display: block;
  }
}
 
 ion-col{
  padding: 0.2rem;
 }

 h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: #939fab;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 2rem;
}

ion-avatar, img{
  height:6rem;
  width: 6rem;
}
ion-title{
    a {
    text-decoration: none;
    font-weight: 600;
    color: #5a55ca;
  }
}

.footer-text {
  text-align: center;
  font-size: 17px;
 

  a {
    text-decoration: none;
    font-weight: 600;
    color: #5a55ca;
  }
}
