ion-header {
  ion-toolbar {
    --background: #5a55ca;
    color: #fff;

    ion-icon {
      color: #fff;
    }
  }
}

ion-fab-button {
  --background: #5a55ca;
}

.swiper-wrapper {
  width: min-content !important;
}

ion-avatar,
ion-thumbnail {
  height: 4rem;
  width: 4rem;
}

ion-datetime {
  --background: #fff;
  width: 100%;
  margin: 0 auto;
}

.time {
  font-size: 1rem;
  text-transform: uppercase;
  color: #000;
}

.swiper-pagination {
  margin: 0.5rem;
}

 

swiper-container {
  max-height: 200px;
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
}