
  <ion-header >

    <ion-toolbar class="ion-toolbar ">
      <ion-button slot="start"   fill="clear" (click)="cerrarModal()">
        <ion-icon  color="light" name="chevron-back"></ion-icon>
     
      </ion-button>

 <ion-title>{{reto.reservacion.Titulo}}</ion-title>
    </ion-toolbar>

    </ion-header>
    <ion-content fullscreen *ngIf="reto">
      <div class="mainContent">

        <ion-list *ngIf="partido.length > 0 && reto.detalle.Reservacion_Grupal  && reto.reservacion.Cod_Estado != 2 && reto.reservacion.Cod_Estado != 7 && reto.reservacion.Cod_Estado != 8 && reto.reservacion.Cod_Estado != 9" class="ion-margin">
          
          <ion-col size="12" >



            <ion-item  lines="none" class="transparent">
              <ion-label><strong>Marcador Partido</strong></ion-label>
            </ion-item>
              <ion-item class="transparent">
            
            
                <ion-avatar *ngIf="reto.retador.Avatar" slot="end">
                  <img   src="{{'assets/soccer-shields-svg/'+reto.retador.Foto}}" alt="" onerror="this.src='assets/img/icon/FP.svg'">
                </ion-avatar>
            
                <ion-avatar *ngIf="!reto.retador.Avatar" slot="end">
                  <img   src="{{'https://futplaycompany.com/api_test/'+reto.retador.Foto}}" alt="" onerror="this.src='assets/img/icon/FP.svg'">
                </ion-avatar>
          
                <h3 class="ion-text-capitalize">{{reto.retador.Abreviacion}} 

                  <p  style="display:block; margin-top: 0.5rem;" >
                   
                    <ng-template ngFor let-hero [ngForOf]="filledStars(reto.retador.Estrellas)"
                    let-i="index" let-odd="odd"  >
                    <ion-icon style="size: 10px;" name="star"></ion-icon>
                  </ng-template>
                  <ng-template ngFor let-hero [ngForOf]="emptyStars(reto.retador.Estrellas)"
                  let-i="index" let-odd="odd"  >
                  <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                </ng-template> 
            
              
                  </p>

                </h3>
                  
      
             
                <h2 slot="end">{{partido[1].Goles_Retador}}</h2>
            

               </ion-item>
            
               <ion-item class="transparent">
 
            
                <ion-avatar *ngIf="!reto.rival.Avatar" slot="end">
                  <img   src="{{'https://futplaycompany.com/api_test/'+reto.rival.Foto}}" alt="" onerror="this.src='assets/img/icon/FP.svg'">
                </ion-avatar>
            
            
                <ion-avatar *ngIf="reto.rival.Avatar" slot="end">
                  <img   src="{{'assets/soccer-shields-svg/'+reto.rival.Foto}}" alt="" onerror="this.src='assets/img/icon/FP.svg'">
            
                </ion-avatar>
 
                <h3  class="ion-text-capitalize">{{reto.rival.Abreviacion}}
                  
                
                  <p  style="display:block; margin-top: 0.5rem;" >
                   
                    <ng-template ngFor let-hero [ngForOf]="filledStars(reto.rival.Estrellas)"
                    let-i="index" let-odd="odd"  >
                    <ion-icon style="size: 10px;" name="star"></ion-icon>
                  </ng-template>
                  <ng-template ngFor let-hero [ngForOf]="emptyStars(reto.rival.Estrellas)"
                  let-i="index" let-odd="odd"  >
                  <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                </ng-template> 
            
              
                  </p>
                
                </h3>

                   
    

                <h2 slot="end">{{partido[1].Goles_Rival}}</h2>
            

            
               </ion-item>
            
            
            
            
                          </ion-col>
        </ion-list>
    
        <ion-list class="ion-list">
          <ion-item lines="none" class="employeeItem  animate__animated animate__fadeIn"       >

            <ion-avatar slot="start">
       
              <img src="{{'https://futplaycompany.com/api_test/'+reto.cancha.Foto }}" onerror="this.src='assets/soccerfield.jpg'"   alt="">

             </ion-avatar>
            
    

            <ion-label>
              <p><strong>Cancha</strong></p>
              <h2>{{reto.cancha.Nombre}} <ion-badge color="dark" mode="ios">₡ {{reto.cancha.Precio_Hora}}</ion-badge></h2>
              <p   >
                   
                Categoria <ion-badge color="warning" mode="ios">{{reto.categoria}}</ion-badge>
          
              </p>
              <p class="ion-text-wrap">{{reto.provincia}},       {{reto.canton}} ...</p>
            </ion-label>
      
          </ion-item>

          <ion-item *ngIf="partido.length == 0"  lines="none" class="employeeItem  animate__animated animate__fadeIn" >
    

            <ion-avatar slot="start"  >
          
            <img *ngIf="!reto.retador.Avatar" class="logo" data-src="{{'https://futplaycompany.com/api_test/'+reto.retador.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   >
            <img  *ngIf="reto.retador.Avatar" src="assets/soccer-shields-svg/{{reto.retador.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"    alt="">
            </ion-avatar>
            
        
          <ion-label>
            <p><strong>Retador</strong></p>
            <h2>{{reto.retador.Abreviacion}}
              
              <p  style="display:block; margin-top: 0.5rem;" >
                   
                <ng-template ngFor let-hero [ngForOf]="filledStars(reto.retador.Estrellas)"
                let-i="index" let-odd="odd"  >
                <ion-icon style="size: 10px;" name="star"></ion-icon>
              </ng-template>
              <ng-template ngFor let-hero [ngForOf]="emptyStars(reto.retador.Estrellas)"
              let-i="index" let-odd="odd"  >
              <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
            </ng-template> 
        
          
              </p> 
            </h2>
          
    
  
          </ion-label>
  
        </ion-item>


        <ion-item  *ngIf="partido.length == 0  && reto.detalle.Reservacion_Grupal"   lines="none" class="employeeItem  animate__animated animate__fadeIn" >
    

          <ion-avatar slot="start"  >
         
            <img *ngIf="!reto.rival.Avatar" class="logo" data-src="{{'https://futplaycompany.com/api_test/'+reto.rival.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   >
            <img  *ngIf="reto.rival.Avatar" src="assets/soccer-shields-svg/{{reto.rival.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"    alt="">
          </ion-avatar>
          
      
        <ion-label>
          <p><strong>Rival</strong></p>
          <h2>
            
            {{reto.rival.Abreviacion}}
            
            <p  style="display:block; margin-top: 0.5rem;" >
                   
              <ng-template ngFor let-hero [ngForOf]="filledStars(reto.rival.Estrellas)"
              let-i="index" let-odd="odd"  >
              <ion-icon style="size: 10px;" name="star"></ion-icon>
            </ng-template>
            <ng-template ngFor let-hero [ngForOf]="emptyStars(reto.rival.Estrellas)"
            let-i="index" let-odd="odd"  >
            <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
          </ng-template> 
      
        
            </p>


          </h2>
 
  

        </ion-label>

      </ion-item>



        </ion-list>

  

        <ion-list class="ion-margin StyledReceipt">
          <ion-list-header>
            <ion-label>Factura Detalle</ion-label>
           
          </ion-list-header>
          <ion-item>
            <ion-label>Fecha</ion-label>
            {{reto.reservacion.Fecha | date:'shortDate'}}
          </ion-item>

          <ion-item>
            <ion-label>Hora Inicio</ion-label>
            {{reto.reservacion.Hora_Inicio | date:'shortTime'}} 
          </ion-item>
         
          <ion-item>
            <ion-label>Hora Fin</ion-label>
            {{reto.reservacion.Hora_Fin | date:'shortTime'}}   
          </ion-item>
          <ion-item>
            <ion-label>Precio Hora</ion-label>
           {{reto.detalle.Precio_Hora | colones : 2 : '.' : ',' :  '₡' }}
          </ion-item>

          <ion-item>
            <ion-label>Total Horas</ion-label>
            {{reto.detalle.Total_Horas }}
          </ion-item>
          <ion-item  *ngIf="reto.detalle.Reservacion_Grupal">
            <ion-label>Monto por Equipo</ion-label>
          {{reto.detalle.Monto_Equipo  | colones : 2 : '.' : ',' :  '₡' }}
          </ion-item>
          <ion-item>
            <ion-label>Subtotal</ion-label>
            {{reto.detalle.Monto_Sub_Total | colones : 2 : '.' : ',' :'₡'}}
          </ion-item>

          <ion-item>
            <ion-label>Total</ion-label>
            {{reto.detalle.Monto_Total  | colones : 2 : '.' : ',' :  '₡' }}
          </ion-item>
        </ion-list>
 
        <ion-footer>
        
          <ion-button *ngIf="allowUser && reservacionesService.segment == 1 &&  reto.reservacion.Cod_Estado == 2" class="ion-margin-bottom"  (click)="alertaReservacion()"  expand="block" >
           <ion-label>Aceptar Reto </ion-label>
                 </ion-button>
                 
    
                          
                    
            
       </ion-footer>
     
                
            </div>
    </ion-content>
