
  ion-header {

    background-color: #5a55ca;
}
.discount{
  -webkit-text-decoration-line: line-through; /* Safari */
  text-decoration-line: line-through; 
  text-decoration-color: red;
}
.ion-toolbar {

    --border-style: none;
    --background: #5a55ca;
    --color: white;

    // --stripe: #645fd1;
    --stripe: #5a55ca;
    --bg: #645fd1;
    --background: transparent;
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);

    ion-button {

        font-size: 1.2rem;
        font-weight: 800;
    }
}

ion-content {

    --background: #5a55ca;
    overflow: hidden;
}


.custom-header {

  background-color: #5a55ca;
}

.custom-toolbar {

  --border-style: none;
  --background: #5a55ca;
  --color: white;

  // --stripe: #645fd1;
  --stripe: #5a55ca;
  --bg: #645fd1;
  --background: transparent;
  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, var(--bg) 25%, transparent 25%),
  linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);

  ion-button {

      font-size: 1.2rem;
      font-weight: 800;
  }
}

ion-content {

  --background: #5a55ca;
  overflow: hidden;
}



ion-card-subtitle {

  padding-left: 1.2rem;
  margin-top: 1.9rem;
  padding-bottom: 0.3rem;
  --color: white;
}



ion-list{
    background: #fff;
    background-color: #fff !important;
  }
  ion-item{
    background-color:#fff;
    --ion-item-background:#fff;
    --border-color: #5a55ca; 
  }
ion-footer {
    background: #fff;
  background-color: #fff;
  padding: 1rem;

  ion-button {

      --background: #5a55ca;
      --background-focused: #6f6bbb;
      --background-activated: #6f6bbb;
      --padding-top: 1rem;
      --padding-bottom: 1rem;
      --padding-start: 0.75rem;
      --padding-end: 0.75rem;
      height: 3.5rem;
      font-weight: 700;
  }
}

.transparent{
--background: transparent!important;
}
.mainContent {


background-color: #fff;
height: 100%;
width: 100%;
overflow: scroll !important;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
ion-searchbar {

--border-radius: 10px;
--background: white;
--color: black;


}
ion-avatar{
height: 5rem; width: 5rem;
}

  ion-buttons {
    align-self: start;
  }
  .ion-button {
    
    --background: #5a55ca;
    --background-focused: #6f6bbb;
    --background-activated: #6f6bbb;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    --padding-start: 0.75rem;
    --padding-end: 0.75rem;
    color: #fff;
    margin-right: 0.5rem;
}
