<app-header titulo="Canchas"></app-header>
<ion-toolbar>

<ion-label slot="start" class="ion-margin ion-text-uppercase" style="font-weight: bold; letter-spacing: 2px;"><h2>lista de canchas</h2></ion-label>
</ion-toolbar>

<ion-toolbar>

  <ion-searchbar mode="ios" placeholder="buscar cancha" inputmode="text"  debounce="250" ></ion-searchbar> 
  <ion-button fill="clear" slot="end"  style="padding-top: 1px;
  padding-bottom: 15px;
  height: 52px;" >
    <ion-icon  size="large"  slot="icon-only" color="dark" name="location"></ion-icon>
  </ion-button>



  
 
</ion-toolbar>

<ion-content >
  <ion-list lines="none">
  


      <ng-template ngFor let-cancha [ngForOf]="canchasService.canchas"  let-i="index">
            
            
        <ion-item>
      
          <ion-avatar slot="start" style="display:block; height: auto; width: auto;" class="ion-text-center">
            <img style="height: 60px; width: 60px;"  src="{{soccer}}">
            
            </ion-avatar>
            <ion-label style="margin-bottom: 10px;"> {{cancha.Nombre}}</ion-label>

          <ion-buttons slot="end">
          
    
            <ion-button  color="dark" fill="clear" slot="end" (click)="onOpenMenu(cancha)">
              <ion-icon  slot="icon-only"  name="ellipsis-horizontal-outline"></ion-icon>
              </ion-button>
    
    
           
    </ion-buttons>
          
        </ion-item>
    
    
      </ng-template>
   
</ion-list>

</ion-content>
