
  <ion-grid fixed>
    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="12">
<ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle>RESERVATIONS</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content style="display: flex; font-size: 18px;">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, vero inventore non, fuga laboriosam ipsam error magnam laborum voluptate dicta sequi ipsum. Iusto rerum modi animi maxime nihil quasi asperiores.
  </ion-card-content>
</ion-card>
      </ion-col>
     
    </ion-row>
  </ion-grid>