
<ion-header class="ion-no-border">

  <ion-toolbar class="ion-toolbar">
    <ion-button  slot="start"  fill="clear" color="transparent"  (click)="cerrarModal()">
      <ion-icon style="color: white;"  name="chevron-back"></ion-icon>
    
    </ion-button>
    <ion-title>{{cancha.cancha.Nombre}} <ion-badge color="warning" mode="ios">Cancha</ion-badge></ion-title>

<ion-avatar slot="end"  style="height: 3rem;width: 3rem;margin-right: 0.5rem;" >
  <img style="height: 3rem;width: 3rem;" src="{{'https://futplaycompany.com/api_test/'+cancha.cancha.Foto }}" onerror="this.src='assets/soccerfield.jpg'"   alt="">
</ion-avatar>
  </ion-toolbar>
  </ion-header>
 

    <ion-content fullscreen>

      
      <div class="mainContent ion-text-center">



     
<ion-list style="background: white;margin-top: 1rem;margin: 0.5rem;border-radius: 30px;">
  <ion-toolbar class="ion-text-center">
    <ion-fab-button size="small" slot="start" color="dark" (click)="swipeBack()" color="any">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
    <ion-title class="ion-text-capitalize"><ion-label class="ion-text-wrap">{{viewTitle}}</ion-label></ion-title>
    <ion-fab-button  size="small"  slot="end" color="dark" (click)="swipeNext()"  color="any">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
    
  
    <calendar style="margin: 0.5rem;"  #CalendarComponent   
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    [startHour]="0"
    [endHour]="24"
   
    [showEventDetail]="false"
    [lockSwipes]="lockSwipes" 
    
    ></calendar>
   
  <ion-grid *ngIf="!habilitarHoras">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="danger">
          <ion-label class="ion-text-wrap">Lo sentimos no se puede efectuar la reservación, intenta con otro día.</ion-label>
        </ion-item>
      </ion-col>
  
    </ion-row>
  </ion-grid>
  
</ion-list>
       
                    
                 

      </div>

  </ion-content>

  <ion-footer class="ion-no-border">

   <ion-button expand="block" (click)="cerrarModal()">
    Enviar Reto
   </ion-button>
    
</ion-footer>
