<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
      
    </ion-button>
  </ion-buttons>
  <ion-title>{{viewTitle}}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()">
      <ion-icon slot="icon-only" name="checkmark"></ion-icon>
   
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content >
<ion-list class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input type="text" [(ngModel)]="event.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Desription</ion-label>
    <ion-input type="text" [(ngModel)]="event.desc"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Start Time</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A"  [(ngModel)]="event.startTime"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Start endtime</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A"  [(ngModel)]="event.endTime"></ion-datetime>
  </ion-item>
</ion-list>
  <calendar
  *ngIf="modalReady"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  lockSwipes="true"
>
</calendar>

</ion-content>
