

      <ion-toolbar>
        <ion-title slot="start" class="ion-text-uppercase" style="font-size: 14px;font-weight: 600;">Recuperar contraseña</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()" color="dark"> 
            <ion-icon  name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

<div class="inner-content">
  

  <form action="#">
    <ion-grid >

          <ion-row>

            <ion-col size="12">
              <ion-item>
  
                <ion-input type="text" placeholder="Ingresar correo o numero de telefono"></ion-input>
              </ion-item>
            </ion-col>
        
            <ion-col size="12">
              <div align="center ">
            
                <ion-button fill="solid"  shape="round" color="dark" type="submit" class="ion-margin-vertical">Solicitar</ion-button>   
            </div>
        
        
          </ion-col>
          </ion-row>
        
    </ion-grid>
</form>

</div>