
  <ion-header >

    <ion-toolbar>
<ion-grid >
  <ion-row>
    <ion-col size="12">
      <ion-item class="transparent" lines="none">
        <ion-buttons slot="start">
          <ion-button (click)="cerrarModal()" color="light">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;{{"PLAYERS_REQUEST" | translate }}
          </ion-button>
        </ion-buttons>
  
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-segment     mode="md"    value="1"   scrollable >
  
        <ion-segment-button mode="md"    value="1"    (click)="selectCategory(i)">
          <ion-label [class.active-category]="activeCategory == i">{{"RECEIVED" | translate }}</ion-label>
        </ion-segment-button>

        <ion-segment-button mode="md"   value="2"    (click)="selectCategory(i)">
          <ion-label [class.active-category]="activeCategory == i">{{"SENT" | translate }}</ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-col>
  </ion-row>
</ion-grid>
    </ion-toolbar>

    </ion-header>
    <ion-content fullscreen>
      <div class="mainContent">
  
        <ion-list>
 

          <ion-item lines="none" class="employeeItem  animate__animated animate__fadeIn" *ngIf="solicitudesService.solicitudesEquiposArray.length == 0" >
            <ion-avatar slot="start">
             <img   src="assets/img/icon/FP.svg" alt="">
            </ion-avatar>
           
     
             <ion-label>
        
              <h6><strong>{{"FUTPLAY_MESSAGE" | translate }}</strong> </h6>
              <p>{{"NO_RECORDS_FOUND" | translate }}</p>
      
             </ion-label>
    
           </ion-item>



          <ion-item (click)="onOpenMenu(solicitud)" lines="none" class="employeeItem  animate__animated animate__fadeIn" *ngFor="let solicitud of solicitudesService.solicitudesEquiposArray">
      
            <ion-avatar class="ion-avatar">
              <img *ngIf="!solicitud.usuario.Avatar" src="{{'https://futplaycompany.com/api_test/'+solicitud.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">

              <img *ngIf="solicitud.usuario.Avatar"src="assets/profile/avatars/{{solicitud.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">
   
            </ion-avatar>
       

        
            <ion-label>
       
              <h2>    {{solicitud.usuario.Nombre}} {{solicitud.usuario.Primer_Apellido}}</h2>
  
            </ion-label>
     
          </ion-item>
        </ion-list>
      </div>
    </ion-content> 
 


    <ion-footer>
 
       
      <ion-button  (click)="buscarJugadores()"  expand="block">
       <ion-label>{"SEARCH_PLAYERS" | translate }}</ion-label>
             </ion-button>


   </ion-footer>
 