

  <ion-content>
    <ion-col     size="12" class="header"  [style.backgroundImage]="'url(' + stadiumProfile + ')'">
       
      <ion-label  class="ion-text-uppercase"  style="letter-spacing: 0.5rem; color: white;font-size: 2rem; font-weight: 600; text-shadow: 2px 2px  rgba(37,13,76,255);">
 Solicitudes
         </ion-label>
    
    
    </ion-col>

    <ion-col class="body">

    
      <ion-segment style="margin: 10px;" [value]="selectedType" (ionChange)="segmentChanged($event)"  scrollable mode="md">
        <ion-segment-button *ngFor="let tipo of tipos" [value]="tipo">
          <ion-label style="font-weight: 500;"class="ion-text-capitalize">{{tipo}}</ion-label>
        </ion-segment-button>
        
      </ion-segment>
    
      <ion-list>
        <ion-item *ngFor="let solicitud of solicitudesService.solicitudesEquiposArray" (click)="actualizar(solicitud)">
          <ion-avatar slot="start"  style="display:block; height: auto; width: auto;" class="ion-text-center">
            <img style="height: 40px; width: 40px;" src="assets/icons/football-player.svg">
          
          </ion-avatar>
    
            
          <ion-label>
            <h2 class="ion-text-uppercase">{{solicitud.Nombre_Jugador}} {{solicitud.Primer_Apellido}}</h2>
            <p *ngIf="selectedType ==='recibidos'"><ion-button class="ion-text-lowercase"  expand="block" fill="clear">
         
              <ion-icon slot="start" name="eye-outline"></ion-icon>
              perfil jugador
            </ion-button></p>
          </ion-label>

          <ion-buttons slot="end" *ngIf="selectedType ==='recibidos'">
       
            <ion-button size="large"  fill="clear"   >
              <ion-icon size="large" slot="icon-only"  name="checkmark-outline" color="primary"></ion-icon>
             
            </ion-button>

            <ion-button size="large"  fill="clear" >
              <ion-icon size="large" slot="icon-only"  name="close-outline" color="danger"></ion-icon>
             
            </ion-button>

            
          </ion-buttons>
  
        </ion-item>
      </ion-list>

      
    </ion-col>
</ion-content>

<ion-fab (click)="buscarJugadores()" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="dark">
    <ion-icon name="add" ></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-fab  (click)="cerrarModal()" vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button size="small" color="dark">
    <ion-icon  name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
