 
h3{
   color: #5a55ca;
 font-size: 14px;
 text-transform: uppercase;
 font-weight: bold;
 text-align: left;
 margin-left: 1rem;
  
 }
ion-avatar{
    height: 4rem;
    width: 4rem;
 }

 ion-row,ion-col{
    padding: 0;
    --padding:0;
    margin: 0;
    --margin:0;

 }
 ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
 }
   
    
    span{
        margin: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ion-avatar{
            margin-right: 1rem;
        }
    }