<ion-header mode="md" class="ion-no-border">
  <ion-toolbar class="ion-toolbar">
    <ion-button (click)="regresar()" fill="clear" slot="start">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>

    <ion-title>{{"CHALLENGE_MANAGEMENT" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
 
  <ion-toolbar>
   <h3>{{'CHALLENGES_HISTORY' | translate}}</h3>
   </ion-toolbar>
 
<ion-content> 
  <ion-list>
    <ion-item  *ngIf="reservaciones.length == 0"    lines="none"
    class="animate__animated animate__fadeIn">
    <span slot="start">
      <ion-avatar>
        <img src="assets/logo.png" alt="">
      </ion-avatar>
  
  
      <ion-label>
        <h6>{{'FUTPLAY_MESSAGE' | translate}}</h6>
  <p class="ion-text-wrap">   {{'NO_RECORDS_FOUND' | translate}}</p>
  
      </ion-label>
    </span>
  
  
    </ion-item>
    <ion-item detail (click)="detalleReto(reservacion)" *ngFor="let reservacion of reservaciones"   lines="full" class="custom-item  custom-item-img animate__animated animate__fadeIn"       >
      <img  src="{{url+reservacion.cancha.Foto}}"   alt="">
  
      <ion-label>
      {{reservacion.reservacion.Fecha | date :'fullDate'}}
        <p>{{reservacion.reservacion.Hora_Inicio | date:'h:mm a' }} en  {{reservacion.cancha.Nombre}} </p>
        <p   >
             
          {{reservacion.reservacion.Titulo  }}
    
        </p>
  
      </ion-label>
  
    </ion-item>
  </ion-list>
  
     
  </ion-content>
  