
  <ion-header class="custom-header">

    <ion-toolbar class="custom-toolbar"  mode="ios">
<ion-row>
  <ion-col size="12">
    <ion-button fill="clear" (click)="cerrarModal()">
      <ion-icon color="light" slot="start" name="chevron-back"></ion-icon>
      &nbsp;
      <ion-label color="light" slot="start">Solicitudes Equipos</ion-label>
    </ion-button>
  </ion-col>
  <ion-col size="12">

    <ion-segment     mode="md"    value="1"   scrollable >
      <ion-segment-button [value]="i" *ngFor="let cat of categories; let i = index;" 
      (click)="selectCategory(i)">
        <ion-label color="light" [class.active-category]="activeCategory == i">{{cat}}</ion-label>
      </ion-segment-button>
    
    </ion-segment>


  </ion-col>
  <ion-col size="12" >

    <ion-searchbar  style="display: block;"  mode="ios" placeholder="buscar solicitud" inputmode="text"  debounce="250" ></ion-searchbar> 

  </ion-col>
</ion-row>


  </ion-toolbar>
    </ion-header>

    
<ion-header mode="ios">

  <ion-toolbar mode="ios">

    <ion-title slot="start" class="ion-text-uppercase">Unirse a Equipo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
<strong><ion-icon slot="start" size="large" name="close-outline" color="dark"></ion-icon></strong>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="ion-padding"  mode="ios">

    <ion-searchbar  mode="ios" placeholder="buscar equipo" inputmode="text"  debounce="250" ></ion-searchbar> 
    <ion-buttons slot="end">
      <ion-button class="custom-bottom"    (click)="filtroUbicacion()"  >
        <ion-icon color="light" size="large"  name="options-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

    <ion-content fullscreen>
      <ion-list class="ion-margin-top">
        <ion-item   (click)="onOpenMenu(equipo)"  class="animate__animated animate__fadeIn"  *ngFor="let equipo of equiposService.equipos | filtro : textoBuscar:'Nombre'">
          <ion-avatar slot="start"  >
            <img *ngIf="!equipo.Avatar"  src="{{'https://dev-coding.com/FUTPLAY_APIS_HOST/PerfilEquipoUploads/'+equipo.Foto}}" onerror="this.src='assets/team.png'"   alt="">
            <img  *ngIf="equipo.Avatar"  src="assets/soccer-shields-svg/{{equipo.Foto}}" onerror="this.src='assets/team.png'"   alt="">
   
          </ion-avatar>
          
          <ion-label>
            {{equipo.Nombre}}
            <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
            
              <ion-icon style="size: 10px;" name="star"></ion-icon>
              <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
              <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
              <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
              <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
            </p>
          </ion-label>

        </ion-item>
      
      </ion-list>
    </ion-content>
