
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button color="light" (click)="cerrarModal()">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;Unirse a Equipo
          </ion-button>
        </ion-buttons>

      </ion-item>
  
    </ion-toolbar>
    <ion-toolbar style="display: flex;justify-content:center;align-items:center;">
        
        
      <ion-searchbar (ionChange)="onSearchChange($event)"  slot="start" style="width: 80% ;" mode="ios" placeholder="buscar equipo" inputmode="text"  debounce="250" ></ion-searchbar> 
    
      <ion-button  slot="end" (click)="filtroUbicacion()"  >
        <ion-icon size="large"  name="options-outline" ></ion-icon>
      </ion-button>
    
      
     
    </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <div class="mainContent">
    
        <ion-list >
          <ion-item   (click)="onOpenMenu(equipo)" lines="none" class="employeeItem  animate__animated animate__fadeIn"  *ngFor="let equipo of equiposService.equipos | filtro : textoBuscar:'Nombre'">
            <ion-avatar slot="start"  >
              <img *ngIf="!equipo.Avatar"  src="{{'https://dev-coding.com/FUTPLAY_APIS_HOST/PerfilEquipoUploads/'+equipo.Foto}}" onerror="this.src='assets/team.png'"   alt="">
              <img  *ngIf="equipo.Avatar"  src="assets/soccer-shields-svg/{{equipo.Foto}}" onerror="this.src='assets/team.png'"   alt="">
     
            </ion-avatar>
            
            <ion-label>
              {{equipo.Nombre}}
              <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
              
                <ion-icon style="size: 10px;" name="star"></ion-icon>
                <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
              </p>
            </ion-label>
  
          </ion-item>
        
        </ion-list>
    
          
      </div>
    </ion-content>
