<ion-header mode="ios">

  <ion-toolbar mode="ios">

    <ion-title slot="start" class="ion-text-uppercase">Unirse a Equipo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
<strong><ion-icon slot="start" size="large" name="close-outline" color="dark"></ion-icon></strong>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="ion-padding"  mode="ios">

    <ion-searchbar  mode="ios" placeholder="buscar equipo" inputmode="text"  debounce="250" ></ion-searchbar> 
    <ion-buttons slot="end">
      <ion-button class="custom-bottom"    (click)="filtroUbicacion()"  >
        <ion-icon color="light" size="large"  name="options-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

    <ion-content fullscreen>
      <ion-list class="ion-margin-top">
        <ion-item   (click)="onOpenMenu(equipo)"  class="animate__animated animate__fadeIn"  *ngFor="let equipo of equiposService.equipos | filtro : textoBuscar:'Nombre'">
          <ion-avatar slot="start"  >
            <img *ngIf="!equipo.Avatar"  src="{{'https://dev-coding.com/FUTPLAY_APIS_HOST/PerfilEquipoUploads/'+equipo.Foto}}" onerror="this.src='assets/team.png'"   alt="">
            <img  *ngIf="equipo.Avatar"  src="assets/soccer-shields-svg/{{equipo.Foto}}" onerror="this.src='assets/team.png'"   alt="">
   
          </ion-avatar>
          
          <ion-label>
            {{equipo.Nombre}}
            <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
            
              <ion-icon style="size: 10px;" name="star"></ion-icon>
              <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
              <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
              <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
              <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
            </p>
          </ion-label>

        </ion-item>
      
      </ion-list>
    </ion-content>
