
<ion-header >

  <ion-toolbar>


        <ion-button  slot="start"  fill="clear" (click)="cerrarModal()">
          <ion-icon style="color:#fff"  name="chevron-back"></ion-icon>    
        </ion-button>
  
 
<ion-title>{{reto.reservacion.Titulo}}</ion-title>

  </ion-toolbar>

  </ion-header>
<ion-content >

  <div class="main-content">
    <ion-grid >

      <ion-row class="ion-padding">
        <ion-col size="12">
          <ion-label> Cancha : <strong>{{reto.cancha.Nombre}}</strong> </ion-label>
        </ion-col>
        <ion-col size="12">
         <ion-label>Fecha :  <ion-badge style="margin-left: 0.5rem;" color="warning" mode="ios">{{reto.reservacion.Fecha | date:'shortDate'}}</ion-badge>
      </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Inicio  {{ amPM(reto.reservacion.Hora_Inicio)}}  
          </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label> Fin {{ amPM(reto.reservacion.Hora_Fin)}}   
          </ion-label>
        </ion-col>
      </ion-row>


      <ion-row  >
       
  <ion-col size="12"  >
    <ion-card>
      <ion-card-header>
        <ion-card-title  class="ion-text-uppsercase">FUTPLAY</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          
          {{partido.length > 0 ?  'Queridos usuarios, para iniciar el partido se requiere de la lectura por ambos equipos del codigo QR el cual puede encontrar al inicio de la cancha. Muchas gracias' :  'Queridos usuarios, para iniciar el partido se requiere de la lectura  del codigo QR el cual puede encontrar al inicio de la cancha. Muchas gracias'}}
         </p>
         
      </ion-card-content>
      <ion-card-content class="ion-text-center" *ngIf="reto.reservacion.Cod_Estado == 4 &&  partido.length == 0 || allowUser || !allowUser && !this.partido[1].Verificacion_QR  ">
             
        <ion-button  fill="outline"   shape="round" (click)="scan()">
          Escanear Codigo
        </ion-button>
      </ion-card-content>
    </ion-card>
  
  </ion-col>
  
  <ion-col size="12" *ngIf="partido.length > 0">
    <ion-card >
  
      <ion-card-header>
        <ion-card-title  class="ion-text-lowercase">Confirmaciones</ion-card-title>
      </ion-card-header>
  
      <ion-card-content class="ion-text-center">

        
    <ion-item *ngIf="reto.rival" lines="none">
  


        <ion-avatar slot="start">
   

          <img *ngIf="reto.rival.Avatar"    src="{{'assets/soccer-shields-svg/'+reto.rival.Foto}}" alt="" onerror="this.src='assets/img/icon/FP.svg'">
          <img *ngIf="!reto.rival.Avatar"  src="{{'https://futplaycompany.com/api_test/'+reto.rival.Foto}}" alt="" onerror="this.src='assets/img/icon/FP.svg'">
        </ion-avatar>
 
    
    

   
        <span style="display:block;">
          <ion-label style="margin-bottom: 10px;"> {{reto.rival.Nombre}}</ion-label>
      
          <ion-icon style="size: 10px;" name="star"></ion-icon>
          <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
          <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
          <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
          <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
        </span>
   
       
        <ion-checkbox disabled   slot="end" name="retador"  [(ngModel)]="partido[1].Verificacion_QR"  mode="ios" ></ion-checkbox>
  
   
    </ion-item>
    <ion-item *ngIf="reto.retador" lines="none">
  
 

        <ion-avatar  slot="start">
      

          <img *ngIf="reto.retador.Avatar"    src="{{'assets/soccer-shields-svg/'+reto.retador.Foto}}" alt="" onerror="this.src='assets/img/icon/FP.svg'">
          <img *ngIf="!reto.retador.Avatar"  src="{{'https://futplaycompany.com/api_test/'+reto.retador.Foto}}" alt="" onerror="this.src='assets/img/icon/FP.svg'">
        </ion-avatar>
        
        <span style="display:block;">
          <ion-label style="margin-bottom: 10px;"> {{reto.retador.Nombre}}</ion-label>
      
          <ion-icon style="size: 10px;" name="star"></ion-icon>
          <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
          <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
          <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
          <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
        </span>
        <ion-checkbox disabled   slot="end" name="rival"   [(ngModel)]="partido[0].Verificacion_QR"   mode="ios" ></ion-checkbox>
  
  
    </ion-item>
   
 
 
      </ion-card-content>
   
    </ion-card>
  
  </ion-col>
  
  
  
  
      </ion-row>
    </ion-grid>
  
  
  
  </div>
 

  
  </ion-content>
  
  <ion-footer class="ion-padding">
    <ion-button (click)="verificarQR()" *ngIf="verificar" expand="block" fill="solid"   >
      Verificar
    </ion-button>
  </ion-footer>