<ion-header>
  <ion-toolbar>
 
    <ion-title class="ion-text-center">FUTPLAY</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-grid fixed>
  <ion-row style="display: flex; justify-content: center;">
    <ion-col size="12" ><ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button >
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar></ion-col>
  </ion-row>
</ion-grid>