ion-fab{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    ion-fab-button{
        --background:transparent;
    }
    ion-badge{
        position: absolute;
        top: 0;
        right: -1rem;
    }
    }