<ion-header class="ion-no-border">
  <ion-toolbar>
 <img class="animate__animated animate__bounce" src="/assets/home/logo.svg" alt="" height="30" style="position: fixed; top: 15px; right: 15px;">
    <ion-title class="ion-text-center">FUTPLAY</ion-title>

  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" >
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
