<ion-header class="ion-no-border">

  <ion-toolbar class="ion-text-center">

 <ion-buttons slot="end">

   <ion-button (click)="presentModal()">
    <img [ngClass]="gestionRestosService.retos.length > 0 ? 'animate__animated animate__bounce' : '' " c src="/assets/futplay/icons/soccer.svg" alt="" height="30">
   </ion-button>
<ion-badge color="dark" mode="ios">{{gestionRestosService.retos.length}}</ion-badge>
   
 </ion-buttons>

  <ion-label class="soccer-league-header-title">FUTPLAY </ion-label>
  <ion-badge color="dark" style="text-transform: uppercase;"  mode="ios">{{titulo}}</ion-badge>


  </ion-toolbar>
  


</ion-header>
