
ion-header {
  background-color: #FFF!important; 
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 100px;
}
ion-toolbar {
  padding-top: 10px;
}
ion-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #422473;
  margin-left: 10px;

 }
 ion-avatar {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 10px;
 }