<ion-content class="ion-padding" *ngIf="usuariosService.usuarioActual">

  <ion-button style="position: fixed;top: 0rem;left: 0rem;" size="large" (click)="solicitudes()" fill="clear"
  color="dark">
  <strong>
    <ion-icon size="large" class="menu" size="large" slot="icon-only" name="notifications-outline"></ion-icon>
  </strong>
  <ion-badge style="position: absolute;top:0rem;right: -1.3rem; " color="primary" mode="ios">{{solicitudesService.solicitudesJugadoresArray.length}}</ion-badge>
</ion-button>
<ion-button (click)="onOpenMenu()"    style="position: fixed;top: 0rem;right: 0rem;" size="large"  fill="clear"
  color="dark">
  <strong>
    <ion-icon size="large" class="menu" size="large" slot="icon-only" name="settings-outline"></ion-icon>
  </strong>
</ion-button>

  <ion-avatar >

    <img *ngIf="!usuariosService.usuarioActual.Avatar" 
      data-src="{{'https://futplaycompany.com/api_test/'+usuariosService.usuarioActual.Foto}}"
      onerror="this.src='assets/user.svg'">
    <img *ngIf="usuariosService.usuarioActual.Avatar"
      src="{{'assets/profile/avatars/'+usuariosService.usuarioActual.Foto}}"
      onerror="this.src='assets/user.svg'" alt="">


  </ion-avatar>



  <ion-grid>

    <ion-row>

      <ion-col size="12" class="ion-text-center">
        <h2><strong>
            <strong>{{usuariosService.usuarioActual.Nombre}}
              {{usuariosService.usuarioActual.Primer_Apellido}}
              {{usuariosService.usuarioActual.Segundo_Apellido}}</strong>


          </strong></h2>
      </ion-col>
 
      <ion-col size="12" *ngIf="usuarioGeolocalizacion">
        <ion-label button (click)="usuarioGeolocalizacionModal()">
          {{"COUNTRY" | translate }} :  <a> {{usuarioGeolocalizacion.Pais}}</a>
        </ion-label>
        <ion-col size="12">
          <ion-label>Age :  {{calcularEdad(usuariosService.usuarioActual.Fecha_Nacimiento)}}   {{"YEARS" | translate }}</ion-label>
        </ion-col>
      </ion-col>
 
 
      <ion-col size="4">
       
      </ion-col>
  
      <ion-col size="12" class="ion-margin-top ion-margin-bottom">
        <ion-label><strong>  {{"PERSONAL_STATISTICS" | translate }}</strong></ion-label>
      </ion-col>
      <ion-col size="12" class="space-between">
        <ion-label>
          {{"MATCHES_PLAYED" | translate }}
        </ion-label>
        <ion-badge color="dark" mode="ios">{{usuariosService.usuarioActual.Partidos_Jugados  ? usuariosService.usuarioActual.Partidos_Jugados  : 0 }}</ion-badge>

      </ion-col>
      <ion-col size="12" class="space-between">
        <ion-label>   {{"PLAYER_OF_THE_MATCH" | translate }}</ion-label>
        <ion-badge color="dark" mode="ios">{{usuariosService.usuarioActual.Partidos_Jugador_Del_Partido   ? usuariosService.usuarioActual.Partidos_Jugador_Del_Partido  : 0
          }}</ion-badge>
      </ion-col>
      <ion-col size="12" class="space-between">
        <ion-label>   {{"FUTPLAY_PLAYER" | translate }}</ion-label>
        <ion-badge color="dark"
          mode="ios">{{usuariosService.usuarioActual.Partidos_Jugador_Futplay  ? usuariosService.usuarioActual.Partidos_Jugador_Futplay  : 0 }}</ion-badge>

      </ion-col>
    </ion-row>
  </ion-grid>





</ion-content>