

  <app-header  titulo="Mi Perfil" >
  </app-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button (click)="soliitudes()"     color="dark">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-badge  color="dark" mode="ios">{{solicitudesService.solicitudesJugadoresArray.length}}</ion-badge>
    </ion-buttons>
  
  
    <ion-buttons slot="end" >
    
      <ion-button  color="dark" (click)="onOpenMenu()">
        <ion-icon   slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
  
  
      
    </ion-buttons>
  
  
  
      
    </ion-toolbar>

<ion-content class="ion-text-center" *ngIf="usuariosService.usuarioActual">
  <ion-avatar  style="height: 12rem;width:12rem;margin:0 auto;"  >

    <img *ngIf="!usuariosService.usuarioActual.usuario.Avatar" class="logo" data-src="{{'https://futplaycompany.com/api_test/'+usuariosService.usuarioActual.usuario.Foto}}" onerror="this.src='assets/user.svg'"   >
    <img *ngIf="usuariosService.usuarioActual.usuario.Avatar" src="{{'assets/profile/avatars/'+usuariosService.usuarioActual.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">



  </ion-avatar>
 <h5 class="ion-text-uppercase"> <strong>{{usuariosService.usuarioActual.usuario.Nombre}} {{usuariosService.usuarioActual.usuario.Primer_Apellido}} {{usuariosService.usuarioActual.usuario.Segundo_Apellido}}</strong></h5>
      

  <ion-list lines="none">
    

    <ion-item *ngIf="usuariosService.usuarioActual.usuario.Apodo">
        <ion-label>Apodo : {{usuariosService.usuarioActual.usuario.Apodo}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label >Región :  {{usuariosService.usuarioActual.provincia}}, {{usuariosService.usuarioActual.canton}}  </ion-label>
    </ion-item>
    <ion-item  >
        <ion-label>Posición: <ion-badge color="dark" mode="ios">{{usuariosService.usuarioActual.posicion}}</ion-badge> </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Edad : {{calcularEdad(usuariosService.usuarioActual.usuario.Fecha_Nacimiento)}} años</ion-label>
    </ion-item>


<ion-item lines="none">
  <h5 class="ion-text-uppercase"> <strong>Estadisticas Personales</strong></h5>


</ion-item>
<ion-item  lines="none" class="employeeItem  animate__animated animate__fadeIn"  >

  <ion-label>
    Partidos Jugados

  </ion-label>
  <ion-badge slot="end" color="dark" mode="ios">{{usuariosService.usuarioActual.usuario.Partidos_Jugados}}</ion-badge>
</ion-item>
<ion-item  lines="none" class="employeeItem  animate__animated animate__fadeIn"  >

  <ion-label>
    Jugador del partido

  </ion-label>
  <ion-badge slot="end" color="dark" mode="ios">{{usuariosService.usuarioActual.usuario.Partidos_Jugador_Del_Partido }}</ion-badge>
</ion-item>
<ion-item  lines="none" class="employeeItem  animate__animated animate__fadeIn"  >

  <ion-label>
    Jugador FutPlay
  </ion-label>
<ion-badge slot="end" color="dark" mode="ios">{{usuariosService.usuarioActual.usuario.Partidos_Jugador_Futplay}}</ion-badge>
</ion-item>


  </ion-list>
</ion-content>