 
ion-header{
   
  ion-toolbar{
    --background:#5a55ca;
    color: #fff;
    ion-icon{
        color: #fff;
    }
}
}
 
ion-slides{
  max-height: 250px;
  width: 100%;
 img{
  width: 100%; /* takes the 100 % width of its container (.box div)*/
  height: 100%; /* takes the 100 % height of its container (.box div)*/
 }
}
ion-slide {
  width: 100% !important;
}
ion-slides{
  width: 100% !important;
}
.swiper-wrapper {
  width: min-content !important;
}