
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button color="light" (click)="cerrarModal()">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp; Cancha {{cancha.Nombre}}
          </ion-button>
        </ion-buttons>

      </ion-item>
  
    </ion-toolbar>
    </ion-header>
    <ion-content fullscreen class="ion-text-center">
      <div class="mainContent">
    
<ion-row>
  <ion-col size="12" class="ion-padding">
    <ion-label class="soccer-league-title">Ubicacion Cancha</ion-label>
  </ion-col>
</ion-row>
     <!-- background image -->
    
     <app-mapa  [lngLat]="[cancha.Longitud, cancha.Latitud]"></app-mapa>


  <ion-grid  style="height: 100%; ">
  
  

            <ion-row >
        
        
        
        
              <ion-col size="12" class="ion-margin-top ion-margin-bottom">
                <ion-label >{{cancha.Nombre_Provincia}},  {{cancha.Nombre_Canton}}</ion-label>
                
              </ion-col>
              <ion-col size="12">
                <ion-button class="ion-margin ion-text-center" (click)="navigate()" expand="block"  color="dark">
                 <ion-icon  name="location-outline" style="margin-right:0.2rem"></ion-icon> Abrir ubicación
                </ion-button>
              </ion-col>

              <ion-col size="12">
                <ion-label class="soccer-league-title">Imagen Cancha</ion-label>
              </ion-col>
              
              <ion-col size="12">
                <img class="gfg" src="{{'https://dev-coding.com/FUTPLAY_APIS_HOST/PerfilCanchaUploads/'+cancha.Foto }}" onerror="this.src='assets/soccerfield.jpg'"   alt="">  
      
              </ion-col>
              
        
              <ion-col size="12">
                <ion-label >Precio Hora: <ion-badge color="warning" mode="ios">{{cancha.Precio_Hora}}</ion-badge></ion-label>
              </ion-col>
        
        <ion-col size="4"class="header-row">
          <ion-label>Dia</ion-label>
        </ion-col>
        
        
        <ion-col size="8"class="header-row">
          <ion-label>Horario de la cancha</ion-label>
        </ion-col>
        <ng-template ngFor let-horario [ngForOf]="horarioCanchasService.horarioCancha" let-i="index" let-odd="odd">
        
        
          <ion-col size="4" [class.odd]="odd" class="data-row">
          {{horario.Nombre}}
          </ion-col>
        
          <ion-col size="8" [class.odd]="odd" class="data-row">
            {{tConvert(horario.Hora_Inicio)  }}  -  {{tConvert(horario.Hora_Fin)  }}
          </ion-col>
        
        
        
        </ng-template>
       
        
        
            </ion-row>
        
            
        

  
  
  
  
  

  </ion-grid>
    
  

      </div>
 

    </ion-content>
    <ion-footer>
 
       
       <ion-button  expand="block" >
        <ion-label> Reservar Cancha</ion-label>
              </ion-button>
  
    </ion-footer>
  