ion-segment{
  --background:#fff;
  text-transform: capitalize;
    
}
ion-segment-button {
  --indicator-box-shadow: transparent!important;
  --background:white;
  --color-checked: #2d2e87;
  --indicator-color : #2d2e87!important; /* this solution */
  font-size: 10px;
  padding-bottom: 0.5rem;
 ion-badge{
  position: 
  absolute;
  top: 0.5rem; 
  right: -0.5rem; 
}

}
 