/* Your CSS stylesheet */


ion-segment {
  background:#fff;
 padding: 0;
 height: 70px;
 svg {
  margin-top: 10px;
  margin-bottom: 8px;
 }
}
/* Center the text within ion-label */
ion-segment-button{
  text-align: center;
  font-size: 12px;
  text-transform: capitalize;
  --background-checked:  #fff !important;
  --indicator-color: transparent !important;
  --indicator-color-checked: transparent !important;
  --color-checked: #000;
}
 
.selected {
  fill: #000;
}