
<ion-content>
  

  <ion-tabs >
    <ion-tab-bar slot="bottom" style="height: 4rem;">
      <ion-tab-button tab="mi-perfil" (click)="profile()">
       <img src="/assets/futplay/icons/soccer-player.svg" alt="" style="height: 55px;">
       
      </ion-tab-button>
  
      <ion-tab-button  (click)="misEquipos()">
        <img src="/assets/clubs/football-club.svg" alt="" style="height: 55px;">
       
    
      </ion-tab-button>
  
      <ion-tab-button tab="rivales" (click)="equipos()">
        <img src="/assets/futplay/icons/loupe.svg" alt="" style="height: 55px;">
       
    
      </ion-tab-button>
  
      <ion-tab-button tab="canchas" (click)="canchas()">
        <img src="/assets/futplay/icons/stadium.svg" alt="" style="height: 55px;">
    
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
