table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
  }

  th {
    font-weight: bold;
    background-color: #E6E6E6;
  }
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:#7FD1AE;
    padding: 10px;
  }
.wrapper-head{
    background-color:#333333 ;
    color: white;
  }