
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button  (click)="cerrarModal()" color="light">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;Gestion Retos
          </ion-button>
        </ion-buttons>

      </ion-item>
  
      <ion-searchbar></ion-searchbar>
      
      <ion-slides   [options]="opts">
        <ion-slide *ngFor="let cat of categories; let i = index;">
          <ion-button size="small"  fill="clear" [class.active-category]="activeCategory == i"
          (click)="selectCategory(i)">
       <ion-label color="light">  {{cat}}</ion-label>
          </ion-button>
           </ion-slide>
    
      </ion-slides>
    </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
  
    
      <div class="mainContent">

    

        <ion-list>
          
          <ion-item (click)="detalleReto(reto)"  lines="none" class="employeeItem  animate__animated animate__fadeIn"     *ngFor="let reto of gestionRestosService.retos" >
            <img  src="assets/soccerfield.jpg"onerror="this.src='assets/soccerfield.jpg'"   alt="">
      
            <ion-label>
              <h2> {{reto.Titulo}} </h2>
              <p> Fecha : <ion-badge color="warning" mode="ios"> {{reto.Fecha | date:'shortDate'}} </ion-badge> </p>
              <p   >
                   
                Cancha : {{reto.Nombre_Cancha}}
          
              </p>
              <p>Hora: {{reto.Hora_Inicio}} - {{reto.Hora_Fin}}.</p>
            </ion-label>
      
          </ion-item>
        </ion-list>


      </div>
    </ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="nuevaReservacion()" color="dark">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
  
    </ion-fab>