
  <ion-header class="ion-no-border" >
    <ion-toolbar mode="ios" class="ion-toolbar">
      <ion-buttons slot="start">
        <ion-button  (click)="cerrarModal()" >
          <ion-icon slot="start" name="chevron-back"></ion-icon>
          &nbsp;
        </ion-button>
      </ion-buttons>
<ion-title>Gestion Retos</ion-title>


    
     
    </ion-toolbar>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-searchbar mode="ios" placeholder="Buscar reto"   type="text" (ionChange)="onSearchChange($event)"></ion-searchbar>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-toolbar mode="ios">
          <ion-button size="small" fill="clear" *ngIf="reservacionesService.segment > 0" slot="start" (click)="prev()">
            <ion-icon color="light" name="arrow-back-outline"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="clear"  *ngIf="reservacionesService.segment < categories.length-1" slot="end" (click)="next()">
            <ion-icon  color="light"  name="arrow-forward-outline"></ion-icon>
          </ion-button>
          <ion-segment scrollable mode="md" (ionChange)="segmentChanged()" [(ngModel)]="reservacionesService.segment" >
            <ion-segment-button mode="md" id="seg-{{i}}"  [value]="i" *ngFor="let cat of categories; let i = index;"  (click)="selectCategory(i)">
              <ion-label [class.active-category]="reservacionesService.segment == i">{{cat}}</ion-label>
            </ion-segment-button>
            
          </ion-segment>
        
        </ion-toolbar>
        
      </ion-col>
    </ion-row>
  
   

    </ion-header>
  
    <ion-content fullscreen>
  
    
      <div class="mainContent">

        <ion-slides (ionSlideDidChange)="slideChanged()" class="word-slides">
      
          <ion-slide *ngFor="let cat of categories; let i = index;" >
            <ion-list class="ion-padding"  *ngIf="reservacionesService.reservaciones.length == 0">
              <ion-item lines="none" class="transparent  animate__animated animate__fadeIn" >
        
                <ion-avatar slot="start"  style="height:6rem;width: 6rem;" >
                 <img style="height: 5rem;width: 5rem;"   src="assets/logo.png" alt="">
                </ion-avatar>
               
         
                 <ion-label>
            
                   <h2>MENSAJE FUTPLAY </h2>
            <p class="ion-text-wrap">   No se encontraron resultados </p>
          
                 </ion-label>
        
               </ion-item>
            </ion-list>
            
                    <ion-list *ngIf="reservacionesService.reservaciones.length > 0">
              
                      <ion-item  (click)="onOpenMenu(reto)"  lines="none" class="custom-item  custom-item-img animate__animated animate__fadeIn"     *ngFor="let reto of reservacionesService.reservaciones | filtro: textoBuscar:'titulo' ; let odd = odd; let i = index;" >
                        <img  src="{{'https://futplaycompany.com/api_test/'+reto.cancha.Foto }}"  onerror="this.src='assets/soccerfield.jpg'"   alt="">
                  
                        <ion-label>
                          <h2> {{reto.titulo}} </h2>
                          <p> Fecha : <ion-badge color="warning" mode="ios"> {{reto.reservacion.Fecha | date:'shortDate'}} </ion-badge> </p>
                          <p   >
                               
                            Cancha : {{reto.cancha.Nombre}}
                      
                          </p>
                          <p>Hora:  {{reto.reservacion.Hora_Inicio | date:'shortTime'}}    -   {{reto.reservacion.Hora_Fin | date:'shortTime'}}   </p>
                        </ion-label>
                  
                      </ion-item>
                    </ion-list>
          </ion-slide>
 
        </ion-slides>
 



      </div>
    </ion-content>
    <ion-footer class="ion-no-border">
 
       
      <ion-button expand="block"  (click)="nuevaReservacion()" class="ion-text-center ion-margin" >
       <ion-label>Crear Reto</ion-label>
       <ion-icon slot="end" name="add"></ion-icon>
             </ion-button>

   </ion-footer>
 
