 
      
<ion-header    class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Dureza Del Equipo</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
 
 <ion-toolbar mode="ios">
 
<ion-label slot="start" style="margin-left: 1rem;"><strong>{{equipo.Nombre}}</strong></ion-label>
    <ion-avatar  slot="end" >
      <img *ngIf="!equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
      <img  *ngIf="equipo.Avatar"  src="assets/soccer-shields-svg/{{equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
    </ion-avatar>
 </ion-toolbar>
      <ion-content fullscreen>

        <ion-radio-group (ionChange)="durezaEquipo($event)">
            
              
          <ion-list >
 
          <ion-item  lines="full" *ngFor="let item of dureza">
            <ion-avatar  slot="start" class="ion-margin" style="height: 3rem; width: 3rem;" >
              <img style="height: 3rem; width: 3rem;" src="assets/emojis/{{item.image}}">
            
            </ion-avatar>
            <ion-label>{{item.titulo}}</ion-label>
            <ion-radio slot="end" value="{{item.id}}" ></ion-radio>
          </ion-item>
       
              
            
          </ion-list>
          </ion-radio-group>
    </ion-content>

