<ion-header mode="ios" class="ion-header ion-no-border">
  <ion-toolbar mode="md">
    <ion-button slot="start" (click)="regresar()" fill="clear">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>
    <ion-title>{{"TEAM_HARDNESS" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-header mode="ios"  >
  <ion-toolbar mode="md" style="padding-top: 10px;padding-bottom: 10px;" >
    <ion-title slot="start">{{equipo.Nombre}}</ion-title>
    <ion-avatar slot="end" style="margin-right: 20px;">
      <img
        *ngIf="!equipo.Avatar"
        src="{{url+equipo.Foto}}"
        onerror="this.src='assets/img/icon/FP.svg'"
        alt=""
      />
      <img
        *ngIf="equipo.Avatar"
        src="assets/soccer-shields-svg/{{equipo.Foto}}"
        onerror="this.src='assets/img/icon/FP.svg'"
        alt=""
      />
    </ion-avatar>
  </ion-toolbar>
 </ion-header>
<ion-content fullscreen>
  <ion-radio-group (ionChange)="durezaEquipo($event)">
    <ion-list>
      <ion-item lines="full" *ngFor="let item of dureza">
        <ion-avatar style="height: 3rem;width: 3rem;" slot="start" class="ion-margin">
          <img src="assets/emojis/{{item.image}}" />
        </ion-avatar>
        <ion-label>{{item.titulo}}</ion-label>
        <ion-radio slot="end" value="{{item.id}}"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>
</ion-content>
