
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button color="light" (click)="cerrarModal()">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;  Evaluacion {{equipo.Nombre}}
          </ion-button>
        </ion-buttons>
        <ion-avatar  slot="end">
          <img *ngIf="!equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
          <img  *ngIf="equipo.Avatar"  src="assets/soccer-shields-svg/{{equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
        </ion-avatar>
      </ion-item>


  
    </ion-toolbar>

    </ion-header>
   

      <ion-content fullscreen>

        <div class="mainContent">

          <ion-row >


            <ion-col size="12">
            
            
            <ion-radio-group (ionChange)="durezaEquipo($event)">
            
              
            <ion-list style="margin-top: 2rem;">
            <ion-item  lines="none" class="ion-margin-top ion-margin-bottom">
              <ion-label   class="soccer-league-subtitle">Dureza Del Equipo</ion-label>
             
            </ion-item>
        
            <ion-item  lines="full" *ngFor="let item of dureza">
              <ion-avatar  slot="start" class="ion-margin"  style="height: 3rem; width: 3rem;" >
                <img  style="height: 3rem; width: 3rem;" src="assets/emojis/{{item.image}}">
              
              </ion-avatar>
              <ion-label>{{item.titulo}}</ion-label>
              <ion-radio slot="end" value="{{item.id}}" ></ion-radio>
            </ion-item>
         
                
              
            </ion-list>
            </ion-radio-group>
            
            </ion-col>
            
            </ion-row>
            
            
      </div>
    </ion-content>

