<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-left">Editar Club</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" fill="solid" shape="round"  color="primary" slot="end" >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-label >Eliminar Club </ion-label>
      <ion-buttons  slot="end">
        <ion-button  >
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  <!-- Default Searchbar -->
</ion-header>
<ion-content class="ion-padding">
<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
  <ion-list lines="none">
    <ion-grid >
      <ion-row>

        
<ion-col size="6">
  <ion-avatar style="width: 100%; height: 100%;">
    <img  style="width: 120px;height:120px;margin: 0 auto;" [src]="club.foto | imageSanitizer">
  </ion-avatar>
</ion-col>
          <ion-col size="6" class="ion-padding">
            <ion-item>
     
      
              <ion-buttons  style="display: block;">
            
          
                <ion-button   (click)="uploadCamera()" fill="outline" shape="round" color="dark"   style="margin-bottom: 10px;">
                 
                  <ion-icon slot="start"  name="camera" ></ion-icon>
                  <ion-label>Camara</ion-label>
    
                 
                </ion-button>
                <ion-button (click)="uploadPictures()" fill="outline" shape="round"   color="dark" >
                 
                  <ion-icon slot="start" name="image"></ion-icon>
                  <ion-label>Galeria</ion-label>
                </ion-button>
              
              </ion-buttons>
             
            </ion-item>

                  </ion-col>



  
  
          <ion-col size="12">
              <ion-list lines="none">
         
                
                  <ion-item>
                    <ion-label>Nombre Club</ion-label>
              <ion-input slot="end" type="text" class="ion-text-end" placeholder="Nombre club" name="nombre" [(ngModel)]="club.nombre" ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Abreviacion</ion-label>
              <ion-input slot="end" type="text" class="ion-text-end" placeholder="Abreviacion" name="abreviacion" [(ngModel)]="club.abreviacion" ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Provincia</ion-label>
           
                    <ion-select placeholder="Seleccionar" name="provinciaID" [(ngModel)]="club.provinciaID">
                      <ion-select-option *ngFor="let provincia of provincias.provincias" [value]="provincia.provinciaID" > {{provincia.nombre}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-label>Canton</ion-label>
                      <ion-select placeholder="Seleccionar" name="cantonID"  [(ngModel)]="club.cantonID">
                        <ion-select-option *ngFor="let canton of cantones.cantones" [value]="canton.cantonID">{{canton.nombre}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-label>Distrito</ion-label>
                      <ion-select placeholder="Seleccionar" name="distritoID" [(ngModel)]="club.distritoID">
                        <ion-select-option *ngFor="let distrito of distritos.distritos"   [value]="distrito.distritoID">{{distrito.nombre}}</ion-select-option>
                      </ion-select>
                    </ion-item>
      
                    <ion-item>
                  <ion-buttons style="margin: 0 auto;">
                    <ion-button  type="submit" fill="solid" shape="round" color="primary">
                    Guardar Club
                    </ion-button>
                    <ion-button   fill="solid" shape="round" color="danger">
                      Dejar Club
                      </ion-button>
               
                  </ion-buttons>
           
                    </ion-item>
                </ion-list>
  
          </ion-col>
      </ion-row>
  </ion-grid>
  </ion-list>
</form>
</ion-content>