<ion-content >

  
    <ion-list lines="none" class="ion-padding">
    <ion-list-header *ngIf="modalMenu">
      <ion-toolbar class="ion-padding">
     
        <ion-label slot="start"><ion-badge color="dark" mode="ios">Detalle Club</ion-badge></ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()" color="dark"> 
            <ion-icon  name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list-header>


    <ion-list-header *ngIf="menu">


      <ion-toolbar >
        <ion-buttons slot="start" > 
          <ion-menu-button color="dark"  menu="first"></ion-menu-button>
        </ion-buttons>
    
        <ion-buttons slot="start" >
          <ion-button (click)="clubsMenu()"  color="dark">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-buttons>
    

    
        <ion-buttons slot="end" >
          <ion-button (click)="presentPopoverClub()" color="dark" *ngIf="clubs.clubAdmin">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
          
        </ion-buttons>
    
      </ion-toolbar>
    </ion-list-header>
    
  <ion-grid>
    <ion-row>
      <ion-col size="4" style="display: flex;justify-content: center;align-items: center;">
        <img [src]="club.foto" alt="" style="height: 120px;width: 120px;border-radius: 50%;">
      </ion-col>
      <ion-col size="8" size-md="6" size-lg="8">
        
              <ion-item>
                  <ion-label style="font-weight: 600;"> {{club.nombre}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label >Abreviación : {{club.abreviacion}}</ion-label>                         
              </ion-item>
              <ion-item>
                <ion-label >Región : {{club.provinciaID | provincias}}</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>(Ganes, Perdidos, Empates)</ion-label>
              </ion-item>
     
              <ion-item>
                <span style="display:block;">
                  <ion-label style="margin-bottom: 10px;">Dureza : <img  height="20" width="20" src="{{club.dureza}}"></ion-label>
              
                  <ion-icon style="size: 10px;" name="star"></ion-icon>
                  <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                  <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                  <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                  <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                </span>
            </ion-item>
       
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" style="margin-top:40px;">
      <ion-item *ngIf="usuario.currentUser.usuarioID === club.usuarioID || clubs.clubAdmin === true" >
        
        <ion-chip (click)="listaTransferencia(club.clubID)">
          <ion-icon name="download-outline"></ion-icon>
          <ion-label>Transferencias</ion-label>
          <ion-badge color="primary" style="margin-left:10px">{{solicitudes.conteoClub}}</ion-badge>
        </ion-chip>


        

     

 

      </ion-item>
      
      <ion-fab style="position: absolute; top: 15px; right: 100px;" >
        <ion-fab-button (click)="socialMedia()" class="no-shadow" color="light"  style="height: 30px; width: 30px;" >
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-fab-button>
 
      </ion-fab>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label>Lista de Jugadores</ion-label>
            </ion-item>

          </ion-col>
    <ion-col size="12">
      <ng-template ngFor let-jugador [ngForOf]="jugadoresClubes.jugadoresClubes" let-i="index"  >
        <ng-template [ngIf]="club.clubID === jugador.clubID ">

          <ion-item >
            <ion-chip  style="height: 60px; background: transparent;">
              <ion-avatar  style="height: 50px; width: 50px;">
                <img [src]="jugador.jugadorID  | usuarios : 'foto'">
              
              </ion-avatar>
         
              <ion-label>{{jugador.jugadorID  | usuarios : 'nombre'}} {{jugador.jugadorID  | usuarios : 'apellido1'}}</ion-label>
            </ion-chip>
      
     
            <ion-buttons slot="end">
    

              <ion-button  color="dark" slot="end" (click)="opcionesService.opciones('Opciones de usuario',[{funcion:'verUsuario', icono: 'eye-outline', parametros:  {usuarioID:jugador.jugadorID},  arreglo:'' , boton: 'Ver jugador' },{funcion:'clubAdmin', icono:'sparkles-outline', parametros:  {jugadorID:jugador.jugadorID}, arreglo:'' , boton: 'Convertir a Administrador' },{funcion:'deletePlayer', icono: 'trash-outline', parametros:  {jugadorID:jugador.jugadorID},arreglo:'' , boton: 'Eliminar Jugador'}])">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
                </ion-button>
      
      
             
      </ion-buttons>


   
    
        </ion-item>


            


      </ng-template>
    </ng-template>
      
    </ion-col>

</ion-row>
  </ion-grid>
  </ion-list>
</ion-content>