<ion-content >

  <ion-list lines="none">
    
  <ion-grid>
    <ion-row>
      <ion-col size="4" style="display: flex;justify-content: center;align-items: center;">
        <img [src]="club.foto" alt="" style="height: 120px;width: 120px;border-radius: 50%;">
      </ion-col>
      <ion-col size="8" size-md="6" size-lg="8">
        
              <ion-item>
                  <ion-label style="font-weight: 600;"> {{club.nombre}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label >Abreviación : {{club.abreviacion}}</ion-label>                         
              </ion-item>
              <ion-item>
                <ion-label >Región : {{club.provinciaID | provincias}}</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>(Ganes, Perdidos, Empates)</ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-center">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </ion-label>
            </ion-item>
       
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" style="margin-top:40px;">
      <ion-item *ngIf="usuario.currentUser.usuarioID === club.usuarioID || usuario.currentUser.usuarioID  === true" >

        <ion-chip (click)="listaTransferencia(club.clubID)">
          <ion-icon name="download-outline"></ion-icon>
          <ion-label>Transferencias</ion-label>
          <ion-badge color="primary" style="margin-left:10px">{{solicitudes.conteoClub}}</ion-badge>
        </ion-chip>


        

     

 

      </ion-item>
      
      <ion-fab style="position: absolute; top: 15px; right: 100px;">
        <ion-fab-button (click)="socialMedia()" class="no-shadow" color="light"  style="height: 30px; width: 30px;" >
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-fab-button>
 
      </ion-fab>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label>Lista de Jugadores</ion-label>
            </ion-item>

          </ion-col>
    <ion-col size="12">
      <ng-template ngFor let-jugador [ngForOf]="jugadoresClubes.jugadoresClubes" let-i="index"  >
        <ng-template [ngIf]="club.clubID === jugador.clubID ">
        <ion-item *ngIf="jugadoresClubes?.jugadoresClubes?.length > 0 ;else elseBlock">
          <ion-chip>
            <ion-avatar>
              <img [src]="jugador.jugadorID  | usuarios : 'foto'">
            </ion-avatar>

            <ion-label>{{jugador.jugadorID  | usuarios : 'nombre'}} {{jugador.jugadorID  | usuarios : 'apellido1'}}</ion-label>
          </ion-chip>
          <ion-buttons  *ngIf="usuario.currentUser.usuarioID === club.usuarioID || jugador.admin === true" slot="end">
            <ion-button (click)="jugadoresClubes.makeAdmin(jugador.jugadorID)">
              <ion-icon *ngIf="jugador.admin" color="warning" name="sparkles-outline"></ion-icon>

              <ion-icon *ngIf="!jugador.admin" name="sparkles-outline"></ion-icon>
          </ion-button>
  
  
          
              <ion-button (click)="usuario.show(jugador.jugadorID)">
                <ion-icon name="person-circle-outline"></ion-icon>
              </ion-button>
  
              <ion-button (click)="jugadoresClubes.deletePlayer(jugador.jugadorID)" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
    
              
          </ion-buttons>
          


        
      </ion-item>
            

 <ng-template #elseBlock>Content to render when value is null.</ng-template>
      </ng-template>
    </ng-template>
      
    </ion-col>

</ion-row>
  </ion-grid>
  </ion-list>
</ion-content>