<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" >FUTPLAY <ion-badge color="primary" style="text-transform: uppercase;">Clubes</ion-badge></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" fill="solid" shape="round"  color="primary" slot="end" >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- Default Searchbar -->
<ion-searchbar mode="ios" placeholder="Nombre del club" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list lines="none">
    <ion-item *ngFor="let club of clubs.club  | filtro : textoBuscar:'nombre'; let i = index;">
      <ion-avatar slot="start">
        <img src="{{club.foto}}">
      </ion-avatar>
    
      <ion-buttons>
        <ion-button  (click)="send(club)">
          {{club.nombre}}
        </ion-button>
      </ion-buttons>
    
      <ion-buttons  slot="end" *ngIf="this.user.currentUser.usuarioID !== club.usuarioID">
            <ion-button (click)="add(club.clubID)" style="height:30px;">
              <ion-img [src]="save" style="height: 30px;"></ion-img>
              </ion-button>
      </ion-buttons>
    </ion-item>
    </ion-list>

</ion-content>
