<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-left">Unirse a un Club</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" fill="solid" shape="round"  color="primary" slot="end" >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- Default Searchbar -->
<ion-searchbar mode="ios" placeholder="Codigo Club" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let item of [1,1,1]; let i = index;">
      <ion-router-link href="/club-info">Equipo {{1+i}}</ion-router-link>

      <ion-buttons slot="end">
        <ion-button (click)="onClick()">
          <ion-icon slot="start" name="save"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
