
<ion-content>

  <ion-list>
    <ion-list-header style="margin-bottom: 2rem;">
      <ion-button (click)="cerrarModal()"> <ion-icon  name="arrow-back-outline"></ion-icon></ion-button>
      <ion-label style="font-size: 1rem" class="ion-text-uppercase">Filtro Canchas</ion-label>
    </ion-list-header>

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          Provincia</ion-label>
          <ion-select (click)="syncProvincias()" required [(ngModel)]="filtro.Cod_Provincia" (ionChange)="onChange($event, true,false,false)"   name="Cod_Provincia">
            <ion-select-option [value]="provincia.Cod_Provincia" *ngFor="let provincia of provinciasService.provincias">
              {{provincia.Provincia}}
            </ion-select-option>
            
            </ion-select>
      </ion-item>




      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          Cantón</ion-label>
          <ion-select  required [(ngModel)]="filtro.Cod_Canton"  (ionChange)="onChange($event, false,true,false)"   name="Cod_Canton" >
            <ion-select-option [value]="canton.Cod_Canton" *ngFor="let canton of cantonesService.cantones">
              {{canton.Canton}}
            </ion-select-option>
            
            </ion-select>
      </ion-item>



      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          Distrito</ion-label>
          <ion-select required   [(ngModel)]="filtro.Cod_Distrito"   (ionChange)="onChange($event, false,false,true)" name="Cod_Distrito">
            <ion-select-option [value]="distrito.Cod_Distrito" *ngFor="let distrito of distritosService.distritos">
              {{distrito.Distrito}}
            </ion-select-option>
      
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          Precio </ion-label>
          <ion-badge slot="end" color="dark" mode="ios">{{filtro.Precio}}</ion-badge>
          <ion-range min="0" max="60000" [(ngModel)]="filtro.Precio"  [pin]="true"></ion-range>
      </ion-item>



  </ion-list>
</ion-content>




<ion-fab  (click)="cerrarModal()" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="small" color="dark">
    <ion-icon  name="arrow-forward-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>



