<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="cerrarModal()">
      <ion-icon slot="icon-only" size="large"  name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
<ion-label *ngIf="reto" slot="start" class="ion-text-uppsercase"><h2>
{{reto.Titulo}}
</h2></ion-label>
</ion-toolbar>
<ion-content >
  <ion-grid >
    <ion-row  >
     
<ion-col size="12" *ngIf="!partido.Verificacion_QR_Retador || !partido.Verificacion_QR_Rival">
  <ion-card>
    <ion-card-header>
      <ion-card-title  class="ion-text-uppsercase">FUTPLAY</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Queridos usuarios, para iniciar el pardido se requiere de la lectura por ambos equipos del codigo QR el cual poder encontrar al inicio de la cancha. Muchas gracias
       </p>
       
    </ion-card-content>
    <ion-card-content class="ion-text-center">
           
      <ion-button  fill="outline"   shape="round" (click)="scan()">
        Escanear Codigo
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-col>

<ion-col size="12">
  <ion-card >

    <ion-card-header>
      <ion-card-title  class="ion-text-lowercase">Confirmaciones</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
<ion-list lines="none">
  <ion-item *ngIf="rival">

    <ion-avatar slot="start" style="display:block; height: auto; width: auto;" class="ion-text-center">
      <img style="height: 60px; width: 60px;"  src="assets/soccer-shields-svg/{{rival.Foto}}">
      
      </ion-avatar>
 
      <span style="display:block;">
        <ion-label style="margin-bottom: 10px;"> {{rival.Nombre}}</ion-label>
    
        <ion-icon style="size: 10px;" name="star"></ion-icon>
        <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
        <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
        <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
        <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
      </span>
 
     
      <ion-checkbox *ngIf="partido" slot="end" name="retador" [(ngModel)]="partido.Verificacion_QR_Retador" mode="ios" ></ion-checkbox>

 
  </ion-item>
  <ion-item *ngIf="retador">

    <ion-avatar slot="start" style="display:block; height: auto; width: auto;" class="ion-text-center">
      <img style="height: 60px; width: 60px;"  src="assets/soccer-shields-svg/{{retador.Foto}}">
      
      </ion-avatar>
 
      <span style="display:block;">
        <ion-label style="margin-bottom: 10px;"> {{retador.Nombre}}</ion-label>
    
        <ion-icon style="size: 10px;" name="star"></ion-icon>
        <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
        <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
        <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
        <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
      </span>
      <ion-checkbox *ngIf="partido" slot="end" name="rival" [(ngModel)]="partido.Verificacion_QR_Rival" mode="ios" ></ion-checkbox>


  </ion-item>
 

</ion-list>
    </ion-card-content>

    <ion-card-content class="ion-text-center" *ngIf="partido.Verificacion_QR_Retador && partido.Verificacion_QR_Rival">
           
      <ion-button  fill="outline"   shape="round" (click)="iniciar()">
        Continuar
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-col>




    </ion-row>
  </ion-grid>




  
  </ion-content>
  