 
<ion-content>
  <ion-list>
    <ion-item  *ngIf="solicitudesService.solicitudesEquiposArray.length == 0"    lines="none"
    class="animate__animated animate__fadeIn">
    <span slot="start">
      <ion-avatar>
        <img src="assets/logo.png" alt="">
      </ion-avatar>


      <ion-label>

        <h6><strong>MENSAJE FUTPLAY</strong> </h6>
        <p  > No se encontraron resultados!..</p>

      </ion-label>
    </span>


    </ion-item>

    <ion-item (click)="onOpenMenu(solicitud)" lines="none" class="employeeItem  animate__animated animate__fadeIn" *ngFor="let solicitud of solicitudesService.solicitudesEquiposArray">
      
      <ion-avatar class="ion-avatar">
        <img *ngIf="!solicitud.usuario.Avatar" src="{{'https://futplaycompany.com/api_test/'+solicitud.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">

        <img *ngIf="solicitud.usuario.Avatar"src="assets/profile/avatars/{{solicitud.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">

      </ion-avatar>
 

  
      <ion-label>
 
        <h2>    {{solicitud.usuario.Nombre}} {{solicitud.usuario.Primer_Apellido}}</h2>

      </ion-label>

    </ion-item>




  </ion-list>
</ion-content>
