 
<ion-content>
  <ion-list>
    <ion-item  *ngIf="solicitudesService.solicitudesEquiposArray.length == 0"    lines="none"
    class="animate__animated animate__fadeIn">
    <span slot="start">
      <ion-avatar>
        <img src="assets/logo.png" alt="">
      </ion-avatar>


      <ion-label>

        <h6><strong>{{"FUTPLAY_MESSAGE" | translate }}</strong> </h6>
        <p>{{"NO_RECORDS_FOUND" | translate }}</p>

      </ion-label>
    </span>


    </ion-item>

    <ion-item (click)="onOpenMenu(solicitud)" lines="full" class="custom-item  animate__animated animate__fadeIn" *ngFor="let solicitud of solicitudesService.solicitudesEquiposArray">
      
      <ion-avatar slot="start">
        <img *ngIf="!solicitud.usuario.Avatar" src="{{'https://futplaycompany.com/api_test/'+solicitud.usuario.Foto}}"
          onerror="this.src='assets/user.svg'" alt="">

        <img *ngIf="solicitud.usuario.Avatar" src="assets/profile/avatars/{{solicitud.usuario.Foto}}"
          onerror="this.src='assets/user.svg'" alt="">


      </ion-avatar>
      <ion-label>
        <h2>{{solicitud.usuario.Nombre}} </h2>
        <p class="ion-text-wrap">Posicion : <ion-badge color="warning" mode="ios">{{solicitud.posicion}}</ion-badge> </p>
        <p *ngIf="solicitud.usuario.Apodo">Apodo: {{solicitud.usuario.Apodo}}</p>


      </ion-label>


    </ion-item>





  </ion-list>
</ion-content>
