ion-header{
   
   ion-toolbar{
     --background:#5a55ca;
     color: #fff;
     ion-icon{
         color: #fff;
     }
 }
 }ion-avatar {
   height: 4rem;
   width: 4rem;
   display: block;
   margin: 0 auto;
 }
  
 .subtitle{
   margin-left: 1rem;
 }
 .custom-item {
   img {
     height: 4rem;
     width: 4rem;
     object-fit: cover;
   }
   ion-label {
     font-size: 14px !important;
     padding-left: 1.2rem;
 
     p {
       letter-spacing: -0.03rem;
     }
   }
 
 }
 
 span {
   margin: 0.8rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
 
   ion-avatar {
     margin-right: 1rem;
   }
 }