<ion-toolbar>
  <ion-title class="soccer-league-subtitle ion-text-center animate__animated animate__fadeIn">Sobre Nosotros</ion-title>
</ion-toolbar>

<ion-content>

  <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
  thumbs-swiper=".mySwiper2" space-between="10" navigation="true">
  <swiper-slide *ngFor="let slide of slides">
    <ion-card mode="ios">
    <img [src]="slide.img" class="slide-image" alt="">

    <ion-card-content>
<ion-label class="ion-text-uppercase"> {{slide.desc}}</ion-label>
     
    </ion-card-content>

  </ion-card>
  </swiper-slide>

  </swiper-container>

 
</ion-content>
