:host ::ng-deep{
  
  .monthview-container{
    height: 100% !important;
 
  }
  monthview {
    height: 100%;
 
  }
 
}
ion-list{
  
}
  ion-header {

    background-color: #5a55ca;
}

.ion-toolbar {

    --border-style: none;
    --background: #5a55ca;
    --color: white;

    // --stripe: #645fd1;
    --stripe: #5a55ca;
    --bg: #645fd1;
    --background: transparent;
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);

    ion-button {

        font-size: 1.2rem;
        font-weight: 800;
    }
}

ion-content {

    
    overflow: hidden;


    --background: linear-gradient(
    to top,
    #e7edfb 0%,
    #e7edfb 50%,
    #5a55ca 50%,
    #5a55ca 100%
  );

  
}



  

  ion-card-subtitle {
  
      padding-left: 1.2rem;
      margin-top: 1.9rem;
      padding-bottom: 0.3rem;
      --color: white;
  }
  
  
  
  ion-list {
  
      background-color: #e7edfb;
  }
  ion-card-content ion-list {
  
    background-color: white;
}
  ion-footer {
  
      background-color: #e7edfb;
      padding: 1rem;
  
      ion-button {
  
          --background: #5a55ca;
          --background-focused: #6f6bbb;
          --background-activated: #6f6bbb;
          --padding-top: 1rem;
          --padding-bottom: 1rem;
          --padding-start: 0.75rem;
          --padding-end: 0.75rem;
          height: 3.5rem;
          font-weight: 700;
      }
  }
  
  .transparent{
  --background: transparent!important;
  }

  ion-datetime{
  margin: 1rem;
 border-radius: 10px;
  }
  .custom-item {
    --background:white;
    border-radius: 10px;
    margin: 1rem;
   border-radius: 10px;
    }
  .equipo {

    --border-radius: 10px;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    

    
    ion-label {
    
        padding-left: 1.2rem;
    
        h2 {
    
            font-weight: 600;
            letter-spacing: -0.02rem;
        }
    
        p {
    
            letter-spacing: -0.03rem;
        }
    }
  }
    
  .mainContent {
  
  
  background-color: #e7edfb;
  //height: 100%;
  //width: 100%;
 // overflow: scroll !important;
 overflow: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  }
  ion-searchbar {
  
    --border-radius: 10px;
    --background: white;
    --color: black;
    min-height: 5rem;
    padding: 1rem;
    padding-top: 0;
    margin-top: -1rem;
  }
  ion-avatar{
    height: 5rem; width: 5rem;
  }
  .employeeItem {

    --border-radius: 10px;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

  
    
    ion-label {
      font-size: 14px!important;
      text-transform: uppercase;
    
        padding-left: 1.2rem;
    
        h2 {
    
            font-weight: 600;
            letter-spacing: -0.02rem;
        }
    
        p {
    
            letter-spacing: -0.03rem;
        }
    }
    

    }
      
      ion-button {
      
        --background: #5a55ca;
        --background-focused: #6f6bbb;
        --background-activated: #6f6bbb;
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --padding-start: 0.75rem;
        --padding-end: 0.75rem;
        color: #fff;
        margin-right: 0.5rem;
    }
  
    ion-fab-button {
      --ion-color-base:  #5a55ca;
      color: #fff;
    }
    ion-input,ion-select{
        font-size: 18px;
        --padding-top:20px;
        --padding-bottom:15px;
        --padding-start:5px;
        width: 100%;
      
      }  
      .ion-item{
          --background:#f5f5f3;
          border-radius: 50px;
          height: 55px;
          box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
          --highlight-height:0px;
          
        }


        #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
  
        }
        
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        td{
           white-space:nowrap;
}
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #1e2023;
          color: white;
        }

        hr {
          margin-top: 1rem;
          margin-bottom: 1rem;
          border: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
        }

        .StyledReceipt {
background-color: #fff;
          padding: 1rem 1rem 2rem;
          --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/30px 100%;
          -webkit-mask: var(--mask);
                  mask: var(--mask);
               
        }