 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Nueva Reservación</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
      <ion-content  [fullscreen]="true"    [scrollEvents]="true" #IonContent class="ion-padding">
<ion-list>

 <ion-grid >
  <ion-row>
    <ion-col size="12" class=" animate__animated animate__fadeIn" style="display: flex;justify-content: space-around;align-items: center;">
     <ion-avatar  >
          <img src="{{'https://futplaycompany.com/api_test/'+cancha.cancha.Foto }}" onerror="this.src='assets/soccerfield.jpg'"   alt="">
        
         </ion-avatar>
        
        
        
        
        <ion-label>
          <h2>{{cancha.nombre}} <ion-badge color="dark" mode="ios">₡ {{cancha.cancha.Precio_Hora}}</ion-badge></h2>
          
          <p   >
               
            Categoria <ion-badge color="warning" mode="ios">{{cancha.categoria}}</ion-badge>
        
          </p>
          <p>{{cancha.provincia}},       {{cancha.canton}} ...</p>
        </ion-label>
        
        
    </ion-col>
    <ion-col size="12">
      <ion-datetime class="ion-margin-top ion-margin-bottom"  (ionChange)="cambiarFecha($event)"   presentation="date" [(ngModel)]="fecha"></ion-datetime> 
    </ion-col>

 
<ion-col size="12">
  <ion-item (click)="horarioCanchas(0)">
    <ion-icon name="time-outline" slot="start"></ion-icon>
    <ion-label>Hora Inicio</ion-label>
    <p>
      {{nuevaReservacion.Hora_Inicio  | date:'shortTime' }} 
    </p>

  </ion-item>
  <ion-item (click)="horarioCanchas(1)">
    <ion-icon name="time-outline" slot="start"></ion-icon>
    <ion-label>Hora Fin</ion-label>
   <p>
    {{nuevaReservacion.Hora_Fin   | date:'shortTime' }}
   </p>
  </ion-item>
 
</ion-col>
<ion-col size="12">
  
  <ion-button *ngIf="!retador" (click)="agregarRetador()"   class="ion-button"   expand="block" >
    Seleccionar Equipo  Retador
   </ion-button>
</ion-col>


             
              
    <ion-col *ngIf="retador"   size="12" class=" animate__animated animate__fadeIn ion-maring-bottom" style="display: flex;justify-content: space-around;align-items: center;">
      <ion-avatar     (click)="agregarRetador()">
        <img *ngIf="!retador.equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+retador.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
        <img  *ngIf="retador.equipo.Avatar"  src="assets/soccer-shields-svg/{{retador.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">

      </ion-avatar>



<ion-label>
<h2>         {{retador.equipo.Abreviacion}} <ion-badge color="warning" mode="ios">Retador </ion-badge></h2>


<p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">

<ion-icon style="size: 10px;" name="star"></ion-icon>
<ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
<ion-icon style="size: 10px;" name="star-outline"></ion-icon>
<ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
<ion-icon style="size: 10px;" name="star-outline"></ion-icon>
</p>
</ion-label>


</ion-col>       
           
 
                           
<ion-col *ngIf="rival"   size="12" class=" animate__animated animate__fadeIn ion-maring-bottom" style="display: flex;justify-content: space-around;align-items: center;">
  <ion-avatar     (click)="agregarRival()">
    <img *ngIf="!rival.equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+rival.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
    <img  *ngIf="rival.equipo.Avatar"  src="assets/soccer-shields-svg/{{rival.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">

  </ion-avatar>



<ion-label>
<h2>         {{rival.equipo.Abreviacion}} <ion-badge color="warning" mode="ios">RiVal </ion-badge></h2>


<p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">

<ion-icon style="size: 10px;" name="star"></ion-icon>
<ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
<ion-icon style="size: 10px;" name="star-outline"></ion-icon>
<ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
<ion-icon style="size: 10px;" name="star-outline"></ion-icon>
</p>
</ion-label>


</ion-col>        
              <ion-col size="12">
                  
     <ion-button *ngIf="retador"  class="ion-button"  (click)="enviarReto()" expand="block" >
      Enviar Reto
     </ion-button>
      
              </ion-col>   
  </ion-row>


 </ion-grid>
</ion-list>
        
 

    </ion-content>

 