
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button color="light" (click)="cerrarModal()">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;Generar Reto 
          </ion-button>
        </ion-buttons>
        <ion-badge  color="dark" mode="ios">{{nuevaReservacion.Fecha| date:'shortDate'}}</ion-badge>
      </ion-item>
  <ion-item class="transparent ion-margin-bottom ion-margin-top"  *ngIf="nuevaReservacion.Hora_Inicio != null && nuevaReservacion.Hora_Fin != null">
    <ion-icon slot="start" name="time-outline"></ion-icon>
    <ion-label>  <ion-badge color="warning" mode="ios">{{ nuevaReservacion.Hora_Inicio | date:'shortTime'}}</ion-badge> /  <ion-badge color="warning" mode="ios">{{nuevaReservacion.Hora_Fin | date:'shortTime'}}</ion-badge></ion-label>
  </ion-item>
    </ion-toolbar>
    </ion-header>
   

      <ion-content fullscreen>

        
        <div class="mainContent ion-text-center">





                             <ion-list>

                              <ion-item  *ngIf="rival"   lines="none" class="equipo  animate__animated animate__fadeIn employeeItem"  >
                                <ion-avatar    >
                                  <img *ngIf="!rival.Avatar"  src="{{'https://futplaycompany.com/FUTPLAY_APIS_HOST/PerfilEquipoUploads/'+rival.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
                                  <img  *ngIf="rival.Avatar"  src="assets/soccer-shields-svg/{{rival.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
                         
                                </ion-avatar>
                                
                           
                                <ion-label class="ion-text-wrap">
                                  {{rival.Abreviacion}} <ion-badge color="warning" mode="ios">Rival </ion-badge>
                                  <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
                                  
                                    <ion-icon style="size: 10px;" name="star"></ion-icon>
                                    <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                                  </p>
                                </ion-label>
                                <ion-fab-button size="small" (click)="agregarRival()"  slot="end">
                                  <ion-icon name="reload-outline"></ion-icon>
                                </ion-fab-button>
                      
                              </ion-item>

                              <ion-item  *ngIf="retador"    lines="none" class="equipo  animate__animated animate__fadeIn employeeItem"  >
                                <ion-avatar    >
                                  <img *ngIf="!retador.Avatar"  src="{{'https://futplaycompany.com/FUTPLAY_APIS_HOST/PerfilEquipoUploads/'+retador.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
                                  <img  *ngIf="retador.Avatar"  src="assets/soccer-shields-svg/{{retador.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
                         
                                </ion-avatar>
                                
                                
                             
                                <ion-label class="ion-text-wrap">
                                  {{retador.Abreviacion}} <ion-badge color="warning" mode="ios">Retador </ion-badge>
                                  <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
                                  
                                    <ion-icon style="size: 10px;" name="star"></ion-icon>
                                    <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                                  </p>
                                </ion-label>
                               
                                <ion-fab-button size="small"  (click)="agregarRetador()" slot="end">
                                  <ion-icon name="reload-outline"></ion-icon>
                                </ion-fab-button>
                              </ion-item>
                           
                               
                              <ion-item  *ngIf="cancha" lines="none" class="employeeItem  animate__animated animate__fadeIn"  >
                                <ion-avatar slot="start">
                                  <img  src="{{'https://futplaycompany.com/FUTPLAY_APIS_HOST/PerfilCanchaUploads/'+cancha.Foto }}" onerror="this.src='assets/soccerfield.jpg'"   alt="">
                          
                                 </ion-avatar>
                                
                                <ion-label class="ion-text-wrap">
                                  <h2>{{cancha.Nombre}}  <ion-badge color="dark" mode="ios">₡{{cancha.Precio_Luz}}</ion-badge></h2>
                                  <p   >
                                       
                                    Categoria <ion-badge color="warning" mode="ios">{{cancha.Categoria}} </ion-badge>
                              
                                  </p>
                                  <p>{{cancha.Nombre_Provincia}}, {{cancha.Nombre_Canton}}...</p>
                                
                                </ion-label>
                                <ion-fab-button size="small"  (click)="agregarCancha()"  slot="end">
                                  <ion-icon name="reload-outline"></ion-icon>
                                </ion-fab-button>

                                
                              </ion-item>


                    
                          
                             </ion-list>


                 
                             <ion-button (click)="agregarCancha()" *ngIf="retador && rival && !cancha"   expand="block"  class="ion-margin"  >
                              <ion-label>Agregar Cancha</ion-label>
                                   </ion-button>
                                   <ion-button *ngIf="!rival" (click)="agregarRival()"  expand="block"  class="ion-margin"  >
                                    <ion-label>Agregar Rival</ion-label>
                                         </ion-button>
                                         <ion-button   (click)="agregarRetador()" *ngIf="!retador"  expand="block"  class="ion-margin" >
                                          <ion-label>Agregar Retador</ion-label>
                                               </ion-button>
                              


                                               <ion-card   *ngIf="retador && rival && cancha != null ">
                                                <ion-row class="ion-margin-top ion-margin-bottom">

                                                  <ion-col size="12">
                                                <ion-row>
                                                        
                                        
                                                  
                                                  <ion-col size="12" class="ion-text-left">
                                                    <ion-label><strong>Horario de la cancha</strong></ion-label>
                                                  </ion-col>
                                                
                                                  <ion-col size="12" style="  width: 100%;
                                                  overflow: auto;">
                                          
<table id="customers">
<thead>
  <tr>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miercoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Sabado</th>
    <th>Domingo</th>
  </tr>
</thead>
<tbody>
  <tr >
    <td *ngFor="let dia of configuracionHorarioService.horarioCancha; let i = index;">
     <ion-label style="display: block;">
      {{retornaHoraAmPm(dia.Hora_Inicio)}}
     </ion-label>
     <hr>
     <ion-label style="display: block;">
      {{retornaHoraAmPm(dia.Hora_Fin)}}
     </ion-label>
    </td>
 
  </tr>
</tbody>
 
</table>
                              
                                                  </ion-col>
                                                </ion-row>
                                                  </ion-col>
                                                 
                                                </ion-row>
                                               </ion-card>
<ion-card  *ngIf="retador && rival && cancha != null ">
<ion-row>

  <ion-col size="12"  class="ion-text-center ion-padding">
    <ion-label style="text-transform: uppercase;font-weight: 500; font-size: 1rem;">Cancha {{cancha.Nombre}}</ion-label>

      </ion-col>
      <ion-col size="12"  class="ion-text-center ion-padding">

        <ion-badge color="dark" mode="ios" class="ion-text-uppercase">{{viewTitle}}</ion-badge>
          </ion-col>
</ion-row>
  <ion-card-content>

        


  <calendar   #CalendarComponent   
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onCurrentDateChanged)="onCurrentDateChanged($event)"
  [startHour]="0"
  [endHour]="24"
  [lockSwipes]="lockSwipes"
  [showEventDetail] = "false"  
  
  ></calendar>

<ion-list>

</ion-list>
  <ion-grid  style="margin-top: 2rem;"  *ngIf="add">
    <ion-row >
      <ion-col size="12">
        <ion-label >Hora Inicio</ion-label>
      
        <ion-item  class="ion-item ion-margin-top ion-margin-bottom" lines="none"  >
          <ion-select [(ngModel)]="Hora_Inicio"  (ionChange)="horaInicio($event)"    placeholder="Seleccionar hora" name="Hora_Inicio">
            <ion-select-option  [value]="hora" *ngFor="let hora of gestionReservacionesService.horaInicioArray">{{hora.time12}} {{':00'}} {{hora.meridiem}}</ion-select-option>
          </ion-select>
      </ion-item>
      </ion-col>
      
      
      
      <ion-col size="12"     >
        <ion-label >Hora Fin</ion-label>
      
        <ion-item   class="ion-item ion-margin-top ion-margin-bottom" lines="none"  >
          <ion-select [(ngModel)]="Hora_Fin"  (ionChange)="horaFin($event)"    placeholder="Seleccionar hora" name="Hora_Fin">
            <ion-select-option  [value]="hora" *ngFor="let hora of gestionReservacionesService.horaFinArray">{{hora.time12}} {{':00'}} {{hora.meridiem}}</ion-select-option>
          </ion-select>
      </ion-item>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  </ion-card-content>
</ion-card>



                                              
      </div>
    </ion-content>

    <ion-footer>
  
     <ion-button (click)="alertaReservacion()" expand="block" *ngIf="retador && rival && cancha != null && nuevaReservacion.Hora_Inicio != null && nuevaReservacion.Hora_Fin != null && nuevaReservacion.Fecha != null">
      Guardar Reto
     </ion-button>
      
 </ion-footer>
