 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Nueva Reservación</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
      <ion-content  [fullscreen]="true"    [scrollEvents]="true" #IonContent >
        <ion-slides pager="true"  >
          <ion-slide>
            <img src="{{'https://futplaycompany.com/api_test/'+cancha.cancha.Foto }}"
            onerror="this.src='assets/soccerfield.jpg'" alt="">
      
          </ion-slide>
       
        </ion-slides>
    
  <ion-item        lines="full" class="animate__animated animate__fadeIn ion-no-padding" >
  <ion-button  (click)="canchaDetalle()" slot="end" size="small" shape="round">
    Ver cancha
  </ion-button>
          
            <ion-label class="ion-margin">
              <p><strong>Cancha</strong></p>
              <p >
                         
                Precio {{cancha.cancha.Precio_Hora | colones }}
           
               </p>
               <p >
                         
                Categoria {{cancha.categoria}}
           
               </p>
               <p class="ion-text-wrap">
                    
                 {{cancha.provincia}}       {{cancha.canton}}  
            
                </p>
      
    
            </ion-label>
    
          </ion-item>


         <ion-item  lines="full" class="ion-no-padding">
          <ion-datetime   (ionChange)="cambiarFecha($event)"  [min]="fechaMinima" presentation="date" [(ngModel)]="fecha"></ion-datetime> 

         </ion-item>
          <ion-item (click)="openPicker(1)"  lines="full" class="time">
            <ion-icon    slot="start" name="time-outline"></ion-icon>
            <ion-label>Hora Inicio
           
            </ion-label>
            <p style="margin-right: 0.5rem; text-transform: uppercase;">
              {{ nuevaReservacion.Hora_Inicio | date:'h:mm a'}}
            </p>
          </ion-item>
          <ion-item (click)="openPicker(2)"  lines="full" class="time">
            <ion-icon   slot="start" name="time-outline"></ion-icon>
            <ion-label>Hora Fin
             
        
            </ion-label>
            <p style="margin-right: 0.5rem; text-transform: uppercase;">
              {{ nuevaReservacion.Hora_Fin | date:'h:mm a'}}
            </p>
          </ion-item>

          <ion-item   *ngIf="retador" (click)="agregarRetador()"    lines="full" class="employeeItem  animate__animated animate__fadeIn"   >
            <ion-avatar   slot="start">
              <img *ngIf="!retador.equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+retador.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
              <img  *ngIf="retador.equipo.Avatar"  src="assets/soccer-shields-svg/{{retador.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
      
            </ion-avatar>
            
            <ion-label class="ion-text-uppercase">
              {{retador.equipo.Abreviacion}} 
  <p>
    <strong>Retador</strong>
  </p>
   
              <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
  
                <ion-icon color="warning" style="size: 10px;" name="star"></ion-icon>
                <ion-icon color="warning" style="size: 10px;"  name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;" name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;"  name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;" name="star-outline"></ion-icon>
                </p>
            </ion-label>
  
          </ion-item>
          <ion-item   *ngIf="rival" (click)="agregarRival()"    lines="full" class="employeeItem  animate__animated animate__fadeIn"   >
            <ion-avatar   slot="start">
              <img *ngIf="!rival.equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+rival.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
              <img  *ngIf="rival.equipo.Avatar"  src="assets/soccer-shields-svg/{{rival.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
      
            </ion-avatar>
            
            <ion-label class="ion-text-uppercase">
              {{rival.equipo.Abreviacion}}
  <p>
    <strong>Rival</strong>
  </p>
   
              <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
  
                <ion-icon color="warning" style="size: 10px;" name="star"></ion-icon>
                <ion-icon color="warning" style="size: 10px;"  name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;" name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;"  name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;" name="star-outline"></ion-icon>
                </p>
            </ion-label>
  
          </ion-item>
        
   
          <app-button  class="ion-margin"  *ngIf="!validarReservacion" (click)="agregarRetador()" label="Seleccionar Equipo  Retador"></app-button>
         
        
        <app-button  *ngIf="validarReservacion && retador" class="ion-margin"  label="Finalizar Reservación"      (click)="finalizarReservacion()" ></app-button>
              
         
 

    </ion-content>

 