
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button color="light" (click)="cerrarModal()">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;Generar Reto 
          </ion-button>
        </ion-buttons>
        <ion-badge  color="dark" mode="ios">{{nuevaReservacion.Fecha| date:'shortDate'}}</ion-badge>
      </ion-item>
  <ion-item class="transparent ion-margin-bottom ion-margin-top"  *ngIf="nuevaReservacion.Hora_Inicio != null && nuevaReservacion.Hora_Fin != null">
    <ion-icon slot="start" name="time-outline"></ion-icon>
    <ion-label>  <ion-badge color="warning" mode="ios">{{ nuevaReservacion.Hora_Inicio | date:'shortTime'}}</ion-badge> /  <ion-badge color="warning" mode="ios">{{nuevaReservacion.Hora_Fin | date:'shortTime'}}</ion-badge></ion-label>
  </ion-item>
    </ion-toolbar>
    </ion-header>
   

      <ion-content fullscreen>

        
        <div class="mainContent ion-text-center">





                             <ion-list>

                              <ion-item  *ngIf="rival"   lines="none" class="equipo  animate__animated animate__fadeIn employeeItem"  >
                                <ion-avatar    >
                                  <img *ngIf="!rival.equipo.Avatar"  src="{{'https://futplaycompany.com/FUTPLAY_APIS_HOST/PerfilEquipoUploads/'+rival.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
                                  <img  *ngIf="rival.equipo.Avatar"  src="assets/soccer-shields-svg/{{rival.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
                         
                                </ion-avatar>
                                
                           
                                <ion-label class="ion-text-wrap">
                                  {{rival.equipo.Abreviacion}} <ion-badge color="warning" mode="ios">Rival </ion-badge>
                                  <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
                                  
                                    <ion-icon style="size: 10px;" name="star"></ion-icon>
                                    <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                                  </p>
                                </ion-label>
                                <ion-fab-button size="small" (click)="agregarRival()"  slot="end">
                                  <ion-icon name="reload-outline"></ion-icon>
                                </ion-fab-button>
                      
                              </ion-item>

                              <ion-item  *ngIf="retador"    lines="none" class="equipo  animate__animated animate__fadeIn employeeItem"  >
                                <ion-avatar    >
                                  <img *ngIf="!retador.equipo.Avatar"  src="{{'https://futplaycompany.com/FUTPLAY_APIS_HOST/PerfilEquipoUploads/'+retador.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
                                  <img  *ngIf="retador.equipo.Avatar"  src="assets/soccer-shields-svg/{{retador.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
                         
                                </ion-avatar>
                                
                                
                             
                                <ion-label class="ion-text-wrap">
                                  {{retador.equipo.Abreviacion}} <ion-badge color="warning" mode="ios">Retador </ion-badge>
                                  <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
                                  
                                    <ion-icon style="size: 10px;" name="star"></ion-icon>
                                    <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                                    <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                                  </p>
                                </ion-label>
                               
                                <ion-fab-button size="small"  (click)="agregarRetador()" slot="end">
                                  <ion-icon name="reload-outline"></ion-icon>
                                </ion-fab-button>
                              </ion-item>
                           
                               
                              <ion-item  *ngIf="cancha" lines="none" class="employeeItem  animate__animated animate__fadeIn"  >
                                <ion-avatar slot="start">
                                  <img  src="{{'https://futplaycompany.com/FUTPLAY_APIS_HOST/PerfilCanchaUploads/'+cancha.cancha.Foto }}" onerror="this.src='assets/soccerfield.jpg'"   alt="">
                          
                                 </ion-avatar>
                                
                                <ion-label class="ion-text-wrap">
                                  <h2>{{cancha.cancha.Nombre}}  <ion-badge color="dark" mode="ios">₡{{cancha.cancha.Precio_Hora}}</ion-badge></h2>

                                
                                   <p   >
                                  <p   >
                                       
                                    Categoria <ion-badge color="warning" mode="ios">{{cancha.categoria}} </ion-badge>
                              
                                  </p>
                  
                                
                                </ion-label>
                                <ion-fab-button size="small"  (click)="agregarCancha()"  slot="end">
                                  <ion-icon name="reload-outline"></ion-icon>
                                </ion-fab-button>

                                
                              </ion-item>


                    
                          
                             </ion-list>


                 
                             <ion-button (click)="agregarCancha()" *ngIf="retador && rival && !cancha"   expand="block"  class="ion-margin"  >
                              <ion-label>Agregar Cancha</ion-label>
                                   </ion-button>
                                   <ion-button *ngIf="!rival" (click)="agregarRival()"  expand="block"  class="ion-margin"  >
                                    <ion-label>Agregar Rival</ion-label>
                                         </ion-button>
                                         <ion-button   (click)="agregarRetador()" *ngIf="!retador"  expand="block"  class="ion-margin" >
                                          <ion-label>Agregar Retador</ion-label>
                                               </ion-button>
                              


<ion-card  *ngIf="retador && rival && cancha != null ">
<ion-row>
  <ion-col size="12" >
    <ion-item lines="none">
      <ion-label slot="start" style="text-transform: uppercase;font-weight: 500; font-size: 1rem;" class="ion-text-wrap">Cancha {{cancha.cancha.Nombre}}</ion-label>
    </ion-item>
    <ion-item>
<ion-label  >
  <ion-badge color="primary" mode="ios">  {{habilitarHoras ? 'Disponible' : 'No Disponible'}}</ion-badge> 
                                  <p class="ion-text-wrap">{{horario}}</p>
</ion-label>

 
    </ion-item>
  


      </ion-col>
      <ion-col size="12"  class="ion-text-center ion-padding">

        <ion-badge color="dark" mode="ios" class="ion-text-uppercase">{{viewTitle}}</ion-badge>
          </ion-col>
</ion-row>
  <ion-card-content>

        


  <calendar   #CalendarComponent   
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onCurrentDateChanged)="onCurrentDateChanged($event)"
  [startHour]="0"
  [endHour]="24"
  [monthviewDisplayEventTemplate]="month"
  [showEventDetail]="false"
  [lockSwipes]="lockSwipes" 
  
  ></calendar>
 
<ion-grid *ngIf="!habilitarHoras">
  <ion-row>
    <ion-col size="12">
      <ion-item lines="none" color="danger">
        <ion-label class="ion-text-wrap">Lo sentimos ya no se puede reservar por el dia de hoy..</ion-label>
      </ion-item>
    </ion-col>

  </ion-row>
</ion-grid>
  <ion-grid  style="margin-top: 2rem;"  *ngIf="add && habilitarHoras">
    <ion-row >
      <ion-col size="12">
        <ion-label >Hora Inicio</ion-label>
      
        <ion-item  class="ion-item ion-margin-top ion-margin-bottom" lines="none"  >
          <ion-select [(ngModel)]="Hora_Inicio"  (ionChange)="horaInicio($event)"    placeholder="Seleccionar hora" name="Hora_Inicio">
            <ion-select-option  [value]="hora" *ngFor="let hora of gestionReservacionesService.horaInicioArray">{{hora.time12}} {{':00'}} {{hora.meridiem}}</ion-select-option>
          </ion-select>
      </ion-item>
      </ion-col>
      
      
      
      <ion-col size="12"     >
        <ion-label >Hora Fin</ion-label>
      
        <ion-item   class="ion-item ion-margin-top ion-margin-bottom" lines="none"  >
          <ion-select [(ngModel)]="Hora_Fin"  (ionChange)="horaFin($event)"    placeholder="Seleccionar hora" name="Hora_Fin">
            <ion-select-option  [value]="hora" *ngFor="let hora of gestionReservacionesService.horaFinArray">{{hora.time12}} {{':00'}} {{hora.meridiem}}</ion-select-option>
          </ion-select>
      </ion-item>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  </ion-card-content>
</ion-card>



                                              
      </div>
    </ion-content>

    <ion-footer>
  
     <ion-button (click)="crearReservacion()" expand="block" *ngIf="retador && rival && cancha != null && nuevaReservacion.Hora_Inicio != null && nuevaReservacion.Hora_Fin != null">
      Guardar Reto
     </ion-button>
      
 </ion-footer>
