 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Nueva Reservación</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
      <ion-content    >
        <ion-datetime   (ionChange)="cambiarFecha($event)"  [min]="fechaMinima" presentation="date" [(ngModel)]="fecha"></ion-datetime> 

 
     <ion-grid >
      <ion-row>
    
        <ion-col size="12">
          <ion-card (click)="openPicker(1)">
            <ion-card-header>
              <ion-card-subtitle style="display: flex;align-items: center;justify-content: space-between; font-size: 16px;">
                <ion-icon size="large"   name="time-outline"></ion-icon>
                <strong>Hora Inicio</strong>
                 </ion-card-subtitle>
              <ion-card-title style="margin-left: 3rem;">{{ nuevaReservacion.Hora_Inicio | date:'h:mm a'}}</ion-card-title>
            </ion-card-header>
    
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card (click)="openPicker(2)">
            <ion-card-header>
              <ion-card-subtitle style="display: flex;align-items: center;justify-content: space-between; font-size: 16px;">
                <ion-icon size="large"   name="time-outline"></ion-icon>
                <strong>Hora Fin</strong>
                 </ion-card-subtitle>
              <ion-card-title style="margin-left: 3rem;"> {{ nuevaReservacion.Hora_Fin | date:'h:mm a'}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
     </ion-grid>
 
 

          <ion-item   *ngIf="retador" (click)="agregarRetador()"    lines="full" class="employeeItem  animate__animated animate__fadeIn"   >
            <ion-avatar   slot="start">
              <img *ngIf="!retador.equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+retador.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
              <img  *ngIf="retador.equipo.Avatar"  src="assets/soccer-shields-svg/{{retador.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
      
            </ion-avatar>
            
            <ion-label class="ion-text-uppercase">
              {{retador.equipo.Abreviacion}} 
  <p>
    <strong>Retador</strong>
  </p>
   
              <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
  
                <ion-icon color="warning" style="size: 10px;" name="star"></ion-icon>
                <ion-icon color="warning" style="size: 10px;"  name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;" name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;"  name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;" name="star-outline"></ion-icon>
                </p>
            </ion-label>
  
          </ion-item>
          <ion-item   *ngIf="rival" (click)="agregarRival()"    lines="full" class="employeeItem  animate__animated animate__fadeIn"   >
            <ion-avatar   slot="start">
              <img *ngIf="!rival.equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+rival.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
              <img  *ngIf="rival.equipo.Avatar"  src="assets/soccer-shields-svg/{{rival.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
      
            </ion-avatar>
            
            <ion-label class="ion-text-uppercase">
              {{rival.equipo.Abreviacion}}
  <p>
    <strong>Rival</strong>
  </p>
   
              <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
  
                <ion-icon color="warning" style="size: 10px;" name="star"></ion-icon>
                <ion-icon color="warning" style="size: 10px;"  name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;" name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;"  name="star-outline"></ion-icon>
                <ion-icon color="warning" style="size: 10px;" name="star-outline"></ion-icon>
                </p>
            </ion-label>
  
          </ion-item>
        
   
          <app-button  class="ion-margin"  *ngIf="!validarReservacion" (click)="agregarRetador()" label="Seleccionar Equipo  Retador"></app-button>
         
        
        <app-button  *ngIf="validarReservacion && retador" class="ion-margin"  label="Finalizar Reservación"      (click)="finalizarReservacion()" ></app-button>
              
         
 

    </ion-content>

 