<form     (ngSubmit)="onSubmit()">
  <ion-grid>
    <ion-row>
 
   
      <ion-col size="12">
        <ion-item >
          <ion-label><strong>{{ 'FUTPLAY_CODE' | translate }}</strong></ion-label>
          <ion-input name="code" type="text"   placeholder="" [(ngModel)]="code" placeholder="xxx xxx">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" >
        <ion-item  lines="none">
          <ion-label  ><strong>{{ 'AMOUNT' | translate }}</strong></ion-label>
          <ion-input [readonly]="true" name="amount" type="text"  placeholder="" ngModel="{{monto | colones }}" >
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <div id="card-element"></div>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button 
        type="submit"
        style="height: 45px;text-transform: capitalize;margin-top: 30px;font-size: 18px;"
        shape="round"
        (click)="enviarReto()">
        {{ 'COMPLETE_RESERVATION' | translate }}
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
