ion-header {

  ion-toolbar {
    --background: #5a55ca;
    color: #fff;

    ion-icon {
      color: #fff;
    }
  }
}
ion-fab-button{
  --background:#5a55ca;
  
}
.mySwiper {
  height: 40%;
  width: 100%;
}

.mySwiper2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ion-avatar ,ion-thumbnail{
 height: 4rem;
 width: 4rem;
}  
 