ion-header {

  ion-toolbar {
    --background: #5a55ca;
    color: #fff;

    ion-icon {
      color: #fff;
    }
  }
}
ion-fab-button{
  --background:#5a55ca;
  
} ion-segment-button {
  --min-width: 0;
}

.swiper-container {
  width: 100%;
  height: 50vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

 