<ion-toolbar class="ion-text-center ion-padding">
 
  <ion-label class="soccer-league invert">FUTPLAY</ion-label>




</ion-toolbar>


<ion-content>
  <ion-tabs >
    <ion-tab-bar slot="bottom" > 
      <ng-template ngFor let-opciones [ngForOf]="opcionesMenu" let-i="index" >
        <ion-tab-button [tab]="opciones.tab">

          <ion-label class="ion-text-uppercase">{{opciones.name}}</ion-label>
    
        </ion-tab-button>
      </ng-template>
  


    </ion-tab-bar>




  
  </ion-tabs>
</ion-content>


