ion-tab-bar{

  width: 95%;
  --background: rgba(37,13,76,255);
  align-self:center;
  border-radius: 20px;
  margin-top:70px;
  margin-bottom: 10px;
  ion-tab-button{

    --background:rgba(37,13,76,255);

    ion-label{
      font-size: 11px;

    }
  }
}