<ion-header class="ion-no-border">

  <ion-toolbar >
    <ion-label class="ion-text-uppercase" slot="start" style="font-size: 16px; margin-left: 1rem;">Actualizar reservación {{bloqueo.Fecha  | date: 'shortDate' }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="cerrarModal()">
          <ion-icon color="danger" slot="start" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    
</ion-header>
  <ion-content>
  
    <ion-list lines="none">
       
  <ion-item>
  
    <ion-label class="ion-text-uppercase" slot="start" style="font-size: 14px; margin-left: 1rem;"  *ngIf="canchaReservacionesService.reservacionesDia.length  == 0 ">Bloquear Dia Completo</ion-label>
      <ion-toggle slot="end" *ngIf="canchaReservacionesService.reservacionesDia.length == 0 || bloqueo.diaCompleto"   [(ngModel)]="bloqueo.diaCompleto"></ion-toggle>
  </ion-item>
  
      <ion-item class="ion-margin" >
    
        <ion-input type="text" placeholder="Detalle"  [(ngModel)]="bloqueo.Descripcion"></ion-input>
      </ion-item>
  
    
      <ion-item class="ion-margin" *ngIf="!bloqueo.diaCompleto" >
    
        <ion-label style="font-size: 14px; margin-left: 1rem;" class="ion-text-uppercase">Hora de inicio</ion-label>
        <ion-select  (ionChange)="canchaReservacionesService.onchange($event)"   [(ngModel)]="bloqueo.Hora_Inicio" placeholder="seleccionar"  name="hora">
          <ion-select-option  *ngFor="let hora of canchaReservacionesService.horaInicioArray" [value]="hora.id">{{hora.hour}} {{hora.meridiem}}</ion-select-option>
      
        </ion-select>
       
        
    
      </ion-item>
      <ion-item class="ion-margin"  *ngIf="!bloqueo.diaCompleto" >
        
    
        <ion-label style="font-size: 14px; margin-left: 1rem;" class="ion-text-uppercase">Hora de finalización</ion-label>
        <ion-select  (ionChange)="canchaReservacionesService.onchangeHoraFin($event)"   [(ngModel)]="bloqueo.Hora_Fin"placeholder="seleccionar">
          <ion-select-option  *ngFor="let hora of canchaReservacionesService.horaFinArray" [value]="hora.id">{{hora.hour}} {{hora.meridiem}}</ion-select-option>
      
        </ion-select>
      </ion-item>
  
    
        </ion-list>
      
  </ion-content>
  
  
  <ion-fab (click)="formulario()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon  name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  