<ion-header translucent class="ion-no-border">
  <ion-toolbar>
 <ion-label slot="start" class="ion-text-uppercase" style="margin-left: 0.5rem;">Editar Reservación {{editarReservacion.Fecha | date:'shortDate'}}</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="delete()">
       
        <ion-icon size="large" color="danger" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="save()">
       
        <ion-icon size="large" color="primary" slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
       
        <ion-icon size="large" color="danger" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-grid >
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label  position="stacked">Titulo</ion-label>
          <ion-input [(ngModel)]="editarReservacion.Titulo"   type="text" placeholder="Titulo"></ion-input>
        </ion-item>

      
      
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label   position="stacked">Bloquear dia completo</ion-label>
       <ion-input type="text" placeholder="Bloquear dia completo" [(ngModel)]="valor" >
        

       </ion-input>
       <ion-toggle   (ionChange)="switch(editarReservacion.diaCompleto)" slot="end" [(ngModel)]="editarReservacion.diaCompleto" ></ion-toggle>
        
        </ion-item>
     
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea placeholder="Descripción" [(ngModel)]="editarReservacion.Descripcion" ></ion-textarea>
        </ion-item>
      </ion-col>
     

 <ion-col *ngIf="!editarReservacion.diaCompleto" size="12" size-md="6">

  <ion-item  id="date">
    <ion-label  position="stacked">Hora de inicio</ion-label>
    <ion-input
      [value]="editarReservacion.Hora_Inicio"
      placeholder="Hora inicio"
   

    ></ion-input>
    <ion-popover mode="ios"  trigger="date" size="small" alignment="end">
      <ng-template>
     
        <ion-datetime displayFormat="HH:mm:ss" #popoverDatetime1 minuteValues="0"  hour-cycle="h12"  name="picker1"  presentation="time" [(ngModel)]="editarReservacion.Hora_Inicio" (ionChange)="editarReservacion.Hora_Inicio =formatDate(editarReservacion.Hora_Inicio)">
        
    
        </ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>


      </ion-col>
      <ion-col size="12" size-md="6">
 
  <ion-item   id="date2" *ngIf="!editarReservacion.diaCompleto">
    <ion-label position="stacked">Hora Fin</ion-label>
    <ion-input
    placeholder="Hora fin"
      [value]="editarReservacion.Hora_Fin"
    ></ion-input>
    <ion-popover mode="ios" trigger="date2"  size="small" alignment="end">
      <ng-template force-overscroll="true">
     
        <ion-datetime  displayFormat="HH:mm:ss" #popoverDatetime2  minuteValues="0"  hour-cycle="h12" name="picker2" presentation="time" [(ngModel)]="editarReservacion.Hora_Fin" (ionChange)="editarReservacion.Hora_Fin =formatDate(editarReservacion.Hora_Fin)">
        
      
        </ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>