<ion-header translucent class="ion-no-border">
  <ion-toolbar>
 <ion-label slot="start" class="ion-text-uppercase" style="margin-left: 0.5rem;">Nueva Reservación</ion-label>

    <ion-buttons slot="end">

      <ion-button (click)="save()">
       
        <ion-icon size="large" color="primary" slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
       
        <ion-icon size="large" color="danger" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-grid >
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label  position="stacked">Titulo</ion-label>
          <ion-input [(ngModel)]="nuevaReservacion.Titulo"   type="text" placeholder="Titulo"></ion-input>
        </ion-item>

      
      
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label   position="stacked">Bloquear dia completo</ion-label>
       <ion-input type="text" placeholder="Bloquear dia completo" [(ngModel)]="valor" >
        

       </ion-input>
       <ion-toggle   (ionChange)="switch(nuevaReservacion.diaCompleto)" slot="end" [(ngModel)]="nuevaReservacion.diaCompleto" ></ion-toggle>
        
        </ion-item>
     
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea placeholder="Descripción" [(ngModel)]="nuevaReservacion.Descripcion" ></ion-textarea>
        </ion-item>
      </ion-col>
     

 <ion-col *ngIf="!nuevaReservacion.diaCompleto" size="12" size-md="6">

  <ion-item  id="date">
    <ion-label  position="stacked">Hora de inicio</ion-label>
    <ion-input
      [value]="dateValue1"
      placeholder="Hora inicio"
   

    ></ion-input>
    <ion-popover mode="ios"  trigger="date" size="small" alignment="end">
      <ng-template>
     
        <ion-datetime displayFormat="HH:mm:ss" #popoverDatetime1 minuteValues="0"  hour-cycle="h12"  name="picker1"  presentation="time" [(ngModel)]="dateValue1" (ionChange)="dateValue1 =formatDate(popoverDatetime1.value)">
        
    
        </ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>


      </ion-col>
      <ion-col size="12" size-md="6">
 
  <ion-item   id="date2" *ngIf="!nuevaReservacion.diaCompleto">
    <ion-label position="stacked">Hora Fin</ion-label>
    <ion-input
    placeholder="Hora fin"
      [value]="dateValue2"
    ></ion-input>
    <ion-popover mode="ios" trigger="date2"  size="small" alignment="end">
      <ng-template force-overscroll="true">
     
        <ion-datetime  displayFormat="HH:mm:ss" #popoverDatetime2  minuteValues="0"  hour-cycle="h12" name="picker2" presentation="time" [(ngModel)]="dateValue2" (ionChange)="dateValue2 =formatDate(popoverDatetime2.value)">
        
      
        </ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>