<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="cerrarModal()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
<ion-label slot="start"><h2>
 Detalle de Lectura QR
</h2></ion-label>
</ion-toolbar>
<ion-content style="height: 100%; display: flex;  justify-content: center;align-items: center;">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{registro.created | date : 'medium'}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
{{registro.text}}
    </ion-card-content>
  </ion-card>
  
</ion-content>
