
<ion-content class="ion-padding">

<ion-grid  >
  <ion-row style="display: flex;justify-content:center;align-items:center">
    <ion-col size="10" size-md="4">

      <ion-item  >
     <ion-label>Dia</ion-label>
          <ion-select  required [(ngModel)]="dateObjectReturn.date" (ionChange)="obtenerDia($event)"   name="dia">
            <ion-select-option [value]="dia" *ngFor="let dia of dias">
             {{dia}} 
            </ion-select-option>
            
            </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="10" size-md="4">
     
    <ion-item  >
  <ion-label>Mes</ion-label>
        <ion-select required [(ngModel)]="dateObjectReturn.month" (ionChange)="obtenerMes($event)"   name="mes">
          <ion-select-option [value]="mes" *ngFor="let mes of meses" class="ion-text-capitalized">
            {{mes}}
          </ion-select-option>
          
          </ion-select>
    </ion-item>
    </ion-col>

    <ion-col size="10" size-md="4">
      

    
    <ion-item  >
<ion-label>Año</ion-label>
        <ion-select   required [(ngModel)]="dateObjectReturn.year" (ionChange)="obtenerAno($event)"   name="ano">
          <ion-select-option [value]="ano" *ngFor="let ano of anos">
            {{ano}}
          </ion-select-option>
          
          </ion-select>
    </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-toolbar>
  <ion-button (click)="continuar()" expand="block" color="dark">
 <ion-label> Seleccionar</ion-label>
  </ion-button>
   </ion-toolbar>


</ion-content>

