
<ion-toolbar>
  <ion-button slot="start" (click)="cerrarModal()" fill="clear">
   <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-label class="soccer-league-subtitle">{{title}}</ion-label>

</ion-toolbar>
<app-encabezado-modal></app-encabezado-modal>

<ion-content>

<ion-grid  style="height: 100%;">
  <ion-row  style="height: 100%;display: flex;justify-content: center;align-items: center;">
    <ion-col size="10" size-md="4">
<ion-badge color="dark" mode="ios" class="ion-text-uppercase">Dia</ion-badge>
      <ion-item class="ion-margin-bottom ion-margin-top">
     
          <ion-select  required [(ngModel)]="dateObjectReturn.date" (ionChange)="obtenerDia($event)"   name="dia">
            <ion-select-option [value]="dia" *ngFor="let dia of dias">
             {{dia}} 
            </ion-select-option>
            
            </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="10" size-md="4">
      <ion-badge color="dark" mode="ios" class="ion-text-uppercase">Mes</ion-badge>
    <ion-item class="ion-margin-bottom ion-margin-top">
  
        <ion-select required [(ngModel)]="dateObjectReturn.month" (ionChange)="obtenerMes($event)"   name="mes">
          <ion-select-option [value]="mes" *ngFor="let mes of meses" class="ion-text-capitalized">
            {{mes}}
          </ion-select-option>
          
          </ion-select>
    </ion-item>
    </ion-col>

    <ion-col size="10" size-md="4">
      

      <ion-badge color="dark" mode="ios" class="ion-text-uppercase">Año</ion-badge>
    <ion-item class="ion-margin-bottom ion-margin-top">

        <ion-select   required [(ngModel)]="dateObjectReturn.year" (ionChange)="obtenerAno($event)"   name="ano">
          <ion-select-option [value]="ano" *ngFor="let ano of anos">
            {{ano}}
          </ion-select-option>
          
          </ion-select>
    </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button  (click)="continuar()"  size="small" color="dark">
    <ion-icon  name="arrow-forward-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
