
.slide-full {
    height: 100% !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
ion-card {
    overflow: unset !important;
}

ion-card {
    height: 250px;
    width: 80%;
}

.margin-top-botom{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.slide-image {
    width: 100px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -50px;
}

ion-card-header {
    position: relative;
    top: -50px;
  
}
ion-card-subtitle{
    color:#1A2023;
}
ion-card-content {
    position: relative;
    top: -50px;
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}