<app-header></app-header>

<ion-content class="ion-padding">


  <form id="form" (ngSubmit)="obtenerCodigoDeSeguridad(fRecuperarContrasena)" #fRecuperarContrasena="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-thumbnail>
            <img  src="assets/web-security.svg" alt="">
          </ion-thumbnail>
        </ion-col>
        <ion-col size="12">
          <h1>Gestor contraseñas,</h1>
          <h3>Proceso de verificación!..</h3>


        </ion-col>
 
        <ion-col size="12"  >
          <app-input  name="Codigo"  type="text"  label="Código" 
    ngModel="{{Codigo}}"></app-input>

        </ion-col>

        <ion-col size="12">
          <app-button label="{{ !verificarCodigo ? 'Solicitar Código' : 'Validar Código'}}"></app-button>
        </ion-col>

 
      </ion-row>
    </ion-grid>


  </form>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <p class="footer-text">Página principal, <a (click)="regresar()">Regresar</a></p>
  </ion-toolbar>
</ion-footer>
 