
      <ion-toolbar>
        <ion-title slot="start" class="ion-text-uppercase" style="font-size: 14px;font-weight: 600;">Metodos de pago</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()" color="dark"> 
            <ion-icon  name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
<div class="inner-content">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Proximamente</ion-card-subtitle>
      <ion-card-title>No te lo pierdas!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the
      woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</div>