<app-encabezado-modal></app-encabezado-modal>

<ion-content>


  <ion-grid  style="height: 100%;">
    <ion-row style="  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">
      <ion-col size="12" size-md="6">
        <ion-label >
       
          Provincia</ion-label>
        <ion-item  lines="none">
     
          <ion-select placeholder="Provincia"  required [(ngModel)]="filtro.Cod_Provincia" (ionChange)="onChange($event, true,false,false)"   name="Cod_Provincia">
              <ion-select-option [value]="provincia.Cod_Provincia" *ngFor="let provincia of provinciasService.provincias">
                {{provincia.Provincia}}
              </ion-select-option>
              
              </ion-select>
        </ion-item>
  
  
      </ion-col>
  
      <ion-col size="12" size-md="6">
        <ion-label>
      
          Cantón</ion-label>
          <ion-item  lines="none">
            <ion-select   placeholder="Canton" required [(ngModel)]="filtro.Cod_Canton"  (ionChange)="onChange($event, false,true,false)"   name="Cod_Canton" >
              <ion-select-option [value]="canton.Cod_Canton" *ngFor="let canton of cantonesService.cantones">
                {{canton.Canton}}
              </ion-select-option>
              
              </ion-select>
        </ion-item>
  
  
      </ion-col>
  
      <ion-col size="12" size-md="6">
        <ion-label>

          Distrito</ion-label>
          <ion-item lines="none">

            <ion-select   placeholder="Distrito" required   [(ngModel)]="filtro.Cod_Distrito"   (ionChange)="onChange($event, false,false,true)" name="Cod_Distrito">
              <ion-select-option [value]="distrito.Cod_Distrito" *ngFor="let distrito of distritosService.distritos">
                {{distrito.Distrito}}
              </ion-select-option>
        
            </ion-select>
        </ion-item>
  
  
      </ion-col>
  

    </ion-row>
  </ion-grid>

</ion-content>





<ion-fab  (click)="submit()" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button  color="dark">
    <ion-icon  name="arrow-forward-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>



