

<ion-content >
 
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)"  >
    <ion-list lines="none">
      <ion-grid >
        <ion-row class="center-row">



          <ion-col size="12" size-md="8" >
            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <ion-input type="text" placeholder="Correo o numero de telefono" name="correo" [(ngModel)]="userLogin.usuario"></ion-input>
            </ion-item>
          </ion-col>
      
          <ion-col size="12" size-md="8" >
            
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
                <ion-input  name="contrasena" autocomplete="off" [(ngModel)]="userLogin.contrasena" type="{{showPass ? 'text' : 'password'}}" placeholder="contraseña"></ion-input>
                <ion-icon slot="end"  item-right name="{{showPass ? 'eye' : 'eye-off'}}" (click)="showPass=!showPass"></ion-icon>
           </ion-item>
      
          </ion-col>
          <ion-col size="12" size-md="8" >
            <ion-item style="display: grid; place-content: center;">
              <ion-label  style="font-weight: bold;" >
                Iniciar Sessión 
              </ion-label>
              <ion-buttons >
            
                <ion-button fill="solid"  shape="round"  style="margin-left:10px; height: 30px; width: 30px;" type="submit">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button> 
              </ion-buttons>
            </ion-item>
                    </ion-col>
          <ion-col size="12" size-md="8"  >

         <ul style="display: flex;list-style: none;">
           <li style="margin-right:5px;">
            <a routerLink="/inicio/register" fill="solid" shape="round" color="primary"style="text-decoration: none;">Registro</a>
      
           </li>
           <li style="margin-left: 5px;">   <a routerLink="/password-reset">Recuperar contraseña</a></li>
         </ul>
           
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
</form>
  
  </ion-content>


