
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button color="light" (click)="cerrarModal()">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;Lista de  canchas
          </ion-button>
        </ion-buttons>
   
      </ion-item>
  
    </ion-toolbar>
    <ion-toolbar style="display: flex;justify-content:center;align-items:center;">
        
        
      <ion-searchbar slot="start" style="width: 80% ;" mode="ios" placeholder="buscar cancha" inputmode="text"  debounce="250" ></ion-searchbar> 
    
      <ion-button  slot="end" (click)="filtroUbicacion()"  >
        <ion-icon size="large"  name="options-outline" ></ion-icon>
      </ion-button>
    
      
     
    </ion-toolbar>
    </ion-header>
   

      <ion-content fullscreen>

        <div class="mainContent">
    <ion-list>
      <ion-item lines="none" class="employeeItem  animate__animated animate__fadeIn"    (click)="onOpenMenu(cancha)" *ngFor="let cancha of canchasService.canchas" >
        <img  src="{{'https://dev-coding.com/FUTPLAY_APIS_HOST/PerfilCanchaUploads/'+cancha.Foto }}" onerror="this.src='assets/soccerfield.jpg'"   alt="">
  
        <ion-label>
          <h2>{{cancha.Nombre}} <ion-badge color="dark" mode="ios">₡ {{cancha.Precio_Hora}}</ion-badge></h2>
          <p   >
               
            Categoria <ion-badge color="warning" mode="ios">{{cancha.Categoria}}</ion-badge>
      
          </p>
          <p>{{cancha.Nombre_Provincia}},       {{cancha.Nombre_Canton}} ...</p>
        </ion-label>
  
      </ion-item>
    </ion-list>
          
      </div>
    </ion-content>

