<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-avatar>
            <img src="../assets/logo.png" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-label>{{"RESERVATIONS_TITLE" | translate }}
          </ion-label>

        </ion-col>
        <ion-col size="12">
          <app-button (click)="nuevaReservacion()" label='{{"RESERVE_SOCCER_FIELD" | translate }}'></app-button>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-toolbar>
      <ion-label slot="start" class="subtitle"><strong>{{"YOUR_CHALLENGES" | translate }}</strong></ion-label>
      <ion-button (click)="gestionRetos()" slot="end" fill="clear" shape="round">
        <ion-icon size="large" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-toolbar>



    <ion-item *ngIf="reservacionesService.retosConfirmados.length == 0" lines="none" class="animate__animated animate__fadeIn">
      <span slot="start">
        <ion-avatar>
          <img src="assets/logo.png" alt="">
        </ion-avatar>


        <ion-label>

          <h6><strong>{{"FUTPLAY_MESSAGE" | translate }}</strong> </h6>
          <p>{{"NO_RECORDS_FOUND" | translate }}</p>

        </ion-label> 
      </span>


    </ion-item>
    <ion-item (click)="iniciarPartido(reservacionesService.retosConfirmados[0])" detail *ngIf="reservacionesService.retosConfirmados.length > 0" lines="none"
      class="custom-item  animate__animated animate__fadeIn">
      <img src="{{'https://futplaycompany.com/api_test/'+reservacionesService.retosConfirmados[0].cancha.Foto}}" alt="">

      <ion-label>
        {{reservacionesService.retosConfirmados[0].reservacion.Fecha | date :'fullDate'}}
        <p>{{reservacionesService.retosConfirmados[0].reservacion.Hora_Inicio | date:'h:mm a' }} en {{reservacionesService.retosConfirmados[0].cancha.Nombre}}
        </p>
        <p>

          {{reservacionesService.retosConfirmados[0].reservacion.Titulo }}

        </p>

      </ion-label>

    </ion-item>

  </ion-list>
  <ion-list>
    <ion-toolbar>
      <ion-label class="subtitle"><strong>{{"CHALLENGES_AVAILABLE" | translate }}</strong></ion-label>

    
    </ion-toolbar>
    <ion-item detail *ngFor="let retoAbierto of reservacionesService.retosAbiertos" (click)="detalleReto(retoAbierto)" lines="full"
      class="custom-item animate__animated animate__fadeIn">
      <img src="{{'https://futplaycompany.com/api_test/'+retoAbierto.cancha.Foto}}" alt="">

      <ion-label>
        {{retoAbierto.reservacion.Fecha | date :'fullDate'}}
        <p>{{retoAbierto.reservacion.Hora_Inicio | date:'h:mm a' }} en {{retoAbierto.cancha.Nombre}} </p>
        <p>

          {{retoAbierto.reservacion.Titulo }}

        </p>

      </ion-label>

    </ion-item>
    <ion-item *ngIf="reservacionesService.retosAbiertos.length == 0" lines="none" class="animate__animated animate__fadeIn">
      <span slot="start">
        <ion-avatar>
          <img src="assets/logo.png" alt="">
        </ion-avatar>


        <ion-label>

          <h6><strong>{{"FUTPLAY_MESSAGE" | translate }}</strong> </h6>
          <p>{{"NO_RECORDS_FOUND" | translate }}</p>

        </ion-label>
      </span>


    </ion-item>
  </ion-list>

</ion-content>