ion-avatar {
  height: 4rem;
  width: 4rem;
  display: block;
  margin: 0 auto;
}
 ion-icon{
  color: #5a55ca!important;
 
}
.subtitle{
  margin-left: 1rem;
}
.custom-item {
  img {
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    border: 2px solid #e7edfb;
    object-fit: cover;
  }
  ion-label {
    font-size: 14px !important;
    padding-left: 1.2rem;

    p {
      letter-spacing: -0.03rem;
    }
  }

}

span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
h2,p,h3{
  margin: 0 0 0 20px;
  padding: 0;
}
}
 