<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" (click)="regresar()" fill="clear">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>
    <ion-title>{{"COMPLETE_RESERVATION" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <swiper-container
    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
    class="mySwiper"
    thumbs-swiper=".mySwiper2"
    space-between="10"
    navigation="true"
  >
    <swiper-slide>
      <img
        src="{{url+cancha.cancha.Foto }}"
        onerror="this.src='assets/soccerfield.jpg'"
        alt=""
      />
    </swiper-slide>
  </swiper-container>
  <ion-list>
    <ion-item
      lines="full"
      class="animate__animated animate__fadeIn ion-no-padding"
    >
      <ion-label class="ion-margin">
        <strong>{{"SOCCER_FIELD" | translate }} : {{cancha.nombre}}</strong>
      </ion-label>
    </ion-item>
    <ion-item
      lines="full"
      class="employeeItem animate__animated animate__fadeIn"
    >
      <ion-label>
        {{"CATEGORY" | translate }} : {{cancha.categoria}}
      </ion-label>
    </ion-item>
    <ion-item
      lines="full"
      class="employeeItem animate__animated animate__fadeIn"
    >
      <ion-label>
        {{"LOCATION" | translate }} : {{cancha.pais}} {{cancha.estado}}
      </ion-label>
    </ion-item>
    <ion-item
      *ngIf="nuevaReservacion.Cod_Tipo != 1   && rival && retador"
      lines="full"
      class="employeeItem animate__animated animate__fadeIn"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <img
                *ngIf="!retador.equipo.Avatar"
                src="{{url+retador.equipo.Foto}}"
                onerror="this.src='assets/img/icon/FP.svg'"
                alt=""
              />
              <img
                *ngIf="retador.equipo.Avatar"
                src="assets/soccer-shields-svg/{{retador.equipo.Foto}}"
                onerror="this.src='assets/img/icon/FP.svg'"
                alt=""
              />
            </ion-avatar>
          </ion-col>
          <ion-col
            size="6"
            style="display: flex; justify-content: center; align-items: center"
            class="ion-text-uppercase"
          >
            <strong style="font-size: 14px"
              >{{retador.equipo.Abreviacion}} vs
              {{rival.equipo.Abreviacion}}</strong
            >
          </ion-col>
          <ion-col size="3">
            <ion-avatar>
              <img
                *ngIf="!rival.equipo.Avatar"
                src="{{url+rival.equipo.Foto}}"
                onerror="this.src='assets/img/icon/FP.svg'"
                alt=""
              />
              <img
                *ngIf="rival.equipo.Avatar"
                src="assets/soccer-shields-svg/{{rival.equipo.Foto}}"
                onerror="this.src='assets/img/icon/FP.svg'"
                alt=""
              />
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col size="12">
          <ion-label>
            <span *ngIf="nuevaReservacion.Cod_Tipo == 1 ">
              {{"INDIVIDUAL_RESERVATION" | translate }}
            </span>
            <span *ngIf="nuevaReservacion.Cod_Tipo == 2 ">
              {{"OPEN_RESERVATION" | translate }}
            </span>
            <span *ngIf="nuevaReservacion.Cod_Tipo == 3 ">
              {{"GROUP_RESERVATION" | translate }}
            </span>

            <p
              class="ion-text-wrap"
              style="margin-top: 0.5rem"
              *ngIf="nuevaReservacion.Cod_Tipo == 1 "
            >
              {{"RESERVATION_FOR_ONE_PERSON" | translate }}
            </p>
            <p
              class="ion-text-wrap"
              style="margin-top: 0.5rem"
              *ngIf="nuevaReservacion.Cod_Tipo == 2 "
            >
              {{"OPEN_RESERVATION_FOR_OTHER_TEAMS_TO_JOIN" | translate }}
            </p>
            <p
              class="ion-text-wrap"
              style="margin-top: 0.5rem"
              *ngIf="nuevaReservacion.Cod_Tipo == 3 "
            >
              {{"CHALLENGE_OTHER_TEAMS" | translate }}
            </p>
          </ion-label>
        </ion-col>
        <ion-col size="12">
          {{"DATE" | translate }} : {{nuevaReservacion.Fecha | date
          :'fullDate'}}
        </ion-col>
        <ion-col size="12">
          {{"START_TIME" | translate }} : {{ nuevaReservacion.Hora_Inicio |
          date:'h:mm a'}}
        </ion-col>
        <ion-col size="12">
          {{"END_TIME" | translate }} : {{ nuevaReservacion.Hora_Fin| date:'h:mm
          a'}}
        </ion-col>
        <ion-col size="12">
          {{"TOTAL_HOURS" | translate }} x
          <strong>{{detalleReservacion.Total_Horas}}</strong>
        </ion-col>
        <ion-col size="12">
          {{"TOTAL" | translate }} : {{detalleReservacion.Monto_Total | colones
          }}
        </ion-col>
        <ion-col size="12">
          {{"AMOUNT_PER_TEAM" | translate }} : {{detalleReservacion.Monto_Equipo
          | colones }}
        </ion-col>
        <ion-col size="12" *ngIf="pago.length == 0 && nuevaReservacion.Cod_Estado == 7 || pago.length > 0 && nuevaReservacion.Cod_Estado == 7 " >

          {{"PENDING_PAYMENTS" | translate }}
          <ion-item
       
        >
        <ion-label class="ion-text-capitalize"><strong>{{rival.equipo.Nombre}}</strong></ion-label>

        <ion-fab-button size="small"  slot="end" [color]="pago.length == 0  ?   'danger' ||  pago[0].Cod_Equipo == rival.equipo.Cod_Equipo  : 'success' ">
          <ion-icon [name]="pago.length == 0 ? 'close-outline' ||  pago[0].Cod_Equipo == rival.equipo.Cod_Equipo  : 'checkmark-outline'"></ion-icon>
        </ion-fab-button>
        </ion-item>

        <ion-item
        lines="none"
        >
      
          <ion-label class="ion-text-capitalize"><strong>{{retador.equipo.Nombre}}</strong></ion-label>
   
        <ion-fab-button size="small" slot="end" [color]="pago.length == 0  ||  pago.length == 1    ?  'danger' : 'success' ">
          <ion-icon [name]="pago.length == 1   ? 'close-outline' : 'checkmark-outline'"></ion-icon>
        </ion-fab-button>
        </ion-item>
        </ion-col>
        <ion-col
          size="12"
          *ngIf="nuevaReservacion.Cod_Tipo == 1 || efectuarPago "
        >
          <app-payment
            [cancha]="cancha"
            [nuevaReservacion]="nuevaReservacion"
            [detalleReservacion]="detalleReservacion"
            [rival]="rival"
            [retador]="retador"
            [monto]="total"
          ></app-payment>
        </ion-col>

        <ion-col
          size="12"
          *ngIf="nuevaReservacion.Cod_Tipo != 1 && !efectuarPago"
        >
          <app-button
            (click)="enviarReto()"
            class="ion-margin"
            label="{{ 'COMPLETE_RESERVATION' | translate }} "
          ></app-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>

<ion-footer> </ion-footer>
