 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Finalizar Reservación</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
<ion-content>
<ion-list>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="{{'https://futplaycompany.com/api_test/'+cancha.cancha.Foto }}"
      onerror="this.src='assets/soccerfield.jpg'" alt="">

    </ion-slide>
 
  </ion-slides>
  <ion-item    lines="full" class="employeeItem  animate__animated animate__fadeIn"   >
    
    <ion-grid >
      <ion-row>
   
        <ion-col size="12" style="font-size: 14px;">
          <strong> {{cancha.nombre}}   </strong>
 
          <p >
               
           Categoria {{cancha.categoria}}
      
          </p>
          <p>
               
            {{cancha.provincia}}       {{cancha.canton}}  
       
           </p>
        </ion-col>
      </ion-row>
    </ion-grid>
 

 
  </ion-item>
  <ion-item  *ngIf="!detalleReservacion.Reservacion_Grupal"  lines="full" class="employeeItem  animate__animated animate__fadeIn"   >

    <ion-grid >
      <ion-row>
        <ion-col size="3">
          <ion-avatar    >
            <img *ngIf="!retador.equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+retador.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
            <img  *ngIf="retador.equipo.Avatar"  src="assets/soccer-shields-svg/{{retador.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
      
          </ion-avatar>
        </ion-col>
        <ion-col size="6" style="display: flex;justify-content: center;align-items: center;" class="ion-text-uppercase">

          <strong style="font-size: 14px;">{{retador.equipo.Abreviacion}}  vs    {{rival.equipo.Abreviacion}}</strong>
        </ion-col>
        <ion-col size="3">
          <ion-avatar    >
            <img *ngIf="!rival.equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+rival.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
            <img  *ngIf="rival.equipo.Avatar"  src="assets/soccer-shields-svg/{{rival.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
      
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-item>
  <ion-grid  class="ion-margin">
    <ion-row>
      <ion-col size="12">
        Descripción : Reto {{ !detalleReservacion.Reservacion_Grupal ? 'Grupal' : ' Reto Abierto'}}   
      </ion-col>
      <ion-col size="12">
        Fecha  :  {{nuevaReservacion.Fecha | date :'fullDate'}}
      </ion-col>
      <ion-col size="12">
        Inicio :     {{ nuevaReservacion.Hora_Inicio | date:'h:mm a'}}
      </ion-col>
      <ion-col size="12">
        Fin :     {{ nuevaReservacion.Hora_Fin| date:'h:mm a'}}
      </ion-col>
      <ion-col size="12">
        Total horas x <strong>{{detalleReservacion.Total_Horas}}</strong>
      </ion-col>
      <ion-col size="12">
        Total : {{detalleReservacion.Monto_Total | colones }}
      </ion-col>
      <ion-col size="12">
        Monto Por Equipo : {{detalleReservacion.Monto_Equipo | colones }}
      </ion-col>
      <ion-col size="12">
        Total Hoy :  {{total | colones }}
      </ion-col>
 
    </ion-row>
  </ion-grid>
</ion-list>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-button class="ion-margin"  (click)="enviarReto()" label="Finalizar Reservación"></app-button>
  </ion-toolbar>
</ion-footer>