<ion-list lines="none" >
<ion-grid >
  <ion-row>
    <ion-col size="12">
      <ion-item>
        
        <ion-searchbar mode="ios" placeholder="Buscar Club" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
    
  </ion-item>
    </ion-col>
    <ion-col size="12" class="scroll ">


 
 
          <ng-template ngFor let-club [ngForOf]="clubs.club  | filtro : textoBuscar:'nombre'" let-i="index">
        
        
            <ion-item>
            <ion-chip (click)="send(club)" style="height: 60px; background: transparent;">
                <ion-avatar  style="height: 40px; width: 40px;">
                  <img src="{{club.foto}}">
                
                </ion-avatar>
           
                <span style="display:block;">
                  <ion-label class="ion-text-center" style="margin: 2px;"> {{club.nombre}}     <img height="20" width="20" src="{{club.dureza}}"></ion-label>
              
                  <ion-icon style="size: 10px;" name="star"></ion-icon>
                  <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                  <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                  <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
                  <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
                </span>
              </ion-chip>
      
              <ion-buttons slot="end">
              
        
                <ion-button  color="dark" slot="end" (click)="enviarReto(club)">
                 <img style="height: 40px;" src="../assets/soccer/shot.svg" alt="">
                  </ion-button>
  
                  <ion-button (click)="add(club.clubID)"  color="primary" slot="end" *ngIf="this.user.currentUser.usuarioID !== club.usuarioID">
                    <img style="height: 40px;" src="../assets/soccer/paper-plane.svg" alt="">
                    </ion-button>
  
               
        </ion-buttons>
              
            </ion-item>
        
        
          </ng-template>
        
           
        
          
          
          

        

    </ion-col>
  </ion-row>
</ion-grid>
</ion-list>