.soccer-league-header-title{
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 35px; 
    color: rgba(37,13,76,255); 
    padding-bottom: 1rem;
  
    }
   
    .soccer-league-title{
  
      font-family: 'Roboto', sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 30px; 
        color:#fff;
      
        }
    .soccer-league-subtitle{
  
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 22px; 
      color: rgba(37,13,76,255); 
      padding: 4px;
    
      }
  
  
  .special-ascill{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  
  
    }