
<ion-toolbar>
  <ion-button slot="start" (click)="cerrarModal()" fill="clear">
   <ion-icon slot="icon-only" class="icon" name="arrow-back-outline"></ion-icon>
  </ion-button>
  <h1 class="ion-text-uppercase">Solicitudes Equipos</h1>


</ion-toolbar>
<ion-toolbar >

  <ion-buttons    slot="end">

    <ion-button color="{{showReceive ?  'primary' : 'dark'}}"  (click)="receive()"  fill="outline"  shape="round">
      <ion-label>Recibidas</ion-label>
         </ion-button>
   
         <ion-button color="{{showSend ?  'primary' : 'dark'}}"  (click)="send()"  fill="outline"  shape="round">
          <ion-label>Enviadas</ion-label>
            </ion-button>
        
      
  </ion-buttons>
  </ion-toolbar>
<ion-content [fullscreen]="true">


  <div class="title">
    <h2>Solicitudes {{title}}</h2>
  </div>


  <div class="no-data ion-text-center"  *ngIf="solicitudesService.solicitudesJugadoresArray.length == 0">
    <img style="width: 8rem;margin: 0 auto;" src="assets/time.svg" alt="">
    <ion-label class="ion-text-uppercase" style="margin-top: 1rem;margin-bottom: 1rem; ">No hay solicitudes {{title}}</ion-label>
  </div>
  
  <div class="event-slider">

    <ion-grid >
      <ion-row (click)="onOpenMenu(solicitud)" *ngFor="let solicitud of solicitudesService.solicitudesJugadoresArray">
  
        <ion-col size="12" style="display: flex; justify-content:space-between;align-items: center;">
          <ion-avatar >
            <img src="{{'https://dev-coding.com/FUTPLAY_APIS_HOST/PerfilEquipoUploads/'+ solicitud.Equipo_Foto}}" onerror="this.src='assets/team.png'"  alt="">
          </ion-avatar>


          <ion-card >


            <ion-card-content>
              <p class="date">
                {{solicitud.Fecha | date:'longDate'}}
              </p>
              <h2 class="eventname">
                {{solicitud.Nombre_Equipo}}
              </h2>
           
    
        
              </ion-card-content>
      
  
  
      </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>