
  <ion-header >

    <ion-toolbar mode="md">
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button (click)="cerrarModal()" color="light">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;Solicitudes  Equipos
          </ion-button>
        </ion-buttons>

      </ion-item>
  
      <ion-searchbar></ion-searchbar>
      <ion-segment color="light"  mode="md"    value="1"   scrollable >
        <ion-segment-button [value]="i" *ngFor="let cat of categories; let i = index;" 
        (click)="selectCategory(i)">
          <ion-label [class.active-category]="activeCategory == i">{{cat}}</ion-label>
        </ion-segment-button>
      
      </ion-segment>
 
    </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <div class="mainContent">
  
        <ion-list>

          <ion-item lines="none" class="employeeItem  animate__animated animate__fadeIn"  *ngIf="solicitudesService.solicitudesJugadoresArray.length == 0" >
            <img height="30" src="assets/exclamation-mark.svg" alt="">
            <ion-label>
       
              <h2> 0 solicitudes {{title}}</h2>
    
            </ion-label>
           
   
          </ion-item>
          <ion-item  (click)="onOpenMenu(solicitud)"  lines="none" class="employeeItem  animate__animated animate__fadeIn" *ngFor="let solicitud of solicitudesService.solicitudesJugadoresArray">
            <ion-avatar slot="start"  >
              <img *ngIf="!solicitud.equipo_avatar"  src="{{'https://dev-coding.com/FUTPLAY_APIS_HOST/PerfilEquipoUploads/'+solicitud.Equipo_Foto}}" onerror="this.src='assets/team.png'"   alt="">
              <img  *ngIf="solicitud.equipo_avatar"  src="assets/soccer-shields-svg/{{solicitud.Equipo_Foto}}" onerror="this.src='assets/team.png'"   alt="">
     
            </ion-avatar>
            
            <ion-label>
       
              <h2> {{solicitud.Nombre_Equipo}}</h2>
       <p>      {{solicitud.Fecha | date:'longDate'}}</p>
            </ion-label>
           
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
 