ion-toolbar{
  --background:#fff;
}
.pick-avatar {
  width: 150px;
  opacity: 0.3;
}

.pick-avatar-seleccionado {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}
.title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #010101;
}

ion-content{
  --background:#fff;
}
