
  <ion-header >

    <ion-toolbar mode="md">
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button  (click)="cerrarModal()" color="light">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;Gestion Equipos
          </ion-button>
        </ion-buttons>

      </ion-item>

 
     
    </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
  
    
      <div class="mainContent" style="display:flex;justify-content:center;align-items:center;">



        <ion-list style="width: 90vw;">
  
          <ion-item (click)="crearEquipo()"    lines="none" class="custom-item  custom-item-img animate__animated animate__fadeIn"      >
            <img  src="assets/team.svg"onerror="this.src='assets/team.svg'"   alt="">
      
            <ion-label>
              <h2> Crear Equipo </h2>
        
              <p   class="ion-text-wrap">
                   
                Te permite crear un nuevo equipo
          
              </p>
              
            </ion-label>
      
          </ion-item>

          <ion-item  (click)="buscarEquipos()"  lines="none" class="custom-item  custom-item-img animate__animated animate__fadeIn"      >
            <img  src="assets/team2.svg"onerror="this.src='assets/team2.svg'"   alt="">
      
            <ion-label>
              <h2> Unirse a un Equipo </h2>
             
              <p class="ion-text-wrap">Te permite unirte a un equipo</p>
            </ion-label>
      
          </ion-item>
        </ion-list>


      </div>
    </ion-content>

 