
 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Fecha</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
<ion-content >
  <ion-datetime  
 [(ngModel)]="fecha"
        #popoverDatetime2
        presentation="date"
        [max]="max"
      ></ion-datetime>
</ion-content>
<ion-footer  class="ion-no-border">
  <ion-toolbar>
    <app-button label="Selecionar" (click)="formatDate()"></app-button>
  </ion-toolbar>
</ion-footer>