<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Perfil Club:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid >
  <ion-row>
    <ion-col size="12">
      <ion-card style="box-shadow: none;">

        <ion-card-content>
            <ion-row>

                <ion-col size="12">
                    <ion-list lines="none">
                        <ion-item>
                            <ion-label class="ion-text-left">Nombre del club</ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-label class="ion-text-left">Abreviación (ABC)</ion-label>                         
                        </ion-item>
                        <ion-item>
                          <ion-label class="ion-text-left">Foto</ion-label>
                        </ion-item>

              
                    </ion-list>
                </ion-col>
                <ion-col size="12"style="display: grid; place-content: center;" >

                  <ion-buttons  style="margin: 0 auto; border: 1px solid black; border-radius: 50%; display: grid; place-content: center; height: 80px; width: 80px;">
                    <ion-button (click)="onClick()">
                      <ion-icon  name="add"  size="large"></ion-icon>
                     
                    </ion-button>
                  </ion-buttons>
                  <ion-buttons style="margin-top: 20px;" >
                    <ion-button  shape="round" fill="solid" color="primary">
                      Dejar Club
                    </ion-button>
                  </ion-buttons>
                        </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
