 
  
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>{{"TRANSFERS" | translate }}</ion-title>
    
  </ion-toolbar>
 
  <ion-segment mode="md" [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="received">
      <ion-label>{{"RECEIVED" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sent">
      <ion-label>{{"SENT" | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
 
  
 </ion-header>

<ion-content>
  <ion-list>
    <ion-item  *ngIf="solicitudes.length == 0"    lines="none"
    class="animate__animated animate__fadeIn">
    <span  >
      <ion-avatar>
        <img src="assets/logo.png" alt="">
      </ion-avatar>
  
  
<div>
  <h2>{{"FUTPLAY_MESSAGE" | translate }} </h2>
  <p>{{"NO_RECORDS_FOUND" | translate }}</p>

</div>
    </span>
  
  
    </ion-item>

    <ion-item (click)="onOpenMenu(solicitud)" lines="full" class="animate__animated animate__fadeIn" *ngFor="let solicitud of solicitudes">
      
<span>
  <ion-avatar   >
    <img *ngIf="!solicitud.usuario.Avatar" src="{{'https://futplaycompany.com/api_test/'+solicitud.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">

    <img *ngIf="solicitud.usuario.Avatar"src="assets/profile/avatars/{{solicitud.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">

  </ion-avatar>



 
<div>

  <h2>    {{solicitud.usuario.Nombre}} {{solicitud.usuario.Primer_Apellido}}</h2>
</div>
</span>

    </ion-item>
   </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
  <app-button (click)="buscarJugadores()" label='{{"SEARCH_PLAYERS" | translate }}'></app-button>
  </ion-toolbar>
</ion-footer>