
<ion-content >
  <ion-list lines="none">
    


<ion-list-header>
<ion-label class="ion-text-uppercase">Lista de Solicitudes</ion-label>
</ion-list-header>
<ion-list-header>
  <ion-searchbar mode="ios" placeholder="Buscar jugador" inputmode="text"  debounce="250" ></ion-searchbar>
</ion-list-header>

   
        <ion-item *ngIf="solicitudes?.solicitudes?.length  === 0" >
          <ion-label>No hay solicitudes disponibles</ion-label>
        </ion-item>

        <ng-template ngFor let-solicitud [ngForOf]="solicitudes.solicitudes" let-i="index">

          <ng-template [ngIf]="clubID === solicitud.clubID">
            <ion-item >
              <ion-chip  style="height: 60px; background: transparent;">
                <ion-avatar  style="height: 50px; width: 50px;">
                  <img [src]="solicitud.usuarioID  | usuarios : 'foto'">
                
                </ion-avatar>
           
                <ion-label>{{solicitud.usuarioID  | usuarios : 'nombre'}} {{solicitud.usuarioID  | usuarios : 'apellido1'}}</ion-label>
              </ion-chip>
        
       
              <ion-buttons slot="end">
      

                <ion-button  color="dark" slot="end" (click)="opcionesService.opciones('Opciones de usuario',[{funcion:'verUsuario', icono: 'eye-outline', parametros:  {usuarioID:solicitud.usuarioID},  arreglo:'' , boton: 'Ver Usuario' },{funcion:'agregarUsuario', icono:'person-add-outline', parametros:  {solicitud:solicitud}, arreglo:'' , boton: 'Aceptar Solicitud' },{funcion:'eliminarSolicitud', icono: 'trash-outline', parametros:  {solicitudID:solicitud.solicitudID},arreglo:'' , boton: 'Eliminar Solicitud'}])">
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                  </ion-button>
        
        
               
        </ion-buttons>

  
     
      
          </ion-item>
          </ng-template>

     
        </ng-template>
              





</ion-list>
</ion-content>
