<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-left">Lista de Transferencias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" fill="solid" shape="round"  color="primary" slot="end" >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- Default Searchbar -->
<ion-searchbar mode="ios" placeholder="Buscar jugador" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
<ion-grid >
  <ion-row>
    <ion-col size="12" >
      <ion-list lines="none">
        <ion-item>
          <ion-label color="dark">Solicitudes</ion-label>
        </ion-item>
          <ion-item *ngFor="let solicitud of solicitudes.solicitudes; let i = index">
              <ion-label *ngIf="clubID === solicitud.clubID">{{solicitud.usuarioID | usuarios}}</ion-label>
              <ion-buttons *ngIf="clubID === solicitud.clubID" slot="end">
                <ion-button color="dark" (click)="usuario.show(solicitud.usuarioID)">
                  <ion-icon  name="eye"></ion-icon>
              </ion-button>
                <ion-button color="primary" (click)="add(solicitud)">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
              </ion-button>
                <ion-button color="danger" (click)="delete(solicitud.solicitudID)">
                  <ion-icon  name="trash"></ion-icon>
              </ion-button>
              </ion-buttons>
          </ion-item>

      </ion-list>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-list>
</ion-content>
