ion-header {

  ion-toolbar {
    --background: #5a55ca;
    color: #fff;

    ion-icon {
      color: #fff;
    }
  }
} 
ion-badge{
  margin-right: 0.5rem;
}

.sticky{
  background: #f1f1f1;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0px;
}


 


.custom-item {

  --border-radius: 10px;
  --padding-start: 1rem;
  --padding-end: 1rem;
  padding: 0.5rem;
  
  ion-label {
    font-size: 14px!important;

  
      padding-left: 1.2rem;
  
      h2 {
  
          font-weight: 600;
          letter-spacing: -0.02rem;
      }
  
      p {
  
          letter-spacing: -0.03rem;
      }
  }
  
  
  
  }


   
.container{
  position: relative;
  .ion-fab-button {
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 1001;
  }
  .swiper-wrapper {
    width: min-content !important;
  } 
  swiper-slide{
    height: 280px;
    z-index: 1000;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    
    }
  }
}

.first-layer{
  z-index: 999;
  position: absolute;
  top: 250px;
  background: #280A50;
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
.first-layer-container {
padding-bottom: 10px;
  h1 {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
  }
  ion-label {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
}
 .label-box {
  display: flex;
  align-items: center;
 }
.second-layer{
  height: 100%;
  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  ion-col, ion-row{
    padding: 0;
  
  }
}

h3 {
  text-transform: lowercase;
  font-size: 18px;
  color: #000;
  margin-left: 20px;
}
h3::first-letter {
  text-transform: uppercase;
}
ion-button {
border: 1px solid #FEFEFE;
border-radius: 10px;
}
p {
  margin-top: 0.5rem;
}
.datetime-full-width {
  width: 100% !important;
  margin: 0 auto !important;
}

 

ion-avatar {
  height: 42px;
  width: 42px;
}