
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button color="light" (click)="cerrarModal()">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;  {{reto.Titulo}}
          </ion-button>
        </ion-buttons>
   
      </ion-item>
      <ion-grid >
        <ion-row>
          <ion-col size="12">
            <ion-label> Cancha : <strong>{{reto.Nombre_Cancha}}</strong> </ion-label>
          </ion-col>
          <ion-col size="4">
           <ion-label>Fecha :  {{reto.Fecha | date:'shortDate'}}
        </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>Inicio {{reto.Hora_Inicio | date:'shortTime'}}
            </ion-label>
          </ion-col>
          <ion-col size="4W">
            <ion-label> Fin {{reto.Hora_Inicio | date:'shortTime'}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

    </ion-header>
   

      <ion-content fullscreen>

        <div class="mainContent">
          <ion-grid >


      
            <ion-row class="ion-margin-top">
      
              <ion-col size="12" class="ion-margin-bottom">




  <ion-item class="transparent">
    <ion-label><strong>Marcador Rival</strong></ion-label>
    <ion-avatar slot="end">
      <img src="assets/soccer-shields-svg/{{reto.Foto_Retador}}" />
    </ion-avatar>
    <ion-label slot="end">{{Historia_Partido2.Goles_Retador}}</ion-label>
    <ion-avatar slot="end">
      <img src="assets/soccer-shields-svg/{{reto.Foto_Rival}}" />
    </ion-avatar>
    <ion-label slot="end">{{Historia_Partido2.Goles_Rival}}</ion-label>
   </ion-item>
   <ion-item class="transparent">
    <ion-label><strong>Mi Marcador</strong></ion-label>
    <ion-avatar slot="end">
      <img src="assets/soccer-shields-svg/{{reto.Foto_Retador}}" />
    </ion-avatar>
    <ion-label slot="end">{{Historia_Partido.Goles_Retador}}</ion-label>
    <ion-avatar slot="end">
      <img src="assets/soccer-shields-svg/{{reto.Foto_Rival}}" />
    </ion-avatar>
    <ion-label slot="end">{{Historia_Partido.Goles_Rival}}</ion-label>
   </ion-item>

              </ion-col>

              <hr>
              <ion-col size="6" style="display: grid;place-content: center;">
      
      
                <ion-avatar   [ngClass]="equipo.Cod_Equipo == reto.Cod_Retador ? 'pick-avatar-seleccionado':  'pick-avatar'"   style="height: auto; width: auto;" class="ion-text-center">
                  <img  style="height: 6rem; width:6rem;"   src="assets/soccer-shields-svg/{{reto.Foto_Retador}}">
                  
                  </ion-avatar>
               
                  <ion-label    class="ion-text-wrap ion-text-center ion-margin ion-text-uppercase" style="font-size: 1.2rem; font-weight: 500;"> {{reto.Nombre_Retador}}   </ion-label>
              </ion-col>

              <ion-col size="6"  style="display: grid;place-content: center;">
        <ion-row>
          <ion-col   *ngIf="!Historia_Partido.Estado"   size="4" style="display: grid;place-content: center;">
            <ion-fab-button  (click)="restarMarcadorRetador()"  size="small" color="dark"   class="custom-button"  >
              <ion-icon  size="large" name="remove-outline"></ion-icon>
            </ion-fab-button>
        
       
          </ion-col>
  
          <ion-col  *ngIf="Historia_Partido.Estado"   size="12" style="display: grid;place-content: center;">
            <ion-label style="font-weight: 500; font-size: 2rem;">  {{Historia_Partido.Goles_Retador}}</ion-label>
          </ion-col>
          <ion-col  *ngIf="!Historia_Partido.Estado"   size="4" style="display: grid;place-content: center;">
            <ion-label style="font-weight: 500; font-size: 2rem;">  {{Historia_Partido.Goles_Retador}}</ion-label>
          </ion-col>

  
          <ion-col size="4"  *ngIf="!Historia_Partido.Estado"   style="display: grid;place-content: center;">
            <ion-fab-button  (click)="sumarMarcadorRetador()" size="small" color="dark"   class="custom-button"  >
              <ion-icon  size="large"  name="add-outline"></ion-icon>
            </ion-fab-button>
        
       
          </ion-col>
        </ion-row>
              </ion-col>

           




            </ion-row>
      <hr>
          
      
      <ion-row >
      
        <ion-col  size="6" style="display: grid;place-content: center;">


          <ion-avatar   [ngClass]="equipo.Cod_Equipo == reto.Cod_Rival ? 'pick-avatar-seleccionado':  'pick-avatar'"   style="height: auto; width: auto;" class="ion-text-center">
            <img  style="height: 6rem; width: 6rem;"   src="assets/soccer-shields-svg/{{reto.Foto_Rival}}">
            
            </ion-avatar>
         
            <ion-label    class="ion-text-wrap ion-text-center ion-margin ion-text-uppercase" style="font-size: 1.2rem; font-weight: 500;"> {{reto.Nombre_Rival}}   </ion-label>
        </ion-col>
<ion-col size="6"  style="display: grid;place-content: center;">
  <ion-row>
    <ion-col size="4"  *ngIf="!Historia_Partido.Estado"  style="display: grid;place-content: center;">
      <ion-fab-button  (click)="restarMarcadorRival()"  size="small" color="dark"   class="custom-button"   >
        <ion-icon  size="large" name="remove-outline"></ion-icon>
      </ion-fab-button>
  
 
    </ion-col>
    <ion-col  *ngIf="Historia_Partido.Estado"  size="12" style="display: grid;place-content: center;">
      <ion-label style="font-weight: 500; font-size: 2rem;">  {{Historia_Partido.Goles_Rival}}</ion-label>
    </ion-col>

    <ion-col  *ngIf="!Historia_Partido.Estado"  size="4" style="display: grid;place-content: center;">
      <ion-label style="font-weight: 500; font-size: 2rem;">  {{Historia_Partido.Goles_Rival}}</ion-label>
    </ion-col>


    <ion-col  *ngIf="!Historia_Partido.Estado"  size="4" style="display: grid;place-content: center;">
      <ion-fab-button size="small" color="dark"   class="custom-button" (click)="sumarMarcadorRival()" >
        <ion-icon  size="large"  name="add-outline"></ion-icon>
      </ion-fab-button>
  
 
    </ion-col>

  </ion-row>
</ion-col>
  



      </ion-row>
      
      
          </ion-grid>    
      </div>
    </ion-content>
    <ion-footer class="ion-no-border">
  
      <ion-button *ngIf="!Historia_Partido.Estado" (click)="evaluacionIndividual()"  expand="block">
       Evaluacion Partido
      </ion-button>
       
       
      <ion-button  *ngIf="!Historia_Partido.Estado" (click)="verificarPuntos()"  expand="block">
        Verificar Partido
       </ion-button>
        
  </ion-footer>
 
