
.header{
    height: 35vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     -webkit-transition: background-image 1s ease-in-out, -webkit-transform 200ms ease;
      transition: background-image 1s ease-in-out, transform 200ms ease;
    
    
    ion-title{
        --backdrop-opacity: 0.8 !important;
        font-size:30px;
         letter-spacing: 0.2em;
    }
    
    }
    .body{
      position: absolute;
      top: 30vh;
     border-top-right-radius: 6%;
     border-top-left-radius: 4%;
      z-index: 1;
  height: 100%;
  background-color: #FFF;
  padding-top: 5%;
  width: 100%;
  
  
  
  
  }.custom-button{
    --background: rgba(37,13,76,255);
    –-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }


  .pick-avatar {
    width: 12rem;
    opacity: 0.3;
    margin: 0 auto;
  }
  .dark{
    --background:purple;
    --background-activated:transparent!important;
  }
  .outline{
    --background:purple;
    --background-activated:transparent!important; 
    --color: 1px solid purple;
  }
  .pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
  }