<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">

    <ion-title>Recuperar Contraseña</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" class="ion-text-center">

  <ion-grid >
    <ion-list lines="none" > 
    <ion-row>
      <ion-col size="12">
        <ion-label >
Correo o número de telefono asociado a su cuenta.
        </ion-label>
        <ion-item>
          <ion-input type="text" placeholder="correo - telefono" [(ngModel)]="correo" name="correo"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button class="ion-margin ion-button "  fill="clear"    (click)="confirmar()" [strong]="true">Enviar</ion-button>

      </ion-col>
    </ion-row>

</ion-list>
</ion-grid>


</ion-content>