
<ion-content>
  

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile">
       <img src="/assets/home/user.svg" alt="" height="30">
       
      </ion-tab-button>
  
      <ion-tab-button tab="clubs">
        <img src="/assets/home/users.svg" alt="" height="30">
    
      </ion-tab-button>
  
      <ion-tab-button tab="search/rivales">
        <img src="/assets/home/search.svg" alt="" height="30">
    
      </ion-tab-button>
  
      <ion-tab-button tab="reservations">
        <img src="/assets/home/football.svg" alt="" height="30">
    
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
