
<ion-content>
  

  <ion-tabs >
    <ion-tab-bar slot="bottom"  >
      <ion-tab-button tab="profile" >
       <img src="/assets/futplay/icons/soccer-player.svg" alt="" style="height: 40px;">
       
      </ion-tab-button>
  
      <ion-tab-button tab="clubs" (click)="misEquipos()">
        <img src="/assets/clubs/football-club.svg" alt="" style="height: 40px;">
       
    
      </ion-tab-button>
  
      <ion-tab-button tab="search" (click)="equipos()">
        <img src="/assets/futplay/icons/loupe.svg" alt="" style="height: 40px;">
       
    
      </ion-tab-button>
  
      <ion-tab-button tab="reservations" (click)="canchas()">
        <img src="/assets/futplay/icons/stadium.svg" alt="" style="height: 40px;">
    
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
