
<ion-content>
  

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile">
       <img src="/assets/icons/user.svg" alt="" style="height: 50px;">
       
      </ion-tab-button>
  
      <ion-tab-button tab="clubs">
        <img src="/assets/icons/users.svg" alt="" style="height: 50px;">
    
      </ion-tab-button>
  
      <ion-tab-button tab="search/rivales">
        <img src="/assets/icons/find.svg" alt="" style="height: 50px;">
    
      </ion-tab-button>
  
      <ion-tab-button tab="reservations">
        <img src="/assets/icons/field.svg" alt="" style="height: 50px;">
    
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
