
<ion-toolbar>
  <ion-title   slot="start" class="ion-text-uppercase" style="font-size: 14px;font-weight: 600;">Ranking Global</ion-title>
</ion-toolbar>
<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" name="trophy-outline"></ion-icon>
      <ion-label  >Tus puntos de calidad: 000</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon slot="start" name="trophy-outline"></ion-icon>
      <ion-label >Tu posicion actual: #000</ion-label>
    </ion-item>
  </ion-list>
  
  <app-join-club-component [header]="header" [clasificacionMenu]="true" [titulo]="titulo"></app-join-club-component>

</ion-content>
  