
<ion-toolbar>
  <ion-label slot="start" class="ion-margin ion-text-uppercase soccer-league-subtitle" ><h2>Ranking Global</h2></ion-label>

</ion-toolbar>

<ion-content>

  <div class="mainContent">
  

    <ion-list>
      <ion-item lines="none" class="employeeItem  animate__animated animate__fadeIn"   *ngFor="let equipo of equiposService.equipos">
        <ion-avatar slot="start"  >
          <img *ngIf="!equipo.equipo.Avatar" class="logo" data-src="{{'https://futplaycompany.com/api_test/'+equipo.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   >
          <img *ngIf="equipo.equipo.Avatar" src="assets/soccer-shields-svg/{{equipo.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"    alt="">
         
 
        </ion-avatar>
        <ion-label>
          <h2>{{equipo.equipo.Nombre}}</h2>
          <p  style="display:block; margin-top: 0.5rem;" >
               
             
                       
            <ion-icon style="size: 10px;" name="star"></ion-icon>
            <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
            <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
            <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
            <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
      
          </p>
        </ion-label>

      </ion-item>
    </ion-list>
  </div>
  




</ion-content>
