 
<ion-content>
  <ion-list>
    <ion-item  *ngIf="solicitudesService.solicitudesJugadoresArray.length == 0"    lines="none"
    class="animate__animated animate__fadeIn">
    <span slot="start">
      <ion-avatar>
        <img src="assets/logo.png" alt="">
      </ion-avatar>


      <ion-label>

        <h6><strong>MENSAJE FUTPLAY</strong> </h6>
        <p  > No se encontraron resultados!..</p>

      </ion-label>
    </span>


    </ion-item>

    <ion-item (click)="onOpenMenu(solicitud.solicitud)"   class="animate__animated animate__fadeIn" lines="full"  *ngFor="let solicitud of solicitudesService.solicitudesJugadoresArray">

      <span slot="start">
        <ion-avatar    >

          <img *ngIf="!solicitud.equipo.Avatar" class="logo" data-src="{{'https://futplaycompany.com/api_test/'+solicitud.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   >
          <img *ngIf="solicitud.equipo.Avatar" src="assets/soccer-shields-svg/{{solicitud.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"    alt="">
  
        </ion-avatar>
        
        <ion-label>
          {{solicitud.equipo.Nombre}}
          <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
          
            <ng-template ngFor let-hero [ngForOf]="filledStars(solicitud.equipo.Estrellas)"
            let-i="index" let-odd="odd"  >
            <ion-icon style="size: 10px;" name="star"></ion-icon>
          </ng-template>
          <ng-template ngFor let-hero [ngForOf]="emptyStars(solicitud.equipo.Estrellas)"
          let-i="index" let-odd="odd"  >
          <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
        </ng-template>
          </p>
        </ion-label>
  
      </span>
     
 

    </ion-item>




  </ion-list>
</ion-content>
