
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button color="light" (click)="cerrarModal()">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;Buscar Jugadores
          </ion-button>
        </ion-buttons>

      </ion-item>
  
    </ion-toolbar>
    <ion-toolbar style="display: flex;justify-content:center;align-items:center;">
        
        
      <ion-searchbar slot="start" style="width: 80% ;" mode="ios" placeholder="buscar jugador" inputmode="text"  debounce="250"  (ionChange)="onSearchChange($event)"  ></ion-searchbar> 
    
      <ion-button  slot="end" (click)="filtroUbicacion()"  >
        <ion-icon size="large"  name="options-outline" ></ion-icon>
      </ion-button>
    
      
     
    </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <div class="mainContent">
    
        <ion-item (click)="onOpenMenu(jugador)" lines="full" class="employeeItem  animate__animated animate__fadeIn"   *ngFor="let jugador of usuariosService.usuarios | filtro : textoBuscar:'Nombre' ">
          <ion-avatar slot="start">
            <img *ngIf="!jugador.Avatar" src="{{'https://dev-coding.com/FUTPLAY_APIS_HOST/PerfilUsuarioUploads/'+jugador.Foto}}" onerror="this.src='assets/user.svg'"    alt="">
          
                <img *ngIf="jugador.Avatar"src="assets/profile/avatars/{{jugador.Foto}}" onerror="this.src='assets/user.svg'"    alt="">
          
          
          </ion-avatar>
                <ion-label>
                  <h2>{{jugador.Nombre}} {{jugador.Primer_Apellido}}  </h2>
                  <p>Posicion : <ion-badge color="warning" mode="ios">{{jugador.Posicion}}</ion-badge> </p>
                  <p>Apodo: {{jugador.Apodo}}</p>
                 
            
                </ion-label>
          
              </ion-item>
    
          
      </div>
    </ion-content>
