<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" (click)="regresar()" fill="clear">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>
    <ion-title>{{"LIST_OF_PLAYERS" | translate }}</ion-title>

  </ion-toolbar>
  <ion-row>
     


    <ion-col size="10">

      <ion-searchbar (ionChange)="onSearchChange($event)" mode="ios" placeholder="Buscar jugador" inputmode="text"
        debounce="250"></ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-buttons>
        <ion-button class="custom-bottom" style="margin-top: 1rem;" (click)="filtroUbicacion()">
          <ion-icon color="dark" size="large" name="options-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-header>






<ion-content>

  <ion-list>
    <ion-item *ngIf="usuariosService.usuarios.length == 0" lines="none"
      class="custom-item   animate__animated animate__fadeIn">

      <ion-avatar>
        <img src="assets/logo.png" alt="">
      </ion-avatar>


      <ion-label>
        <h6><strong>{{"FUTPLAY_MESSAGE" | translate }}</strong> </h6>
        <p>{{"NO_RECORDS_FOUND" | translate }}</p>

      </ion-label>
    </ion-item>
    <ion-item (click)="onOpenMenu(jugador)" lines="full" class="custom-item  animate__animated animate__fadeIn"
      *ngFor="let jugador of usuariosService.usuarios | filtro : textoBuscar:'nombre' ">
      <ion-avatar slot="start">
        <img *ngIf="!jugador.usuario.Avatar" src="{{'https://futplaycompany.com/api_test/'+jugador.usuario.Foto}}"
          onerror="this.src='assets/user.svg'" alt="">

        <img *ngIf="jugador.usuario.Avatar" src="assets/profile/avatars/{{jugador.usuario.Foto}}"
          onerror="this.src='assets/user.svg'" alt="">


      </ion-avatar>
      <ion-label>
        <h2>{{jugador.nombre}} </h2>
        <p>{{jugador.provincia}}, {{jugador.canton}} ...</p>
        <p class="ion-text-wrap">Posicion : <ion-badge color="warning" mode="ios">{{jugador.posicion}}</ion-badge> </p>
        <p *ngIf="jugador.usuario.Apodo">Apodo: {{jugador.usuario.Apodo}}</p>


      </ion-label>

    </ion-item>
  </ion-list>


</ion-content>