 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Inscripción Torneo</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
 <ion-content class="ion-padding">
   
  <ion-item     lines="none" class="custom-item  custom-item-img animate__animated animate__fadeIn"       >
    <img  src="https://images.unsplash.com/photo-1522778119026-d647f0596c20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8c29jY2VyJTIwZmllbGR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60   alt=">

    <ion-label>
      <h2> Torneo X </h2>
      <p>Liga / Eliminación Directa </p>
      <p   >
           
       Equipos x/16
  
      </p>

    </ion-label>

  </ion-item>

  <ion-grid >
    <ion-row>
      <ion-col size="12">
        Descripción
      </ion-col>
      <ion-col size="12">
        Fechas
      </ion-col>
      <ion-col size="12">
        Jornadas
      </ion-col>
      <ion-col size="12">
        Premio
      </ion-col>
      <ion-col size="12">
        Inscripción $$$
      </ion-col>
      <ion-col size="12">
        <app-button label="Inscribirse"></app-button>
      </ion-col>
    </ion-row>
  </ion-grid>
   
 </ion-content>
  