<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-left">FUTPLAY <ion-badge color="primary">Imagenes</ion-badge></ion-title> 
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" fill="solid" color="primary" slot="end" shape="round">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-list lines="none" style="height:100%;">
  <ion-item>
    <ion-label>Gestor de fotos</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="uploadCamera()" fill="solid" shape="round" color="primary">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <ion-label>Camara</ion-label>
      </ion-button>
      <ion-button (click)="uploadPictures()"  fill="solid" shape="round" color="secondary">
        <ion-icon name="image-outline" slot="start"></ion-icon>
        <ion-label>Gallería</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-grid style="height:100%;display: grid;place-content: center;">
  <ion-row>
    <ion-col size="12">
      <ion-item  *ngIf="image !==''">
        <img [src]="image" alt="" style="margin: 0 auto;height: 300px;width: 200px;">
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item *ngIf="image !==''">
      <ion-buttons style="margin: 0 auto;" (click)="cerrarModal()">
        <ion-button shape="round" fill="solid" color="primary">
       Guardar
        </ion-button>
      </ion-buttons>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-list>


</ion-content>
