<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-left">FUTPLAY <ion-badge color="primary">Imagenes</ion-badge></ion-title> 
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" fill="solid" color="primary" slot="end" shape="round">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >


<ion-list lines="none" >
  <ion-item>
    <ion-label>Gestor de fotos</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="uploadCamera()" fill="solid" shape="round" color="primary">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <ion-label>Camara</ion-label>
      </ion-button>
      <ion-button (click)="uploadPictures()"  fill="solid" shape="round" color="secondary">
        <ion-icon name="image-outline" slot="start"></ion-icon>
        <ion-label>Gallería</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item  *ngIf="image">
    <ion-grid >
      <ion-row>
        <ion-col size="12">
          <ion-item  *ngIf="image !==''">
            <img [src]="image" alt="" style="margin: 0 auto;height: 300px;width: 200px;">
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item *ngIf="image !==''">
          <ion-buttons style="margin: 0 auto;" (click)="cerrarModal()">
            <ion-button shape="round" fill="solid" color="primary">
           Guardar
            </ion-button>
          </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
 
</ion-list>

<!-- Skeleton screen -->
<div *ngIf="!data">
  <div class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>


</ion-content>
