

<ng-template [ngIf]="!equiposService.new">
  <app-header titulo="Clubes" ></app-header>



  <ion-toolbar >
    <ion-buttons slot="start" > 
      <ion-menu-button color="dark"  menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start" >
      <ion-button (click)="myClubsMenu()"  color="dark">
        <ion-icon class="menu" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>



    <ion-buttons slot="end" >
      <ion-button color="dark" >
        <ion-icon class="menu" slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
      
    </ion-buttons>



  </ion-toolbar>


  
<ion-content>
 
  <ion-grid >


    
    <ion-row  style="margin-top: 50px;">

      <ion-col size="12"  class="ion-text-center" *ngIf="equiposService.perfilEquipo">
   
        <img  class="border-invert"  src="assets/soccer-shields-svg/{{equiposService.perfilEquipo.Foto}}">
        </ion-col>

      <ion-col size="12" size-md="6" size-lg="8" *ngIf="equiposService.perfilEquipo">
  
        <ion-item lines="none">
            <ion-label style="font-weight: 600;"> {{equiposService.perfilEquipo.Nombre}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label >Abreviación : {{equiposService.perfilEquipo.Abreviacion}} </ion-label>                         
        </ion-item>
        <ion-item lines="none">
          <ion-label >Región :  {{equiposService.perfilEquipo.Nombre_Provincia}} , {{equiposService.perfilEquipo.Nombre_Canton}} </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>(Ganes, Perdidos, Empates)</ion-label>
        </ion-item>

        <ion-item lines="none" *ngIf="equiposService.perfilEquipo">
          <span style="display:block;">
            <ion-label style="margin-bottom: 10px;">Dureza : <img  height="20" width="20" src="assets/icons/{{equiposService.perfilEquipo.Dureza}}"></ion-label>
        
            <ion-icon style="size: 10px;" name="star"></ion-icon>
            <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
            <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
            <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
            <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
          </span>
      </ion-item>
 
</ion-col>
</ion-row>

<ion-row>
<ion-col size="12" style="margin-top:40px;display: flex;justify-content: space-around;align-items: center;">
  <ion-button   fill="outline" shape="round" color="dark">
    <ion-icon name="download-outline"></ion-icon>
    <ion-label>Transferencias</ion-label>
    <ion-badge color="primary" style="margin-left:10px">0</ion-badge>
  </ion-button>
    
  
  
  
    <ion-fab-button  class="no-shadow" color="dark"   >
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-fab-button>

    </ion-col>

    <ion-col size="12">
      <ion-list-header>
        <ion-label style="font-size: 1rem;margin-top: 2rem;margin-bottom: 2rem;" class="ion-text-uppercase">Lista de jugadores</ion-label>
      
      </ion-list-header>
      
      <ion-item *ngFor="let jugador of equiposService.jugadoresPerfilEquipo" detail>
        <ion-avatar slot="start"  style="display:block; height: auto; width: auto;" class="ion-text-center">
          <img style="height: 40px; width: 40px;" src="assets/icons/football-player.svg">
        
        </ion-avatar>
        
        <ion-label class="ion-text-wrap">{{jugador.Nombre_Jugador}} {{jugador.Primer_Apellido}}</ion-label>
      
      </ion-item>
      
    </ion-col>


   
</ion-row>


  </ion-grid>
  
  
</ion-content>

</ng-template>

<ng-template [ngIf]="equiposService.new">



  <app-header titulo="Clubes"></app-header>


  <ion-content  class="">


    <ion-grid class="center-grid" >
      <ion-row >
      <ion-col size="12" >
        <ion-card style="display:flex; justify-content: center; align-items: center; width: 80vw; height: 140px;" (click)="newClub()">
          <ion-card-header >
            <ion-card-subtitle color="dark">CREAR UN CLUB</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img [src]="add" class="invert" style="height: 80px;">
          </ion-card-content>
        </ion-card>
    
        <ion-card    style="display:flex; justify-content: center; align-items: center; width: 80vw; height: 140px;">
          <ion-card-header>
            <ion-card-subtitle color="dark">UNIRSE A UN CLUB</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img [src]="find" class="invert" style="height: 80px;">
          </ion-card-content>
        </ion-card>
    
    
      </ion-col>


    </ion-row>
    </ion-grid>


   
  </ion-content>

</ng-template>
