
 
ion-toolbar {
  position: relative;
  ion-icon{
    font-size: 30px;
    color: #B7B7B7;
  }
  ion-title {
    margin-left: 5px;
    margin-top: 20px;
  }
}


.custom-item {
  position: absolute;
 // top: 5px;
  left: -10px;
  --background: rgb(255, 255, 255, 0.1);
  background-color: rgb(255, 255, 255, 0.1);
  position: relative;
  border-radius: 100px;
  border: 1px solid #B7B7B7;
  transition: all 0.2s;
  // margin: 0 auto;
  // margin-bottom: 16px;
  // margin-top: 10px;
  width: 100%;
  color: #B7B7B7;
  min-height: 0;
  height: 45px;
  ion-input,
  ion-select {
    min-height: 0;
    height: 45px;
  }
  ion-icon{
    font-size: 24px;
    color: #B7B7B7;
  }
  }
.custom-item:active {
  border: 1px solid #000;
  color: #fff;
}
.custom-item:focus-within {
  outline: none;
  box-shadow: 0 0 0 1px #B7B7B7;
}
 
.box-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  ion-label {
    width: 90%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center!important;
    display: flex;
    justify-content: center;
  }
}
.ion-button {
  --background: rgb(205, 205, 205, 0.5);
 // width: 140px;
  height: 40px;
  font-size: 14px;
  text-transform: capitalize;
}


.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.no-data-image {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
}
 
svg{
  margin-bottom: 0;
  padding-bottom: 0;
}
ion-segment ion-label{
  margin: 0;
}
.badge-box{
  position: relative;
width: 100px;
}
.badge{
  background-color: #5a55ca!important;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -18px;
  right: -15px;
  z-index: 1000;
  
}
ion-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
img {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  object-fit:fill;
}
 
.button-inner{
  padding: 0;

}
.float-right{
  float: right;
  margin-right: 10px;
}

ion-grid {
  margin-bottom: 16px;
}
 
.selected{
  font-weight: 700;
}
ion-segment-button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  --color-checked: #000;
  padding: 0;
  margin: 0;
 button{
  height: 20px;
 }
} 

