
.header{
  height: 35vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   -webkit-transition: background-image 1s ease-in-out, -webkit-transform 200ms ease;
    transition: background-image 1s ease-in-out, transform 200ms ease;
  
  
  ion-title{
      --backdrop-opacity: 0.8 !important;
      font-size:30px;
       letter-spacing: 0.2em;
  }
  
  }
  .body{
    position: absolute;
    top: 30vh;
   border-top-right-radius: 6%;
   border-top-left-radius: 4%;
    z-index: 1;
height: 100%;
background-color: #FFF;
padding-top: 5%;
width: 100%;




}
.pick-avatar {
  width: 12rem;
  opacity: 0.3;
  margin: 0 auto;
}
.dark{
  --background:purple;
  --background-activated:transparent!important;
}
.outline{
  --background:purple;
  --background-activated:transparent!important; 
  --color: 1px solid purple;
}
.pick-avatar-seleccionado {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}
// STYLED GRID 

.title{

  font-size: 18px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.styled-elemets{
  max-width: 650px;
margin: 0 auto;
  .heading{
      font-size: 18px;
      color: #7b7b7b;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    }

ion-col{
  margin: 0 auto;
}
  ion-col ion-item ion-label{

      --color: #7b7b7b;   
      font-size: 20px;
      text-transform: capitalize;
  letter-spacing: 0.1rem;
  
  
  ion-icon{
      margin-right: 0.8rem;
  }
  
  
  }
  
  ion-col ion-item ion-input{
    margin-top: 0.5rem;
  }

  ion-col ion-item ion-select{
    margin-top: 0.5rem; 
  }
}
ion-datetime {
  height: auto;
  width: auto;
 color: black;
  max-width: 350px;
}

ion-modal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}

ion-modal ion-datetime {
  height: 382px;
}
.custom-button{
  --background: rgba(37,13,76,255);
  width: 40px;
  font-weight: bold;
  height: 40px;
}

.purple{
  --background: rgba(37,13,76,255);
  font-weight: bold;
}