
<ion-toolbar>
  <ion-button slot="start" (click)="cerrarModal()" fill="clear">
   <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-label class="title ion-text-wrap">Crear Equipo</ion-label>

</ion-toolbar>
<ion-content  >
  

  <form   (ngSubmit)="crearRegistro(fEquipo)" #fEquipo="ngForm" class="styled-elemets body" style="height: 100%; ">
    
  <ion-grid >
    <ion-row>

      <ion-col size="12" >
        
       
        <ion-fab-button color="dark"  class="custom-button" style="position: absolute;top: 50%;left: 0px;z-index: 2;"  (click)="slidePrev()" >
          <ion-icon  size="small"  name="chevron-back-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="dark" class="custom-button" style="position: absolute;top: 50%;right:0px;z-index: 2;" (click)="slideNext()" >
          <ion-icon  size="small" name="chevron-forward-outline"></ion-icon>
        </ion-fab-button>


      <ion-slides  (ionSlideDidChange)="slideChange($event)"  [options]="avatarSlide">
        <ion-slide  *ngFor="let img of imgs">
            <ion-img class="pick-avatar" 
                    src="assets/soccer-shields-svg/{{img.img}}"
                    [ngClass]="{'pick-avatar-seleccionado': img.seleccionado}" (click)="seleccionarAvatar(img)"></ion-img>
      
      
    
      
        </ion-slide>
        </ion-slides>
      
      </ion-col>
      <ion-col size="12" style="display: flex;justify-content: end;">
        <ion-buttons  >
           
          <ion-button  size="large"      color="dark"  >
             
            <ion-icon  size="large" slot="icon-only" name="camera-outline" ></ion-icon>
  
  
           
          </ion-button>
          <ion-button size="large"     color="dark">
           
            <ion-icon  size="large" slot="icon-only" name="image-outline"></ion-icon>
          
          </ion-button>
      
        </ion-buttons>
      </ion-col>
    
      <ion-col size="12" size-md="6">
        <ion-label >
Nombre Equipo</ion-label>
<ion-item class="ion-margin-bottom ion-margin-top">
    
  <ion-input required  [(ngModel)]="equipo.Nombre"  placeholder="Nombre" name="nombre"
  type="text"
  ></ion-input>
         
        
        </ion-item>
  
  
      </ion-col>
  
  
      <ion-col size="12" size-md="6">
        <ion-label >
   
          Abreviación</ion-label>
        <ion-item class="ion-margin-bottom ion-margin-top">
         
        
          <ion-input maxlength="3" type="text" placeholder="Abreviacion" name="Abreviacion" [(ngModel)]="equipo.Abreviacion"   name="Abreviacion"  autocomplete="off"></ion-input>
        </ion-item>
      </ion-col>



      <ion-col size="12" size-md="6">
        <ion-label >
       
          Provincia</ion-label>
        <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
     
          <ion-select (click)="provinciasService.syncProvincias()" (ionChange)="onChange($event, 'provincia')"
          required [(ngModel)]="equipo.Cod_Provincia"   name="Cod_Provincia">
           <ion-select-option [value]="provincia.Cod_Provincia" *ngFor="let provincia of provinciasService.provincias">
             {{provincia.Provincia}}
           </ion-select-option>
           
           </ion-select>
        </ion-item>
  
  
      </ion-col>
  
      <ion-col size="12" size-md="6">
        <ion-label>
      
          Cantón</ion-label>
          <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
    
            <ion-select  (ionChange)="onChange($event, 'canton')"  required [(ngModel)]="equipo.Cod_Canton"    name="Cod_Canton" >
              <ion-select-option [value]="canton.Cod_Canton" *ngFor="let canton of cantonesService.cantones">
                {{canton.Canton}}
              </ion-select-option>
              
              </ion-select>
        </ion-item>
  
  
      </ion-col>
  
      <ion-col size="12" size-md="6">
        <ion-label>

          Distrito</ion-label>
          <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
            <ion-select  (ionChange)="onChange($event, 'distrito')" required   [(ngModel)]="equipo.Cod_Distrito"   name="Cod_Distrito">
              <ion-select-option [value]="distrito.Cod_Distrito" *ngFor="let distrito of distritosService.distritos">
                {{distrito.Distrito}}
              </ion-select-option>
        
            </ion-select>
        </ion-item>
  
  
      </ion-col>
  

      
  
      <ion-col size="12" class="ion-text-center ion-margin">
       
        <ion-button [disabled]="fEquipo.invalid" type="submit"
                  color="dark"
                  shape="round"     
                  fill="outline" >
                    Crear Cancha
                  </ion-button>
         
      </ion-col>

  
  
  

  
  
  
  
  
  
    </ion-row>
  </ion-grid>
    
  

  </form>
  
  
  </ion-content>



  
