
<ion-content>
  
  <ion-col size="12" class="header"  [style.backgroundImage]="'url(' + img1 + ')'">
    <ion-toolbar>
      <ion-fab-button class="custom-button" slot="start" (click)="cerrarModal()" size="small"  fill="clear" >
        <ion-icon  size="large" name="arrow-back-outline" ></ion-icon>
      </ion-fab-button>
    
    
     <ion-label  class="ion-text-uppercase"  style="letter-spacing: 0.2rem;">
    Crear Equipo
     </ion-label>
      <ion-buttons slot="end">
        
        <ion-button  size="large"  (click)="uploadCamera()"    color="dark"  >
               
          <ion-icon  size="large" name="camera-outline" ></ion-icon>
    
    
         
        </ion-button>
        <ion-button size="large" (click)="uploadPictures()"     color="dark">
         
          <ion-icon size="large"  name="image-outline"></ion-icon>
        
        </ion-button>
      </ion-buttons>
    </ion-toolbar>


  </ion-col>

  <form   (ngSubmit)="crearRegistro(fEquipo)" #fEquipo="ngForm" class="styled-elemets body" style="height: 100%; ">
  <ion-grid >
    <ion-row>
      <ion-col size="12">
        
          <ion-fab-button class="custom-button" style="position: absolute;top: 50%;left: 0px;z-index: 2;"  (click)="slidePrev()" >
            <ion-icon  size="large"  name="chevron-back-outline"></ion-icon>
          </ion-fab-button>

          <ion-fab-button class="custom-button" style="position: absolute;top: 50%;right:0px;z-index: 2;" (click)="slideNext()" >
            <ion-icon  size="large" name="chevron-forward-outline"></ion-icon>
          </ion-fab-button>


        <ion-slides   [options]="avatarSlide">
          <ion-slide  *ngFor="let img of imgs">
              <ion-img class="pick-avatar" 
                      src="assets/soccer-shields-svg/{{img.img}}"
                      [ngClass]="{'pick-avatar-seleccionado': img.seleccionado}" (click)="seleccionarAvatar(img)"></ion-img>
        
        
      
        
          </ion-slide>
          </ion-slides>
        

      </ion-col>
    

      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked" >
  
            <ion-icon slot="icon-only" name="text-outline"></ion-icon> Nombre Equipo</ion-label>
            <ion-input required  [(ngModel)]="equipo.Nombre"  placeholder="Nombre" name="nombre"
            type="text"
            ></ion-input>
         
        
        </ion-item>
  
  
      </ion-col>
  
  
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="text-outline"></ion-icon>
            Abreviación</ion-label>
        
          <ion-input maxlength="3" type="text" placeholder="Abreviacion" name="Abreviacion" [(ngModel)]="equipo.Abreviacion"   name="Abreviacion"  autocomplete="off"></ion-input>
        </ion-item>
  
  
      </ion-col>
  
  
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="location-outline"></ion-icon>
            Provincia</ion-label>
            <ion-select (ionChange)="onChange($event, 'provincia')"
             required [(ngModel)]="equipo.Cod_Provincia"   name="Cod_Provincia">
              <ion-select-option [value]="provincia.Cod_Provincia" *ngFor="let provincia of provinciasService.provincias">
                {{provincia.Provincia}}
              </ion-select-option>
              
              </ion-select>
        </ion-item>
  
  
      </ion-col>
  
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="location-outline"></ion-icon>
            Cantón</ion-label>
            <ion-select  (ionChange)="onChange($event, 'canton')"  required [(ngModel)]="equipo.Cod_Canton"    name="Cod_Canton" >
              <ion-select-option [value]="canton.Cod_Canton" *ngFor="let canton of cantonesService.cantones">
                {{canton.Canton}}
              </ion-select-option>
              
              </ion-select>
        </ion-item>
  
  
      </ion-col>
  
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="location-outline"></ion-icon>
            Distrito</ion-label>
            <ion-select  (ionChange)="onChange($event, 'distrito')" required   [(ngModel)]="equipo.Cod_Distrito"   name="Cod_Distrito">
              <ion-select-option [value]="distrito.Cod_Distrito" *ngFor="let distrito of distritosService.distritos">
                {{distrito.Distrito}}
              </ion-select-option>
        
            </ion-select>
        </ion-item>
  
  
      </ion-col>
  
      
  
        
  
  
  
  
  
  
    </ion-row>
  </ion-grid>
    

  </form>
  
  
  </ion-content>


  
  <ion-fab   vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  color="primary"  [disabled]="fEquipo.invalid" type="submit">
      <ion-icon   name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  