


<ion-content>





  <form  (ngSubmit)="crearRegistro(fEquipo)" #fEquipo="ngForm" class="styled-elemets" style="height: 100%; ">
<ion-grid style="height: 100%;display:flex;justify-content: center;align-items: center;" >


  <ion-row style="height:100%;display: flex; justify-content: center;">
    <ion-col size="12">


      <ion-slides   [options]="avatarSlide">
        <ion-slide  *ngFor="let img of imgs">
            <ion-img class="pick-avatar" 
                    src="assets/soccer-shields-svg/{{img.img}}.svg"
                    [ngClass]="{'pick-avatar-seleccionado': img.seleccionado}" (click)="seleccionarAvatar(img)"></ion-img>
      
      
    
      
        </ion-slide>
        </ion-slides>
      

    </ion-col>

    <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center" >
     
      <img  class="border-invert"  [src]="img">
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" class="ion-text-center" >
       
      
        <ion-button   (click)="uploadCamera()"    color="dark"  >
         
          <ion-icon  name="camera" ></ion-icon>


         
        </ion-button>
        <ion-button (click)="uploadPictures()"     color="dark">
         
          <ion-icon  name="image"></ion-icon>
        
        </ion-button>
      


      </ion-col>
    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked" >

          <ion-icon slot="icon-only" name="text-outline"></ion-icon> Nombre Equipo</ion-label>
          <ion-input required  [(ngModel)]="equipo.Nombre"  placeholder="Nombre" name="nombre"
          type="text"
          ></ion-input>
       
      
      </ion-item>


    </ion-col>


    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="text-outline"></ion-icon>
          Abreviación</ion-label>
      
        <ion-input maxlength="3" type="text" placeholder="Abreviacion" name="Abreviacion" [(ngModel)]="equipo.Abreviacion"   name="Abreviacion"  autocomplete="off"></ion-input>
      </ion-item>


    </ion-col>


    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          Provincia</ion-label>
          <ion-select (ionChange)="onChange($event, 'provincia')"
           required [(ngModel)]="equipo.Cod_Provincia"   name="Cod_Provincia">
            <ion-select-option [value]="provincia.Cod_Provincia" *ngFor="let provincia of provinciasService.provincias">
              {{provincia.Provincia}}
            </ion-select-option>
            
            </ion-select>
      </ion-item>


    </ion-col>

    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          Cantón</ion-label>
          <ion-select  (ionChange)="onChange($event, 'canton')"  required [(ngModel)]="equipo.Cod_Canton"    name="Cod_Canton" >
            <ion-select-option [value]="canton.Cod_Canton" *ngFor="let canton of cantonesService.cantones">
              {{canton.Canton}}
            </ion-select-option>
            
            </ion-select>
      </ion-item>


    </ion-col>

    <ion-col size="12" size-md="6">

      <ion-item>
        <ion-label position="stacked">
          <ion-icon slot="icon-only" name="location-outline"></ion-icon>
          Distrito</ion-label>
          <ion-select  (ionChange)="onChange($event, 'distrito')" required   [(ngModel)]="equipo.Cod_Distrito"   name="Cod_Distrito">
            <ion-select-option [value]="distrito.Cod_Distrito" *ngFor="let distrito of distritosService.distritos">
              {{distrito.Distrito}}
            </ion-select-option>
      
          </ion-select>
      </ion-item>


    </ion-col>

    

          <ion-col size="12" class="ion-text-center ion-margin">
     
            <ion-button class="ion-margin"  [disabled]="fEquipo.invalid" type="submit"
                color="dark"
                expand="block" >
                    Crear Equipo
                </ion-button>
       
          </ion-col>
    






  </ion-row>
</ion-grid>
  
</form>


</ion-content>



<ion-fab  (click)="cerrarModal()" vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button  color="dark">
    <ion-icon  name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
