<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-left">Crear Club</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" fill="solid" shape="round"  color="primary" slot="end" >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- Default Searchbar -->
</ion-header>
<ion-content class="ion-padding">
  <ion-grid >
      <ion-row>
          <ion-col size="12">
              <ion-list lines="none">
         
                
                  <ion-item>
                    <ion-label>Nombre Club</ion-label>
              <ion-input slot="end" type="text" class="ion-text-end" placeholder="Nombre club"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Provincia</ion-label>
                    <ion-select placeholder="Seleccionar">
                      <ion-select-option value="f">Data 1</ion-select-option>
                      <ion-select-option value="m">Data 2</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-label>Canton</ion-label>
                      <ion-select placeholder="Seleccionar">
                        <ion-select-option value="f">Data 1</ion-select-option>
                        <ion-select-option value="m">Data 2</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-label>Distrito</ion-label>
                      <ion-select placeholder="Seleccionar">
                        <ion-select-option value="f">Data 1</ion-select-option>
                        <ion-select-option value="m">Data 2</ion-select-option>
                      </ion-select>
                    </ion-item>
      
                    <ion-item>
                      <ion-label>Direccion</ion-label>
                      <ion-textarea slot="end"  type="text" class="ion-text-end" placeholder="Direccion"></ion-textarea>
                    </ion-item>
                    <ion-item>
                  <ion-buttons style="margin: 0 auto;">
                    <ion-button (click)="onClick()" fill="solid" shape="round">
                    Guardar Club
                    </ion-button>
                  </ion-buttons>
                    </ion-item>
                </ion-list>

          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>