ion-toolbar{
  --background:#fff;
}
.pick-avatar {
  width: 150px;
  opacity: 0.3;
}

.pick-avatar-seleccionado {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}
.title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #010101;
}
ion-content{
  --background:#fff;
  h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: #010101;
    margin-top: 1rem;
    margin-bottom:1rem;
  }
  #header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 
    img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid #ffff;
    }
  } 

  #form {
padding-left: 30px;
padding-right: 30px;
max-width: 500px;
width: 100%;
ion-button{
  margin-top: 35px;
  height: 48px;
  font-size: 18px;
  text-transform: initial;
  border-radius: 50px;
  box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.05);
}
  }

}

ion-item{
  border-radius: 50px;
  height: 55px;
  box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
  --highlight-height:0px;
}

ion-input{
  font-size: 18px;
  --padding-top:20px;
  --padding-bottom:15px;
  --padding-start:5px;

}

a{
  font-size: 17px;
  letter-spacing: 0.5px;
  text-decoration: none;
}