
<ion-content  >
  
  <ion-col tappable   size="12" class="header" >
       
    <ion-label  class="ion-text-uppercase"  style="letter-spacing: 0.5rem; color: white;font-size: 2rem; font-weight: 600; text-shadow: 2px 2px  rgba(37,13,76,255);">
      Editar Perfil
       </ion-label>


  </ion-col>

  <form   (ngSubmit)="updateUser(fActualizar)" #fActualizar="ngForm"  class="styled-elemets body" style="height: 100%; ">
    
  <ion-grid >
    <ion-row>
      <ion-buttons  style="position: absolute; top: 20px; right: 30px;">
           
        <ion-button  size="large"  (click)="uploadCamera()"    color="dark"  >
           
          <ion-icon  size="large" slot="icon-only" name="camera-outline" ></ion-icon>


         
        </ion-button>
        <ion-button size="large" (click)="uploadPictures()"     color="dark">
         
          <ion-icon  size="large" slot="icon-only" name="image-outline"></ion-icon>
        
        </ion-button>
    
      </ion-buttons>
      <ion-col size="12" style="margin-top: 3rem;">
        
          <ion-fab-button  class="custom-button" style="position: absolute;top: 50%;left: 0px;z-index: 2;"  (click)="slidePrev()" >
            <ion-icon  size="large"  name="chevron-back-outline"></ion-icon>
          </ion-fab-button>

          <ion-fab-button class="custom-button" style="position: absolute;top: 50%;right:0px;z-index: 2;" (click)="slideNext()" >
            <ion-icon  size="large" name="chevron-forward-outline"></ion-icon>
          </ion-fab-button>


        <ion-slides  (ionSlideDidChange)="slideChange($event)"  [options]="avatarSlide">
          <ion-slide  *ngFor="let img of imgs">
              <ion-img class="pick-avatar" 
                      src="assets/profile/avatars/{{img.img}}"
                      [ngClass]="{'pick-avatar-seleccionado': img.seleccionado}" (click)="seleccionarAvatar(img)"></ion-img>
        
        
      
        
          </ion-slide>
          </ion-slides>
        

      </ion-col>
    
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked" >
            <ion-icon slot="icon-only" name="person-outline"></ion-icon> Nombre</ion-label>
            <ion-input required  [(ngModel)]="usuario.Nombre"  placeholder="Nombre" name="nombre"
            type="text"
            ></ion-input>
         
        
        </ion-item>
  
  
      </ion-col>
  
  
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="person-outline"></ion-icon>
            Apellido</ion-label>
        
          <ion-input type="text" placeholder="Primer Apellido" name="Primer_Apellido" [(ngModel)]="usuario.Primer_Apellido"   name="Primer Apellido"  autocomplete="off"></ion-input>
        </ion-item>
  
  
      </ion-col>
  
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
            
            Correo</ion-label>
          <ion-input type="email" placeholder="Correo" name="Correo"  [(ngModel)]="usuario.Correo"   autocomplete="off"></ion-input>
        
        </ion-item>
  
  
      </ion-col>
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="call-outline"></ion-icon>
            Telefono</ion-label>
          <ion-input type="tel" placeholder="Telefono"  name="Telefono"   [(ngModel)]="usuario.Telefono"   autocomplete="off"></ion-input>
        
        </ion-item>
  
  
      </ion-col>
  
  
      <ion-col size="12" size-md="6">
  
        <ion-item  id="Fecha_Nacimiento"  > 
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
            Fecha de Nacimiento</ion-label>
            <ion-input type="text" [value]="usuario.Fecha_Nacimiento"></ion-input>             
                                      
        </ion-item>
        <ion-modal trigger="Fecha_Nacimiento">
          <ng-template>
            <ion-datetime
            name="Fecha_Nacimiento"
              presentation="date"
              [value]="usuario.Fecha_Nacimiento"
              (ionChange)="formatDate($event)"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
  
  
  
  
      </ion-col>
  
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="location-outline"></ion-icon>
            Provincia</ion-label>
            <ion-select (click)="syncProvincias()" required [(ngModel)]="usuario.Cod_Provincia" (ionChange)="onChange($event, true,false,false)"   name="Cod_Provincia">
              <ion-select-option [value]="provincia.Cod_Provincia" *ngFor="let provincia of provinciasService.provincias">
                {{provincia.Provincia}}
              </ion-select-option>
              
              </ion-select>
        </ion-item>
  
  
      </ion-col>
  
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="location-outline"></ion-icon>
            Cantón</ion-label>
            <ion-select  required [(ngModel)]="usuario.Cod_Canton"  (ionChange)="onChange($event, false,true,false)"   name="Cod_Canton" >
              <ion-select-option [value]="canton.Cod_Canton" *ngFor="let canton of cantonesService.cantones">
                {{canton.Canton}}
              </ion-select-option>
              
              </ion-select>
        </ion-item>
  
  
      </ion-col>
  
      <ion-col size="12" size-md="6">
  
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="icon-only" name="location-outline"></ion-icon>
            Distrito</ion-label>
            <ion-select required   [(ngModel)]="usuario.Cod_Distrito"   (ionChange)="onChange($event, false,false,true)" name="Cod_Distrito">
              <ion-select-option [value]="distrito.Cod_Distrito" *ngFor="let distrito of distritosService.distritos">
                {{distrito.Distrito}}
              </ion-select-option>
        
            </ion-select>
        </ion-item>
  
  
      </ion-col>
  

      
  
      <ion-col size="12" class="ion-text-center ion-margin">
       
        <ion-button [disabled]="fActualizar.invalid" type="submit"
                  color="dark"
                  shape="round"     
                  fill="outline" >
                      Actualizar usuario
                  </ion-button>
         
      </ion-col>

  
  
  

  
  
  
  
  
  
    </ion-row>
  </ion-grid>
    
  

  </form>
  
  
  </ion-content>



  <ion-fab  (click)="cerrarModal()" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="dark">
      <ion-icon  name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
