 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Editar Perfil</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
 <ion-content class="ion-padding">
  
  <ion-grid >
    <ion-row>
      <ion-col size="12">
        <h1>Seleccionar Avatar</h1>
      </ion-col>
      <ion-col size="12">
        <ion-slides   (ionSlideDidChange)="slideChange($event)"   pager="false"   mode="ios" [options]="sliderOpts" >
          <ion-slide  *ngFor="let img of imgs; let i = index;">
    
            <ion-img  class="pick-avatar" 
            src="assets/profile/avatars/{{img.img}}"
            [ngClass]="{'pick-avatar-seleccionado': img.seleccionado}" (click)="seleccionarAvatar(img, i)"></ion-img>
    
        
      
            
    
        
          </ion-slide>
          </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
   <form id="form" (ngSubmit)="updateUser(fRegistroEquipo)" #fRegistroEquipo="ngForm">

    <ion-grid >
      <ion-row>
        <ion-col size="12">
          <app-input    name="Nombre" type="text" label="Nombre" ngModel="{{usuario.Nombre}}"></app-input>
 
 

        </ion-col>
        <ion-col size="12">
          <app-input      name="Primer_Apellido" type="text" label="Primer Apellido" ngModel="{{usuario.Primer_Apellido}}"></app-input>
        </ion-col>
        <ion-col size="12">
          <app-input      name="Apodo" type="text" label="Apodo" ngModel="{{usuario.Apodo}}"></app-input> 
        </ion-col>
        <ion-col size="12">
          
     <app-select  name="Cod_Posicion"  [data]="dataPosiciones"   [ngModel]="usuario.Cod_Posicion" label="Posición"  ></app-select>
        </ion-col>
        <ion-col size="12">
          <app-input      name="Estatura" type="text" label="Estatura (CM)" ngModel="{{usuario.Estatura}}"></app-input>

        </ion-col>

        <ion-col size="12">
          <app-input      name="Peso" type="text" label="Peso (KG)" ngModel="{{usuario.Peso}}"></app-input>
        </ion-col>
        <ion-col size="12">
          <app-input      name="Telefono" type="text" label="Telefono" ngModel="{{usuario.Telefono}}"></app-input>

        </ion-col>
        <ion-col size="12">
          <app-input readonly="true"     name="Correo" type="text" label="Correo" ngModel="{{usuario.Correo}}"></app-input>
        </ion-col>
         


        <ion-col size="12">
          <app-input readonly="true" (click)="SelectDate()"     name="fechaNacimiento" type="text" label="Fecha Nacimiento" ngModel="{{usuario.Fecha_Nacimiento | date}}"></app-input>
        </ion-col>
 
        <ion-col size="12">
          <app-button label="Editar Perfil"></app-button>
     
        </ion-col>
      </ion-row>
    </ion-grid>
   

 
     


   

   </form>
 
   
 </ion-content>
 
 