
<ion-toolbar>
  <ion-button slot="start" (click)="cerrarModal()" fill="clear">
   <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-label class="title ion-text-wrap">Nueva Reservacion  <ion-badge    color="dark" mode="ios">{{this.selectedDate| date:'shortDate'}}</ion-badge></ion-label>

</ion-toolbar>

<ion-content >



  <form  (ngSubmit)="generarReto(fRegistro)" #fRegistro="ngForm" class="styled-elemets" style="height: 100%; ">

  <ion-button *ngIf="!rival" (click)="agregarRival()" style="margin-top: 2rem;"  class="ion-margin" expand="full" color="dark">
    Agregar Rival
   </ion-button>





  <ion-button style="margin-top: 2rem;" (click)="agregarRetador()" *ngIf="!retador" class="ion-margin" expand="full" color="dark">
    Agregar Retador
   </ion-button>




  <ion-button (click)="agregarCancha()" *ngIf="retador && rival && !cancha" class="ion-margin" expand="full" color="dark">
    Agregar Cancha
   </ion-button>

   <ion-card mode="ios"  *ngIf="rival">

    <ion-item class="ion-margin-top">
      <ion-avatar slot="start" style="height: 60px;width: 60px;" >
        <img style="height: 60px;width: 60px;" src="assets/soccer-shields-svg/{{rival.Foto}}">
      </ion-avatar>
      <ion-label slot="end" style="display:block;">
        <h2 >{{rival.Nombre}} <ion-badge color="warning" mode="ios">Rival</ion-badge></h2>
        
      </ion-label>
      

<ion-fab-button slot="end" (click)="agregarRival()" color="dark" size="small">

  <ion-icon   name="create-outline"></ion-icon>
</ion-fab-button>

    </ion-item>
    <ion-card-content>
      {{rival.Nombre_Provincia}},    {{rival.Nombre_Canton}},  {{rival.Nombre_Distrito}}
    </ion-card-content>

  </ion-card>

  <ion-card mode="ios"  *ngIf="retador">

    <ion-item class="ion-margin-top">
      <ion-avatar slot="start" style="height: 60px;width: 60px;" >
        <img style="height: 60px;width: 60px;" src="assets/soccer-shields-svg/{{retador.Foto}}">
      </ion-avatar>
      <ion-label slot="end" style="display:block;">
        <h2 >{{retador.Nombre}} <ion-badge color="warning" mode="ios">Retador</ion-badge></h2>
        
      </ion-label>
      

<ion-fab-button slot="end" (click)="agregarRetador()" color="dark" size="small">

  <ion-icon   name="create-outline"></ion-icon>
</ion-fab-button>

    </ion-item>
    <ion-card-content>
      {{retador.Nombre_Provincia}},    {{retador.Nombre_Canton}},  {{retador.Nombre_Distrito}}
    </ion-card-content>

  </ion-card>


  <ion-card mode="ios"  *ngIf="cancha">

    <ion-item class="ion-margin-top">
      <ion-avatar slot="start" style="height: 60px;width: 60px;" >
        <img style="height: 60px;width: 60px;" [src]="soccer">
      </ion-avatar>
      <ion-label slot="end" style="display:block;">
        <h2 >{{cancha.Nombre}} <ion-badge color="warning" mode="ios"> ₡ {{cancha.Precio_Hora}}</ion-badge></h2>
        
      </ion-label>
      

<ion-fab-button slot="end" (click)="agregarCancha()" color="dark" size="small">

  <ion-icon   name="create-outline"></ion-icon>
</ion-fab-button>

    </ion-item>
<ion-card-header>
  <ion-card-subtitle>Detalle Cancha</ion-card-subtitle>
</ion-card-header>
    <ion-card-content>
     {{cancha.Nombre_Provincia}}, {{cancha.Nombre_Canton}} , {{cancha.Nombre_Distrito}}
     <ion-label >Monto Luz</ion-label>
    <ion-item class="ion-item ion-margin-top ion-margin-bottom" lines="none" *ngIf="cancha.Luz">
      <ion-label> ₡  {{cancha.Precio_Luz}}</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-label >Fecha</ion-label>
    <ion-item  class="ion-item ion-margin-top ion-margin-bottom" lines="none" >
  
      <ion-input
        [value]="fechaDateTime | date:'fullDate'"
        placeholder="Fecha"
     
  
      ></ion-input>
      <ion-icon slot="end" size="small" name="calendar-outline"></ion-icon>

    </ion-item>

    <ion-col size="12" >
      <ion-label >Hora</ion-label>

      <ion-item  class="ion-item ion-margin-top ion-margin-bottom" lines="none"  >
        <ion-select [(ngModel)]="nuevaReservacion.Hora_Inicio"   placeholder="Hora Inicio">
          <ion-select-option  [value]="hora.hora_inicio" *ngFor="let hora of generrReservacionService.horasdiaConsulta">{{hora.formato12}}</ion-select-option>
        </ion-select>
    </ion-item>
    </ion-col>
    </ion-card-content>

  </ion-card>
  



   <ion-button [disabled]="fRegistro.invalid" type="submit" *ngIf="retador && rival && cancha != null" class="ion-margin" style="margin-top: 2rem;" expand="full" color="dark">
    Enviar Reto
   </ion-button>

  </form>
  </ion-content>
  
  
