

    
ion-datetime {
  height: auto;
  width: auto;
 color: black;
  max-width: 350px;
  background-color: #fff;
}

ion-modal {
  --backdrop-opacity: 0.8 !important;
  --width: 320px;
  --height: 382px;
  --border-radius: 8px;
}

ion-modal ion-datetime {
  height: 382px;
}

.list {
  max-height: 40vh;
  overflow-y: scroll;
}
