:host ::ng-deep{
  
    .monthview-container{
      height: auto !important;
    }
    .dayview-container{
        height: 100% !important;
      }
      .weekview-container{
        height: 100% !important;
      }
  }
  .event-indicator{
    background:  var (--ion-color-success);
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: table-cell;
  }   :host ::ng-deep{
          .monthview-primary-with-event{
            background-color: white!important;
          }
          .monthview-selected{
          background-color:  var(--ion-color-success)!important;
          }
      
          .with-event{
              background-color: var(--ion-color-primary);
              border-radius: 15px;
          }
        }


    
ion-datetime {
  height: auto;
  width: auto;
 color: black;
  max-width: 350px;
  background-color: #fff;
}

ion-modal {
  --backdrop-opacity: 0.8 !important;
  --width: 320px;
  --height: 382px;
  --border-radius: 8px;
}

ion-modal ion-datetime {
  height: 382px;
}

ion-card {
  width: 100vw;
}