<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <img src="assets/budget.svg" />
        <h2>SD1 Móvil</h2>
        <p>

        
¡Rompe con los métodos tradicionales y adéntrate en una nueva forma de trabajo, donde la simplicidad se une a la comodidad de tu teléfono!.
        </p>
        
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/expenses.svg" />
      <h2>Gestión De Gastos</h2>
      <p>
        Descubre la libertad de tener un control absoluto sobre tus gastos. 
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/money-bag.svg" />
      <h2>Gestión De Reintegros</h2>
      <p>

        Experimenta la facilidad de gestionar y reembolsar tus gastos mensuales de forma sencilla y eficiente.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/coris.png" />
      <h2>SD1 Móvil</h2>

      <p>
      
¿Estás preparado para dar el primer paso?
      </p>
      <ion-button (click)="start()" fill="clear">Continuar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>