<ion-header class="ion-no-border">
  <ion-toolbar >
<ion-card>
  <ion-card-header>
    <ion-card-title color="light" class="soccer-league-title">TORNEO FUTPLAY</ion-card-title>
  </ion-card-header>
  <ion-card-content>
<ion-label>
  Top 64 equipos participarán en el Torneo de Invierno
  <br>
  Mira la clasificación y mas detalles
</ion-label>
  </ion-card-content>
</ion-card>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  <ion-list  >
    <ion-toolbar >

   <ion-label>
    <h3>Torneos Disponibles</h3>
    <p class="subtitle"><strong>Próximamente!</strong></p>
  </ion-label>
    </ion-toolbar>
    <ion-item      lines="none" class="custom-item  custom-item-img animate__animated animate__fadeIn"       >
  <ion-thumbnail>
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-thumbnail>
  
      <ion-label>
        <h2>  <ion-skeleton-text [animated]="true"></ion-skeleton-text> </h2>
        <p> <ion-skeleton-text [animated]="true"></ion-skeleton-text> </p>
        <p   >
             
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    
        </p>
 
      </ion-label>
  
    </ion-item>
    <ion-item      lines="none" class="custom-item  custom-item-img animate__animated animate__fadeIn"       >
      <ion-thumbnail>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      
          <ion-label>
            <h2>  <ion-skeleton-text [animated]="true"></ion-skeleton-text> </h2>
            <p> <ion-skeleton-text [animated]="true"></ion-skeleton-text> </p>
            <p   >
                 
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        
            </p>
     
          </ion-label>
      
        </ion-item>
        <ion-item      lines="none" class="custom-item  custom-item-img animate__animated animate__fadeIn"       >
          <ion-thumbnail>
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          
              <ion-label>
                <h2>  <ion-skeleton-text [animated]="true"></ion-skeleton-text> </h2>
                <p> <ion-skeleton-text [animated]="true"></ion-skeleton-text> </p>
                <p   >
                     
                  <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            
                </p>
         
              </ion-label>
          
            </ion-item>
   </ion-list>
</ion-content>
