

<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title style="font-size: 24px;">{{"TOURNAMENTS" | translate }}</ion-title>
  </ion-toolbar>
  <ion-segment style="padding-left: 10px;" mode="md" value="tournaments" (ionChange)="segmentChanged($event)">
     
  <ion-segment-button    value="tournaments">
    {{"AVAILABLE_TOURNAMENTS" | translate }}
  </ion-segment-button>
  <ion-segment-button value="ranking">
    {{"RANKING" | translate }}
  </ion-segment-button>
 </ion-segment>
</ion-header>
<ion-content class="ion-padding">

 
  <ion-list *ngIf="!clasificaciones">
    <ion-card  mode="md">
      <img  height="200" style="width: 100%;"   src="assets/imgs/promotion.png"> 
    </ion-card>
 
    <ion-grid >
      <ion-row>
        <ion-col size="12">
          <ion-label class="ion-text-wrap" style="padding-top: 20px;"> <strong> {{"TOURMAMENT_NEWS" | translate }}</strong></ion-label>
        </ion-col>
        <ion-col size="12">
          <swiper-container class="mySwiper" navigation="false" pagination="true">
          
            <swiper-slide>
              <img
              
              height="280" style="width: 100%;"
          
                src="assets/imgs/rules.png"
               
                alt=""
              />
            </swiper-slide>
            <swiper-slide>
              <img
              height="280" style="width: 100%;"
          
                src="assets/imgs/crono.png"
               
                alt=""
              />
            </swiper-slide>
           
          </swiper-container>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list>
 
    <ion-grid class="table" *ngIf="clasificaciones">
             <ion-row>
              <ion-col size="12">
                <ion-toolbar mode="md">
                  <ion-title slot="start"> {{"LEAGUE_TABLE" | translate }}</ion-title>
                </ion-toolbar>
              </ion-col>
             </ion-row>  
      <ion-row     class="table-team" *ngFor="let equipo of equipos | filtro : textoBuscar:'nombre' ; let i = index; ">
      
     
         <ion-col size="12" class="flex-container">
           <ion-avatar>
            <img
            *ngIf="!equipo.equipo.Avatar"
            src="{{url+equipo.equipo.Foto}}"
            onerror="this.src='assets/img/icon/FP.svg'"
            alt=""
          />
          <img  
            *ngIf="equipo.equipo.Avatar"
            src="assets/soccer-shields-svg/{{equipo.equipo.Foto}}"
            onerror="this.src='assets/img/icon/FP.svg'"
            alt=""
          />
            </ion-avatar>
           <ion-label class="team-name"> {{equipo.nombre}}

            <p class="stars">
              <ng-template
                ngFor
                let-hero
                [ngForOf]="filledStars(equipo.equipo.Estrellas)"
                let-i="index"
                let-odd="odd"
              >
                <ion-icon color="warning" name="star"></ion-icon>
              </ng-template>
              <ng-template
                ngFor
                let-hero
                [ngForOf]="emptyStars(equipo.equipo.Estrellas)"
                let-i="index"
                let-odd="odd"
              >
                <ion-icon color="warning" name="star-outline"></ion-icon>
              </ng-template>
            </p>

           </ion-label>

           <div   class="table-points ">
            <ion-label>{{getOrdinal(i+1)}}</ion-label>
           </div>
         </ion-col>
         
        
        
      </ion-row>
  
  
  
  
    </ion-grid>
  
  </ion-list>
 
</ion-content>
