* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: #939fab;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 2rem;
}

ion-avatar {
  height: 6rem;
  width: 6rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}
form {
  margin-top: 2rem;

  .forgot-password-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    color: #4a4a4a;
    margin-top: 1rem;
    margin-right: 2rem !important;
  }

  app-button {
    display: block;
    margin-top: 3rem;
  }
}

.footer-text {
  text-align: center;
  font-size: 17px;

  a {
    text-decoration: none;
    font-weight: 600;
    color: #5a55ca;
  }
}
ion-popover {
  --offset-y: 0px !important;
  --height: 120px;
}

.margin-top {
  margin-top: 16px;
}

.need-help {
  font-size: 12px;
}
.margin-top-register {
  margin-top: 32px;
}
ion-popover {
  p {
    font-size: 14px;
  }
}
