<ion-content class="ion-padding">
  <h1>Bienvenido,</h1>
  <h3>Inicia sesión para continuar!.</h3>

  <form id="form" (ngSubmit)="login(fLogin)" #fLogin="ngForm">
    <app-input name="email" type="text" label="Usuario"  ngModel="{{loginUser.email}}"    ></app-input>
    <app-input  name="password"  type="password"   label="Contraseña" 
    ngModel="{{loginUser.password}}"></app-input>
    <a routerLink="#" class="forgot-password-link">Olvide Contraseña?</a>

    <app-button label='Iniciar Sesión'></app-button>
    
  </form>

  <p class="footer-text">Soy nuevo, <a routerLink="#">Registrarme</a></p>
</ion-content>