html, body{
  font-family: 'Soccer League'!important;
font-family: 'Soccer League College'!important;
min-height: 100vh;
}
.btn-circle{
    --border-radius: 50%!important;
    height: 30px;
    width: 30px;
    }
    .center-column{
        margin: 0 auto;
    }
    .center-container{
        display: flex;
  justify-content: center;
  align-items: center;
    }

    .card-container{
        min-height: 250px;
    }
    .scroll-md {
        max-height:200px;
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        ::-webkit-scrollbar {
          display: none;
        }
      }


      .social-media   {
      
        .modal-wrapper {
          --position:absolute;
          --bottom:0!important;
          --width: 100% !important;
          --height: 80px;
          position: absolute;
          bottom: 0;
        }
      }

      .modal-menu   {
      
        .modal-wrapper {
          --position:absolute;
          --bottom:0!important;
          --width: 100% !important;
          --height: 50%;
          position: absolute;
          bottom: 0;
        }
      }

      .informative-modal   {
      
        .modal-wrapper {
          --position:absolute;
          --width: 100% !important;
          --height: 70%;
          position: absolute;
          top: 20%;
        }
      }


      ion-tab-bar {
        border: 0;
        margin-top: -1px;
}

.ion-tab-bar{

    --background: rgba(37,13,76,255);
 

    ion-tab-button {
      --background: transparent;
      color: #FFF;
    }
}
.custom-menu{

  --background: rgba(37,13,76,255);


  ion-tab-button {
    --background: transparent;
    color: #FFF;
  }
}

.scroll {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}


.center-row{
  display: flex;
align-items: center;
justify-content: center;
}

ion-tab-bar {
	--ion-color-primary: rgb(59, 48, 48);
}


/* Works - pass "my-custom-class" in cssClass to increase specificity */
.small-width .popover-content {
width: 90vw;
}


.bottom-modal   {
      
  .modal-wrapper {
    --position:absolute;
    --width: 100% !important;
    --height: 300px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: absolute;
    bottom: 0;
  }
}

ion-content ion-modal{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

