/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('http://fonts.cdnfonts.com/css/soccer-league');
//@import '~@angular/material/prebuilt-themes/purple-green.css';
ion-content{
  --background: #fff;
}

a:link {
  text-decoration: none;
}
 
*{
  font-family: 'Roboto', sans-serif; 
  
}
h1, h2, h3, h4{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
   
}
 ion-content {
  font-size: 16px;
 }
.btn-circle{
    --border-radius: 50%!important;
    height: 30px;
    width: 30px;
    }
    .alertCancel{
      --min-width: 90vw;
 
 
        button.alertButton{
          color: white;
        }
     }
    .circle-button{

    width: 32px;
    --border-radius: 100%!important;
    ion-icon{
      font-size: 10px;
    }
 
    }
    
    .center-column{
        margin: 0 auto;
    }
    .center-container{
        display: flex;
  justify-content: center;
  align-items: center;
    }

    .card-container{
        min-height: 250px;
    }
    .scroll-md {
        max-height:200px;
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        ::-webkit-scrollbar {
          display: none;
        }
      }


      .social-media   {
      
        .modal-wrapper {
          --position:absolute;
          --bottom:0!important;
          --width: 100% !important;
          --height: 80px;
          position: absolute;
          bottom: 0;
        }
      }

      .modal-menu   {
      
        .modal-wrapper {
          --position:absolute;
          --bottom:0!important;
          --width: 100% !important;
          --height: 50%;
          position: absolute;
          bottom: 0;
        }
      }

      .informative-modal   {
      
        .modal-wrapper {
          --position:absolute;
          --width: 100% !important;
          --height: 70%;
          position: absolute;
          top: 20%;
        }
      }



.custom-menu{

  --background: rgba(37,13,76,255);


  ion-tab-button {
    --background: transparent;
    color: #FFF;
  }
}

.scroll {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}


.center-row{
  display: flex;
align-items: center;
justify-content: center;
}

ion-tab-bar {
	--ion-color-primary: rgb(59, 48, 48);
}


/* Works - pass "my-custom-class" in cssClass to increase specificity */
.small-width .popover-content {
width: 90vw;
}


.bottom-modal   {
      
  .modal-wrapper {
    --position:absolute;
    --width: 100% !important;
    --height: 300px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: absolute;
    bottom: 0;
  }
}

ion-content ion-modal{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}


.cal-modal{
  --height: 80%;
  --border-radius:10px;
  padding:15px;
}


ion-modal.autoheight-modal-bottom {
  &.bottom {
      align-items: flex-end;
  }

  --height: auto;

  .modal-wrapper {
    --position:absolute;
    --width: 100% !important;
    position: absolute;
    bottom: 0;
  }
  .ion-page {
      position: relative;
      display: block;
      contain: content;

      .inner-content {
          max-height: 80vh;
          overflow: auto;
          padding: 10px;
      }
  }
}
.border-invert{
  width: 14rem;
  height: 14rem;
  object-fit: contain;
  border: 0.4rem solid #354A53;border-radius: 50%;
 
}
ion-list ,ion-item {
  --ion-item-background: transparent;
}
ion-modal.dynamic-modal {
  &.bottom {
      align-items: flex-end;
  }

  --height: auto;

  .ion-page {
      position: relative;
      display: block;
      contain: content;

      .inner-content {
          max-height: 80vh;
          overflow: auto;
          padding: 10px;
      }
  }
}

.styled-form{
  ion-list ,ion-item {
    --ion-item-background: transparent;
  }
  .styled-input{
    position: relative;
    margin-bottom: 10px;
    ion-item::part(native){
    padding-left: 0;
    }

    ion-icon{
    margin-right: 18px;

    }

    ion-label{
      font-size: 18px;
      letter-spacing: 2px;
      margin-bottom: 10px;
 
    }

    ion-input,ion-select,
    ion-datetime{
      font-size: 16px;
      color: #7b7b7b;
    }
  }


}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark light;
  }
}

.custom-bottom-modal{
  .modal-wrapper {
    --position:fixed;
    --width: 100% !important;
    position: fixed;
    height: 50%;
    bottom: 0;
  }
}


ion-toolbar, ion-header{
  --ion-toolbar-background: #FFF!important;   
}

ion-menu,ion-list ,ion-item {
  --background-color: #FFF;
  --ion-color-base: #FFF !important;
  --ion-item-background: #FFF!important;
}


ion-modal.large-modal {

  --backdrop-opacity: 0.8 !important;
  align-items: start;
  justify-content: center; 
  &::part(content){
    position: absolute;
    width: 80%;
    height: 80%; 
  }


}

ion-modal.full-screen-modal {

  --backdrop-opacity: 0.8 !important;
  align-items: start;
  justify-content: center; 
  &::part(content){
    position: absolute;
    width: 100%;
    height: 100%; 
  }


}

ion-modal.medium-modal {

  --backdrop-opacity: 0.8 !important;
  align-items: start;
  justify-content: center; 
  &::part(content){
    position: absolute;
    top: 15vh;
    width: 60vw;
    height: 60vh; 
  }


}



ion-datetime{
  color: #000000;
}

@media only screen and (max-width: 600px) {

  ion-modal.large-modal {
    &::part(content){
      top: 0%;
      width: 100%;
      height: 100%; 
    }
  }
  ion-modal.medium-modal {
      &::part(content){
        top: 0%;
        width: 100%;
        height: 100%; 
      }
    }

}
ion-modal.calendar-modal {
  &::part(content){
    --width: 90%;
    --height: 80%;
    --border-radius: 8px;
  }
}



@media only screen and (min-width: 1400px) {
  ion-modal.large-modal {
    &::part(content){
      width: 50%;
      height: 35%; 
    }
  }

  ion-modal.medium-modal {
      &::part(content){
        width: 50%;
        height: 35%; 
      }
    }
}

ion-modal.list-modal {
  --backdrop-opacity: 0.8 !important;

  &::part(content){
    width: 90%;
    height: 80%; 
  }
}

.my-custom-modal   {
      
  --backdrop-opacity: 0.8 !important;
  align-items: center;
  justify-content: center; 
  &::part(content){
    width: 100%;
    height: 100%; 
  }
}
.left-align-buttons .action-sheet-button-inner.sc-ion-action-sheet-ios {
  justify-content: flex-start;
  font-size: 1rem;

}

.activity-detail-loading{
  ion-backdrop{
    opacity:  0.2 !important;
  }
}

ion-fab .fab-list-active .fab-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.5);
}  

@media only screen and (min-width:600px){
  ion-modal.modal-view{
    --backdrop-opacity: 0.8 !important;
    &::part(content){
      width: 60%;
      min-height: 60vh;
      max-height:85%;
      height: 100%; 
  
    }
  }
}

.card-alert {
  width: 100px;
  height: 100px;
  margin: 0.2rem;
  margin: 0 auto;
}

