<ion-header class="ion-no-border">
  <ion-toolbar>

 <ion-title class="ion-text-center" >FUTPLAY <ion-badge color="primary" style="text-transform: uppercase;">Contraseña</ion-badge></ion-title>
 <ion-buttons slot="end">
  <ion-button (click)="cerrarModal()" fill="solid" color="primary" slot="end" shape="round">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
</ion-buttons>

</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-row>

      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="floating">Contraseña  anterior</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="credentials.password"   placeholder="Contraseña anterior"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input type="password" name="new" [(ngModel)]="credentials.new"   placeholder="Nueva contraseña"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" name="confirm" [(ngModel)]="credentials.confirm"   placeholder="Confirmar contraseña"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <div align="center ">
          <ion-button   shape="round" type="submit" class="ion-margin-vertical">Cambiar</ion-button>
        </div>
      </ion-col>
    </ion-row>
   </form>
  </ion-grid>

</ion-content>
