<ion-toolbar>
  <ion-button slot="start" (click)="cerrarModal()" fill="clear">
   <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-label class="title ion-text-wrap">Configuracion de horario</ion-label>

</ion-toolbar>


<ion-content>
  
<ion-grid >
  <ion-row>
    <ion-col size="12" *ngFor="let dia of configuracionHorarioService.horarioCancha; let i = index;">

<span style="display: flex; justify-content: space-between;" class="ion-padding">
  <ion-label><ion-badge color="dark" mode="ios">{{configuracionHorarioService.diaNombre(i)}}</ion-badge></ion-label>
  <ion-label>{{dia.Estado ? 'Activo' : 'Inactivo'}} <ion-checkbox slot="end"  [(ngModel)]="dia.Estado" ></ion-checkbox> </ion-label>
  
</span>

<ion-row>
  <ion-col size="6">
    <ion-label>Apertura</ion-label>
    <ion-item class="ion-margin-bottom ion-margin-top">
  <ion-select (ionChange)="configuracionHorarioService.horaInicioOnChangeEvent($event,i)"   [(ngModel)]="dia.Hora_Inicio"   placeholder="Inicio">
    <ion-select-option [value]="hora.hours" *ngFor="let hora of configuracionHorarioService.horariosConsulta[i].Hora_Inicio">{{hora.time12}}:00 {{hora.meridiem}}</ion-select-option>
  </ion-select>

</ion-item>
    

  </ion-col>
  <ion-col size="6">
    <ion-label>Cierre</ion-label>
    <ion-item  class="ion-margin-bottom ion-margin-top">
      <ion-select [(ngModel)]="dia.Hora_Fin"   placeholder="Fin">
        <ion-select-option [value]="hora.hours" *ngFor="let hora of configuracionHorarioService.horariosConsulta[i].Hora_Fin">{{hora.time12}}:00 {{hora.meridiem}}</ion-select-option>
      </ion-select>
</ion-item>

    

  </ion-col>
</ion-row>

    </ion-col>

  </ion-row>
</ion-grid>


</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
<ion-button color="dark" (click)="guardar()"  fill="solid" shape="round">
  Guardar Cambios
</ion-button>
  </ion-toolbar>
</ion-footer>