 
  
    h1 {
        margin-top: 15%;
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: 700;
      }
      
      h5 {
        color: #5a55ca;;
        font-weight: 600;
      }
    
   
    
      ion-item{
          --margin:0;
          margin: 0;
        --padding:0;
        padding:0;
        --padding-bottom:0.5rem;
        ion-grid, ion-row, ion-col{
            margin: 0;
            padding: 0;
        }
      }
 
    ion-grid,ion-row,ion-col{
      padding: 0;
      margin: 0;
      --padding: 0;
      --margin: 0;
     ion-col{
        text-transform: capitalize;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
   
     }
    }
   ion-avatar{
    height: 2.5rem;
    width: 2.5rem;
   }