 








<ion-content   *ngIf="equiposService.equipo">

  <ion-button style="position: fixed;top: 0rem;left: 0rem;" size="large" (click)="myClubsMenu()" fill="clear"
    color="dark">
    <strong>
      <ion-icon size="large" class="menu" size="large" slot="icon-only" name="menu-outline"></ion-icon>
    </strong>
  </ion-button>
  <ion-button *ngIf="usuariosService.usuarioActual.usuario.Cod_Usuario == equiposService.equipo.equipo.Cod_Usuario"  (click)="gestionarPerfil()"  style="position: fixed;top: 0rem;right: 0rem;" size="large"  fill="clear"
    color="dark">
    <strong>
      <ion-icon size="large" class="menu" size="large" slot="icon-only" name="settings-outline"></ion-icon>
    </strong>
  </ion-button>
  <ion-avatar style="height: 12rem;width:12rem;margin:0 auto;margin-top: 2rem; ">



    <img *ngIf="!equiposService.equipo.equipo.Avatar" 
      data-src="{{'https://futplaycompany.com/api_test/'+equiposService.equipo.equipo.Foto}}"
      onerror="this.src='assets/img/icon/FP.svg'">
    <img *ngIf="equiposService.equipo.equipo.Avatar"
      src="assets/soccer-shields-svg/{{equiposService.equipo.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"
      alt="">



  </ion-avatar>

 
 

  <ion-grid>
 
  <ion-row>
 
    <ion-col size="12" class="ion-text-center">
      <h2><strong>
        <strong>{{equiposService.equipo.equipo.Nombre}}</strong>

    <span style="display:block;margin-top: 1rem;">

      <ng-template ngFor let-hero [ngForOf]="filledStars(equiposService.equipo.equipo.Estrellas)" let-i="index"
        let-odd="odd">
        <ion-icon color="warning" style="font-size: 24px;" name="star"></ion-icon>
      </ng-template>
      <ng-template ngFor let-hero [ngForOf]="emptyStars(equiposService.equipo.equipo.Estrellas)" let-i="index"
        let-odd="odd">
        <ion-icon color="warning" style="font-size: 24px;" name="star-outline"></ion-icon>
      </ng-template>



    </span>
      </strong></h2>
    </ion-col>




    <ion-col size="8" style="display: flex;justify-content: flex-start;align-items: center;">Agresividad
      <ion-avatar    style="height: 2rem;width: 2rem;margin-left: 0.5rem;"  >
        <img      src="assets/emojis/{{dureza[equiposService.equipo.equipo.Dureza]['image']}}">
       
      </ion-avatar> 
    </ion-col>
    <ion-col size="4" *ngIf="jugadoresService.jugadores.length > 0" >

      <a target="_blank"
        href="https://wa.me/{{jugadoresService.jugadores[0].usuario.Cod_Pais}}{{jugadoresService.jugadores[0].usuario.Telefono}}?text=Hola%20{{jugadoresService.jugadores[0].usuario.Nombre}} {{jugadoresService.jugadores[0].usuario.Primer_Apellido}}">
        Contácto</a>
    </ion-col>

    <ion-col size="12"><strong>Ubicación : </strong> {{equiposService.equipo.provincia}} , {{equiposService.equipo.canton}}</ion-col>


  </ion-row>
</ion-grid>

<ion-list>
  <ion-item *ngIf="usuariosService.usuarioActual.usuario.Cod_Usuario == equiposService.equipo.equipo.Cod_Usuario"   lines="none"  (click)="solicitudesEquipos()"    detail>
    <ion-label>Transferencias</ion-label>
    <ion-badge color="primary" style="margin-left:10px;margin-right: 1rem;">{{solicitudesService.solicitudesEquiposArray.length}}</ion-badge>
  </ion-item>

  <ion-item lines="none"  (click)="presentModal(equiposService.equipo)"  color="light" detail>
    <ion-label>Estadisticas Equipo</ion-label>
   
  </ion-item>
<ion-item lines="none">
<ion-label ><strong>Lista de jugadores</strong></ion-label>
</ion-item>
  <ion-item  *ngIf="jugadoresService.jugadores.length == 0"    lines="none"
class="animate__animated animate__fadeIn">
<span slot="start">
<ion-avatar>
<img src="assets/logo.png" alt="">
</ion-avatar>


<ion-label>

<h6><strong>MENSAJE FUTPLAY</strong> </h6>
<p  > No se encontraron resultados!..</p>

</ion-label>
</span>


</ion-item>


  <ion-item (click)="onOpenMenu(jugador)" lines="full" class="employeeItem  animate__animated animate__fadeIn"
    *ngFor="let jugador of jugadoresService.jugadores">
    <ion-avatar slot="start" style="margin-right: 4rem;">
      <img *ngIf="!jugador.usuario.Avatar" src="{{'https://futplaycompany.com/api_test/'+jugador.usuario.Foto}}"
        onerror="this.src='assets/user.svg'" alt="">

      <img *ngIf="jugador.usuario.Avatar" src="assets/profile/avatars/{{jugador.usuario.Foto}}"
        onerror="this.src='assets/user.svg'" alt="">


    </ion-avatar>
    <ion-label>
      {{jugador.usuario.Nombre}} {{jugador.usuario.Primer_Apellido}}     
    </ion-label>
    <ion-badge color="warning" mode="ios">{{jugador.posicion}}</ion-badge>

  </ion-item>


</ion-list>

















 



</ion-content>