<ion-content class="ion-padding" *ngIf="equiposService.equipo">

  <ion-button style="position: fixed;top: 0rem;left: 0rem;" size="large" (click)="myClubsMenu()" fill="clear"
    color="dark">
    <strong>
      <ion-icon size="large" class="menu" size="large" slot="icon-only" name="menu-outline"></ion-icon>
    </strong>
  </ion-button>
  <ion-button (click)="gestionarPerfil()"  style="position: fixed;top: 0rem;right: 0rem;" size="large"  fill="clear"
    color="dark">
    <strong>
      <ion-icon size="large" class="menu" size="large" slot="icon-only" name="settings-outline"></ion-icon>
    </strong>
  </ion-button>

  <ion-avatar style="height: 12rem;width:12rem;margin:0 auto;margin-top: 2rem;">



    <img *ngIf="!equiposService.equipo.equipo.Avatar" class="logo"
      data-src="{{'https://futplaycompany.com/api_test/'+equiposService.equipo.equipo.Foto}}"
      onerror="this.src='assets/img/icon/FP.svg'">
    <img *ngIf="equiposService.equipo.equipo.Avatar"
      src="assets/soccer-shields-svg/{{equiposService.equipo.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"
      alt="">



  </ion-avatar>

 

  <ion-grid>
 
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <h2><strong>
        <strong>{{equiposService.equipo.equipo.Nombre}}</strong>

    <span style="display:block;margin-top: 1rem;">

      <ng-template ngFor let-hero [ngForOf]="filledStars(equiposService.equipo.equipo.Estrellas)" let-i="index"
        let-odd="odd">
        <ion-icon color="warning" style="font-size: 24px;" name="star"></ion-icon>
      </ng-template>
      <ng-template ngFor let-hero [ngForOf]="emptyStars(equiposService.equipo.equipo.Estrellas)" let-i="index"
        let-odd="odd">
        <ion-icon color="warning" style="font-size: 24px;" name="star-outline"></ion-icon>
      </ng-template>



    </span>
      </strong></h2>
    </ion-col>
      <ion-col size="8">{{equiposService.equipo.provincia}} , {{equiposService.equipo.canton}}</ion-col>
      <ion-col size="4">Estadísticas</ion-col>
      <ion-col size="8">Agresividad</ion-col>
      <ion-col size="4" *ngIf="jugadoresService.jugadores.length > 0" >

        <a target="_blank"
          href="https://wa.me/{{jugadoresService.jugadores[0].usuario.Cod_Pais}}{{jugadoresService.jugadores[0].usuario.Telefono}}?text=Hola%20{{jugadoresService.jugadores[0].usuario.Nombre}} {{jugadoresService.jugadores[0].usuario.Primer_Apellido}}">
          Contácto</a>
      </ion-col>
 
      <ion-col size="12" expand="block"  *ngIf="equiposService.equipo.equipo.Cod_Usuario == usuariosService.usuarioActual.usuario.Cod_Usuario ">
        <ion-button  (click)="solicitudesEquipos()"  size="small" mode="ios"  fill="outline" color="primary" shape="round">
          Transferencias
          <ion-badge style="margin-left: 0.5rem;" color="primary" mode="ios">0</ion-badge>
        </ion-button>
      </ion-col>
 

      <ion-col size="12" class="ion-margin-top ion-margin-bottom">
        <ion-label ><strong>Lista de jugadores</strong></ion-label>
      </ion-col>
      <ion-col size="12">


        <ion-list>

 

          <ion-item  *ngIf="jugadoresService.jugadores.length == 0"    lines="none"
    class="animate__animated animate__fadeIn">
    <span slot="start">
      <ion-avatar>
        <img src="assets/logo.png" alt="">
      </ion-avatar>


      <ion-label>

        <h6><strong>MENSAJE FUTPLAY</strong> </h6>
        <p  > No se encontraron resultados!..</p>

      </ion-label>
    </span>


    </ion-item>


          <ion-item (click)="onOpenMenu(jugador)" lines="full" class="employeeItem  animate__animated animate__fadeIn"
            *ngFor="let jugador of jugadoresService.jugadores">
            <ion-avatar slot="start" style="margin-right: 4rem;">
              <img *ngIf="!jugador.usuario.Avatar" src="{{'https://futplaycompany.com/api_test/'+jugador.usuario.Foto}}"
                onerror="this.src='assets/user.svg'" alt="">

              <img *ngIf="jugador.usuario.Avatar" src="assets/profile/avatars/{{jugador.usuario.Foto}}"
                onerror="this.src='assets/user.svg'" alt="">


            </ion-avatar>
            <ion-label>
              {{jugador.usuario.Nombre}} {{jugador.usuario.Primer_Apellido}}     
            </ion-label>
            <ion-badge color="warning" mode="ios">{{jugador.posicion}}</ion-badge>

          </ion-item>


        </ion-list>


      </ion-col>
    </ion-row>
  </ion-grid>





</ion-content>