

    <app-header  titulo="Perfil Equipo" >
  
    </app-header>
                
    <ion-toolbar>
      <ion-buttons slot="start" >
        <ion-button   size="large" (click)="myClubsMenu()"  color="dark">
          <ion-icon class="menu"  size="large" slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  
    
      <ion-buttons slot="end" >
        <ion-button (click)="gestionarPerfil()"  size="large"  color="dark" >
          <ion-icon   size="large" slot="icon-only"  name="settings-outline"></ion-icon>
        </ion-button>
    
      </ion-buttons>
    
        
      </ion-toolbar>

  
      <ion-content class="ion-text-center">

        <ion-avatar   style="height: 12rem;width:12rem;margin:0 auto;">
            
        <img  *ngIf="!equiposService.perfilEquipo.Avatar" src="{{teamPic}}"  onerror="this.src='assets/team.png'" alt="">

        <img *ngIf="equiposService.perfilEquipo.Avatar"  src="assets/soccer-shields-svg/{{equiposService.perfilEquipo.Foto}}" onerror="this.src='assets/team.png'"   alt="">     
        </ion-avatar>

    <h3 class="ion-text-uppercase"> 
       {{equiposService.perfilEquipo.Nombre}}
      
       <span style="display:block;">
       
        <ng-template ngFor let-hero [ngForOf]="filledStars(equiposService.perfilEquipo.Estrellas)"
        let-i="index" let-odd="odd"  >
        <ion-icon style="size: 10px;" name="star"></ion-icon>
      </ng-template>
      <ng-template ngFor let-hero [ngForOf]="emptyStars(equiposService.perfilEquipo.Estrellas)"
      let-i="index" let-odd="odd"  >
      <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
    </ng-template>


        
      </span>
      </h3>
            

  



  <ion-list>

    <ion-item  lines="none">
      <ion-label>Abreviación : {{equiposService.perfilEquipo.Abreviacion}}</ion-label>
  </ion-item>
  <ion-item lines="none">
      <ion-label >Región :  {{equiposService.perfilEquipo.Nombre_Provincia}} , {{equiposService.perfilEquipo.Nombre_Canton}} </ion-label>
  </ion-item>
  <ion-item lines="none"  (click)="presentModal(equiposService.perfilEquipo)"  color="light" detail>
    <ion-label>Estadisticas Equipo</ion-label>
   
  </ion-item>

  <ion-item lines="none" class="ion-margin-top ion-margin-bottom ion-text-center">

    <ion-label  >Dureza :  </ion-label>
    <ion-avatar    style="margin: 0.5rem;"  >
      <img      src="assets/emojis/{{dureza[equiposService.perfilEquipo.Dureza].image}}">
     
    </ion-avatar>

    <ion-label   class="ion-text-wrap"><strong>{{dureza[equiposService.perfilEquipo.Dureza].titulo}}</strong></ion-label>

  </ion-item>


<ion-item lines="none">

<ion-button    (click)="solicitudesEquipos()"   fill="outline" shape="round" color="dark">
  <ion-label style="margin: 0.5rem;" class="ion-text-uppercase">Transferencias</ion-label>
  <ion-badge color="primary" style="margin-left:10px">{{solicitudesService.solicitudesEquiposArray.length}}</ion-badge>
</ion-button>
  
<ion-fab-button slot="end" size="small"  class="no-shadow" color="dark"   >
  <ion-icon name="share-social-outline"></ion-icon>
</ion-fab-button>
</ion-item>


<ion-item lines="none" >
  <h2 slot="start" class="soccer-league-subtitle">Lista de Jugadores</h2>
</ion-item>

    <ion-item lines="full" class="employeeItem  animate__animated animate__fadeIn"    *ngIf="equiposService.jugadoresPerfilEquipo.length == 0  ">
      <ion-avatar slot="start">
        <img style="width: 8rem;margin: 0 auto;" src="assets/exclamation-mark.svg" alt="">
      
      </ion-avatar>
            <ion-label class="ion-padding">
              <h2>No hay Jugadores Disponibles</h2>
  
        
            </ion-label>
      
          </ion-item>
    <ion-item (click)="onOpenMenu(jugador)" lines="full" class="employeeItem  animate__animated animate__fadeIn"   *ngFor="let jugador of equiposService.jugadoresPerfilEquipo">
<ion-avatar slot="start">
  <img *ngIf="!jugador.Avatar" src="{{'https://dev-coding.com/FUTPLAY_APIS_HOST/PerfilUsuarioUploads/'+jugador.Foto}}" onerror="this.src='assets/user.svg'"    alt="">

      <img *ngIf="jugador.Avatar"src="assets/profile/avatars/{{jugador.Foto}}" onerror="this.src='assets/user.svg'"    alt="">


</ion-avatar>
      <ion-label>
        <h2>{{jugador.Nombre}} {{jugador.Primer_Apellido}}  </h2>
        <p>Posicion : <ion-badge color="warning" mode="ios">{{jugador.Posicion}}</ion-badge> </p>
        <p>Apodo: {{jugador.Apodo}}</p>
       
  
      </ion-label>

    </ion-item>


  </ion-list>





  </ion-content>

