
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button  (click)="cerrarModal()" color="light">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;Perfil Jugador
          </ion-button>
        </ion-buttons>
   
      </ion-item>
  
    </ion-toolbar>
    </ion-header>
    <ion-content fullscreen class="ion-text-center">
      <div class="mainContent">

        <ion-avatar  style="height: 12rem;width:12rem;margin:0 auto;">
          <img *ngIf="!perfil.Avatar" [src]="userPic" onerror="this.src='assets/user.svg'"    alt="">

          <img *ngIf="perfil.Avatar"src="assets/profile/avatars/{{perfil.Foto}}" onerror="this.src='assets/user.svg'"    alt="">
      
        </ion-avatar>

        <h3 class="ion-text-uppercase"> {{perfil.Nombre}} {{perfil.Primer_Apellido}} {{perfil.Segundo_Apellido}}</h3>
            
            
    
      <ion-list lines="none">
        
    
        <ion-item *ngIf="perfil.Apodo">
            <ion-label>Apodo : {{perfil.Apodo}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label >Región :  {{perfil.Canton}}, {{perfil.Provincia}}  </ion-label>
        </ion-item>
        <ion-item  >
            <ion-label>Posición: <ion-badge color="dark" mode="ios">{{perfil.Posicion}}</ion-badge> </ion-label>
        </ion-item>

        <ion-item *ngIf="perfil.Compartir_Datos">
          <ion-label>Telefono : 
            
            <a href="https://wa.me/{{perfil.Telefono}}"  target="blank">
              {{perfil.Telefono}}
            </a></ion-label>



      </ion-item>
  
        
    
    <ion-item>
    <ion-label class="ion-text-uppercase"><b>Estadisticas Personales</b></ion-label >
    </ion-item>
    
    <ion-item  lines="none" class="employeeItem  animate__animated animate__fadeIn"  >
    
      <ion-label>
        Partidos Jugados
    
      </ion-label>
      <ion-badge slot="end" color="dark" mode="ios">{{perfil.Partidos_Jugados}}</ion-badge>
    </ion-item>
    <ion-item  lines="none" class="employeeItem  animate__animated animate__fadeIn"  >
    
      <ion-label>
        Jugador del partido
    
      </ion-label>
      <ion-badge slot="end" color="dark" mode="ios">{{perfil.Partidos_Jugador_Del_Partido }}</ion-badge>
    </ion-item>
    <ion-item  lines="none" class="employeeItem  animate__animated animate__fadeIn"  >
    
      <ion-label>
        Jugador FutPlay
      </ion-label>
    <ion-badge slot="end" color="dark" mode="ios">{{perfil.Partidos_Jugador_Futplay}}</ion-badge>
    </ion-item>
    
    
      </ion-list>
      </div>
    </ion-content>
