 
h3{
  color: #5a55ca;
font-size: 14px;
text-transform: uppercase;
font-weight: bold;
text-align: left;
margin-left: 1rem;
 
}
 
ion-header{
   
  ion-toolbar{
    --background:#5a55ca;
    color: #fff;
    ion-icon{
        color: #fff;
    }
}
}
.custom-item {
  img {
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    border: 2px solid #e7edfb;
    object-fit: cover;
  }
  ion-label {
    font-size: 14px !important;
    padding-left: 1.2rem;

    p {
      letter-spacing: -0.03rem;
    }
  }

}
  span{
    margin: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-avatar{
        margin-right: 1rem;
    }
}

.menu-button {
  position: fixed;
  top: 0rem;
  left: 0rem;
 }
 ion-avatar{
  height: 12rem;
  width:12rem;
  margin:0 auto;
  margin-top: 2rem;
 }
  .space-between{
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
   
  }
 