
  <ion-header >

    <ion-toolbar>
      <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
        <ion-buttons slot="start">
          <ion-button  (click)="cerrarModal()" color="light">
            <ion-icon slot="start" name="chevron-back"></ion-icon>
            &nbsp;Perfil Jugador
          </ion-button>
        </ion-buttons>
   
      </ion-item>
  
    </ion-toolbar>
    </ion-header>
    <ion-content fullscreen class="ion-text-center">
      <div class="mainContent">

        <ion-avatar  style="height: 12rem;width:12rem;margin:0 auto;margin-bottom: 1rem;">
          <img *ngIf="!perfil.usuario.Avatar" [src]="userPic" onerror="this.src='assets/user.svg'"    alt="">

          <img *ngIf="perfil.usuario.Avatar"src="assets/profile/avatars/{{perfil.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">
      
        </ion-avatar>

      
    
      <ion-list lines="none">
        <ion-item >
 
            <ion-label  class="ion-text-capitalize ion-text-center" style="font-size: 2rem;"> <strong>{{perfil.usuario.Nombre}} {{perfil.usuario.Primer_Apellido}} </strong></ion-label>
           
        </ion-item>
        
    
        <ion-item *ngIf="perfil.usuario.Apodo">
            <ion-label>Apodo : {{perfil.usuario.Apodo}} </ion-label>
        </ion-item>

        <ion-item  >
            <ion-label>Posición: <ion-badge color="warning" mode="ios">{{perfil.posicion}}</ion-badge></ion-label>
        </ion-item>

        <ion-item *ngIf="perfil.usuario.Compartir_Datos">
          <ion-label>Telefono : 
            
            <a href="https://wa.me/{{perfil.usuario.Telefono}}"  target="blank">
              {{perfil.usuario.Telefono}}
            </a></ion-label>



      </ion-item>
  
        
    
    <ion-item>
    <ion-label class="ion-text-uppercase"><b>Estadisticas Personales</b></ion-label >
    </ion-item>
    
    <ion-item  lines="none" class="employeeItem  animate__animated animate__fadeIn"  >
    
      <ion-label>
        Partidos Jugados
    
      </ion-label>
      <ion-badge slot="end" color="dark" mode="ios">{{perfil.usuario.Partidos_Jugados}}</ion-badge>
    </ion-item>
    <ion-item  lines="none" class="employeeItem  animate__animated animate__fadeIn"  >
    
      <ion-label>
        Jugador del partido
    
      </ion-label>
      <ion-badge slot="end" color="dark" mode="ios">{{perfil.usuario.Partidos_Jugador_Del_Partido }}</ion-badge>
    </ion-item>
    <ion-item  lines="none" class="employeeItem  animate__animated animate__fadeIn"  >
    
      <ion-label>
        Jugador FutPlay
      </ion-label>
    <ion-badge slot="end" color="dark" mode="ios">{{perfil.usuario.Partidos_Jugador_Futplay}}</ion-badge>
    </ion-item>
    
    
      </ion-list>
      </div>
    </ion-content>
