

<ion-content>

  <ion-list lines="none">
<ion-list-header>
<ion-toolbar>
  <ion-label slot="start"><ion-badge color="dark" mode="ios">Mis Clubes </ion-badge></ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="findClub()"  color="dark"   *ngIf="clubs.clubAdmin"> 
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    
    <ion-button  (click)="newClub()" color="dark" >
      <ion-icon name="add"></ion-icon>
    </ion-button> 
    <ion-button (click)="cerrarModal()" color="dark"> 
      <ion-icon  name="close"></ion-icon>
    </ion-button>

  </ion-buttons>
</ion-toolbar>
</ion-list-header>
<ion-list-header>
  <ion-searchbar mode="ios" placeholder="Buscar Club" inputmode="text" debounce="250" ></ion-searchbar>
</ion-list-header>
    <ng-template ngFor let-club [ngForOf]="clubs.userclubs" let-i="index" >
      <ion-item  (click)="clubs.swapClub(club.clubID)" >
        <ion-chip  style="height: 60px; background: transparent;">
          <ion-avatar  style="height: 50px; width: 50px;">
              <img src="{{club.foto}}">
          </ion-avatar>
          <ion-label>{{club.nombre}}</ion-label>
        </ion-chip>

 
       </ion-item>
    </ng-template>

    <ng-template ngFor let-userPlayerClub [ngForOf]="clubs.playerClubs" let-i="index" >
      <ion-item (click)="clubs.swapClub(userPlayerClub.clubID)" >

        <ion-chip  style="height: 60px; background: transparent;">
          <ion-avatar  style="height: 50px; width: 50px;">
              <img src="{{userPlayerClub.foto}}">
          </ion-avatar>
          <ion-label>{{userPlayerClub.nombre}}</ion-label>
        </ion-chip>

       
      </ion-item>
</ng-template>



    </ion-list>

</ion-content>
