

<ion-content>
  <ion-col tappable    size="12" class="header"  [style.backgroundImage]="'url(' + stadiumProfile + ')'">
       
    <ion-label  class="ion-text-uppercase"  style="letter-spacing: 0.5rem; color: white;font-size: 2rem; font-weight: 600; text-shadow: 2px 2px  rgba(37,13,76,255);">
      Mis Equipos
       </ion-label>


  </ion-col>
  <div class=" body" >
    <ion-buttons  (click)="buscarEquipos()"  style="position: absolute; top: 10px; right: 20px;">
           
      <ion-button size="large" >
        <ion-icon  size="large" slot="icon-only"  name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button  size="large"     color="dark"  >
         
      <ion-label>Unirse a Equipo</ion-label>
<ion-icon slot="end" name="arrow-forward-outline"></ion-icon>

       
      </ion-button>
    
  
    </ion-buttons>



<ion-list style="margin-top: 2rem;">
  <ion-item *ngFor="let equipo of equiposService.misEquipos"   style="position: relative;"  (click)="seleccionarEquipo(equipo)" detail>



    <ion-avatar slot="start" style="display:block; height: auto; width: auto;" class="ion-text-center">
      <img style="height: 60px; width: 60px;" src="assets/soccer-shields-svg/{{equipo.Foto}}">
    </ion-avatar>
    <ion-label >
   <h2>   {{equipo.Nombre}}
  </h2>

      <p style="margin-top: 0.5rem;margin-bottom: 0.5rem;">
        <span style="display:block;">
        <ion-icon style="size: 10px;" name="star"></ion-icon>
        <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
        <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
        <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
        <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
      </span>
    </p>
    </ion-label>
  
  </ion-item>

</ion-list>

  </div>

   
  <ion-fab  (click)="cerrarModal()" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="dark">
      <ion-icon  name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
  <ion-fab vertical="bottom" horizontal="end" (click)="newClub()" >
    <ion-fab-button  color="dark"><ion-icon class="menu"  name="add" ></ion-icon></ion-fab-button>  
  </ion-fab>