<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Mis Clubes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newClub()" color="primary" shape="round" fill="solid">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-list lines="none">

    <ng-template ngFor let-club [ngForOf]="clubs.userclubs" let-i="index" >
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{club.foto}}">
        </ion-avatar>
      
        <ion-buttons>
          <ion-button (click)="clubs.swapClub(club.clubID)">
            {{club.nombre}}
          </ion-button>
        </ion-buttons>
       </ion-item>
    </ng-template>

    <ng-template ngFor let-userPlayerClub [ngForOf]="clubs.playerClubs" let-i="index" >
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{userPlayerClub.foto}}">
        </ion-avatar>
      
        <ion-buttons>
          <ion-button (click)="clubs.swapClub(userPlayerClub.clubID)">
            {{userPlayerClub.nombre}}
          </ion-button>
        </ion-buttons>
      </ion-item>
</ng-template>



    </ion-list>

</ion-content>
