 
<ion-header    class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Detalle Equipo</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
  
      <ion-content>

        <ion-avatar   style="height: 12rem;width:12rem;margin:0 auto;margin-top: 2rem;">
            
      
     
        <img *ngIf="!equipo.equipo.Avatar" class="logo" data-src="{{'https://futplaycompany.com/api_test/'+equipo.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   >
        <img *ngIf="equipo.equipo.Avatar" src="assets/soccer-shields-svg/{{equipo.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"    alt="">
    
    

        </ion-avatar>



  <ion-grid >
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h2 class="ion-text-uppercase"> 
          <strong>{{equipo.equipo.Nombre}}</strong>
           <span style="display:block;margin-top: 1rem;">
    
            <ng-template ngFor let-hero [ngForOf]="filledStars(equipo.equipo.Estrellas)" let-i="index"
              let-odd="odd">
              <ion-icon color="warning" style="font-size: 24px;" name="star"></ion-icon>
            </ng-template>
            <ng-template ngFor let-hero [ngForOf]="emptyStars(equipo.equipo.Estrellas)" let-i="index"
              let-odd="odd">
              <ion-icon color="warning" style="font-size: 24px;" name="star-outline"></ion-icon>
            </ng-template>
      
      
      
          </span>
          </h2>
                
      </ion-col>
      <ion-col size="8" style="display: flex;justify-content: flex-start;align-items: center;">Agresividad
        <ion-avatar    style="height: 2rem;width: 2rem;margin-left: 0.5rem;"  >
          <img      src="assets/emojis/{{dureza[equipo.equipo.Dureza]['image']}}">
         
        </ion-avatar>
      </ion-col>
      <ion-col size="4" *ngIf="jugadores.length > 0" >

        <a target="_blank"
          href="https://wa.me/{{jugadores[0].usuario.Cod_Pais}}{{jugadores[0].usuario.Telefono}}?text=Hola%20{{jugadores[0].usuario.Nombre}} {{jugadores[0].usuario.Primer_Apellido}}">
          Contacto</a>
      </ion-col>
 
      <ion-col size="12"><strong>Ubicación : </strong> {{equipo.pais}} , {{equipo.estado}}</ion-col>
 
 
    </ion-row>
  </ion-grid>

  <ion-list>

    <ion-item lines="none"  (click)="presentModal(equipo.equipo)"  color="light" detail>
      <ion-label>Estadisticas Equipo</ion-label>
     
    </ion-item>
<ion-item lines="none">
  <ion-label ><strong>Lista de jugadores</strong></ion-label>
</ion-item>
    <ion-item  *ngIf="jugadores.length == 0"    lines="none"
class="animate__animated animate__fadeIn">
<span slot="start">
<ion-avatar>
  <img src="assets/logo.png" alt="">
</ion-avatar>


<ion-label>

  <h6><strong>MENSAJE FUTPLAY</strong> </h6>
  <p  > No se encontraron resultados!..</p>

</ion-label>
</span>


</ion-item>


    <ion-item detail (click)="perfilJugador(jugador)" lines="full" class="employeeItem  animate__animated animate__fadeIn"
      *ngFor="let jugador of jugadores">
      <ion-avatar slot="start" style="margin-right: 4rem;">
        <img *ngIf="!jugador.usuario.Avatar" src="{{'https://futplaycompany.com/api_test/'+jugador.usuario.Foto}}"
          onerror="this.src='assets/user.svg'" alt="">

        <img *ngIf="jugador.usuario.Avatar" src="assets/profile/avatars/{{jugador.usuario.Foto}}"
          onerror="this.src='assets/user.svg'" alt="">


      </ion-avatar>
      <ion-label>
        {{jugador.usuario.Nombre}} {{jugador.usuario.Primer_Apellido}}     
      </ion-label>
      <ion-badge color="warning" mode="ios">{{jugador.posicion}}</ion-badge>

    </ion-item>


  </ion-list>
 


  </ion-content>

