

  <ion-toolbar *ngIf="modalMenu">
 
    <ion-title slot="start" class="ion-text-uppercase" style="font-size: 14px;font-weight: 600;">{{usuario.Nombre}} {{usuario.Primer_Apellido}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" color="dark"> 
        <ion-icon  name="close"></ion-icon>
     
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content>

  
  
  <ion-list lines="none"  >



    <ion-grid >
        <ion-row style="display: flex;justify-content: center;">
      
            <ion-col size="12" size-md="7" size-lg="7" class="ion-text-center" >
              <img class="border-invert" src="assets/img/avatars/{{usuario.Foto}}">
     
              </ion-col>
 
  
            <ion-col size="12" size-md="7" size-lg="7" >
  
            
                    <ion-item>
                      <ion-label style="font-weight: 600;" class="ion-text-center">{{usuario.Nombre}} {{usuario.Primer_Apellido}} {{usuario.Segundo_Apellido}}</ion-label>
                        
                        
                       
                    </ion-item>
                    <ion-item *ngIf="usuario.Apodo">
                        <ion-label>Apodo : {{usuario.Apodo}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label >Región :  {{usuario.Canton}}, {{usuario.Provincia}}  </ion-label>
                    </ion-item>
                    <ion-item  >
                        <ion-label>Posición:  </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Edad : {{userService._calculateAge(usuario.Fecha_Nacimiento)}} años</ion-label>
                    </ion-item>
               
            </ion-col>
            <ion-col size="12"  size-md="7">
           <ion-item>
            <ion-label color="dark">Totalidad de Estadisticas Personales:</ion-label>
           </ion-item>
             </ion-col>
             <ion-col size="12"  size-md="7">
      
                     <ion-item>
                         <ion-label  slot="start" class="ion-text-left">Partidos Jugados</ion-label>
                         <ion-label slot="end">0</ion-label>
                     </ion-item>
                     <ion-item>
                      <ion-label  slot="start" class="ion-text-left">Jugador del partido</ion-label>
                         <ion-label slot="end">0</ion-label>
                     </ion-item>
                     <ion-item>
                      <ion-label  slot="start" class="ion-text-left">Jugador FutPlay</ion-label>
                      <ion-label slot="end">0</ion-label>
                     </ion-item>
              
             </ion-col>
        </ion-row>
  
  
  
    </ion-grid>
  
</ion-list>


</ion-content>
