 
      
<ion-header    class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Evaluación Jugador</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
 <ion-toolbar mode="ios">
 
   <ion-label slot="start" style="margin-left: 1rem;"><strong>{{titulo}}</strong></ion-label>
    <ion-avatar  slot="end">
      <img *ngIf="!equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
      <img  *ngIf="equipo.Avatar"  src="assets/soccer-shields-svg/{{equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
    </ion-avatar>
 </ion-toolbar>
   

      <ion-content fullscreen>
        <ion-slides  [options]="slideOpts">
          <ion-slide>
       
            <ion-list style="width: 100%;">
        <ion-item class="transparent ion-margin-top ion-margin-bottom" lines="none"  *ngIf="equipo.Cod_Equipo == this.reto.retador.Cod_Equipo">
  <h3>Equipo  {{reto.retador.Abreviacion}}</h3>
           <ion-avatar slot="end"  style="height: 3rem; width: 3rem;">
         
  
            <img *ngIf="!reto.retador.Avatar"  style="height: 3rem; width: 3rem;"  src="{{'https://futplaycompany.com/api_test/'+reto.retador.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
            <img  *ngIf="reto.retador.Avatar"  style="height: 3rem; width: 3rem;"  src="assets/soccer-shields-svg/{{reto.retador.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
          </ion-avatar>
        </ion-item>
  
 
              <ion-radio-group (ionChange)="agregarJDP($event)">
                <ion-item  lines="full" class="employeeItem  animate__animated animate__fadeIn"   *ngFor="let jugador of  jugadoresRetadores">
                  <ion-avatar style="height: 4rem; width: 4rem;"  slot="start">
                 
                        <img  style="height: 4rem; width: 4rem;" *ngIf="!jugador.usuario.Avatar" src="{{'https://futplaycompany.com/api_test/'+jugador.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">
        
                        <img  style="height: 4rem; width: 4rem;" *ngIf="jugador.usuario.Avatar"src="assets/profile/avatars/{{jugador.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">
  
                        
                  </ion-avatar>
                        <ion-label>
                          <h2>{{jugador.usuario.Nombre}} {{jugador.usuario.Primer_Apellido}}  </h2>
                          <p><ion-badge color="warning" mode="ios">{{jugador.posicion}}</ion-badge></p>
                         
                    
                        </ion-label>
                        <ion-radio [value]="jugador" ></ion-radio>
                      </ion-item>
            
         
        
              </ion-radio-group>
            </ion-list>
      
      
      
      
          </ion-slide>
      
              
   
          <ion-slide>
  
            <ion-list style="width: 100%;">
   
      
              <ion-item class="transparent ion-margin-top ion-margin-bottom" lines="none"  *ngIf="equipo.Cod_Equipo == this.reto.retador.Cod_Equipo">
                <h3>Equipo  {{reto.rival.Abreviacion}}</h3>
                 <ion-avatar slot="end" style="height: 3rem; width: 3rem;">
         
  
                  <img *ngIf="!reto.rival.Avatar" style="height: 3rem; width: 3rem;"  src="{{'https://futplaycompany.com/api_test/'+reto.rival.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
                  <img  *ngIf="reto.rival.Avatar"  style="height: 3rem; width: 3rem;"  src="assets/soccer-shields-svg/{{reto.rival.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
                </ion-avatar>
              </ion-item>
              <ion-radio-group (ionChange)="agregarJFP($event)">
        
                <ion-item  lines="full" class="employeeItem  animate__animated animate__fadeIn"    *ngFor="let jugador of  jugadoresRivales">
                  <ion-avatar style="height: 4rem; width: 4rem;" slot="start">
                      <img  style="height: 4rem; width: 4rem;" *ngIf="!jugador.usuario.Avatar" src="{{'https://futplaycompany.com/api_test/'+jugador.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">
                    
                          <img style="height: 4rem; width: 4rem;" *ngIf="jugador.usuario.Avatar"src="assets/profile/avatars/{{jugador.usuario.Foto}}" onerror="this.src='assets/user.svg'"    alt="">
                    
                    
                    </ion-avatar>
                          <ion-label>
                            <h2>{{jugador.usuario.Nombre}} {{jugador.usuario.Primer_Apellido}}  </h2>
                            <p><ion-badge color="warning" mode="ios">{{jugador.posicion}}</ion-badge></p>
                           
                      
                          </ion-label>
                          <ion-radio [value]="jugador" ></ion-radio>
                      </ion-item>
            
       
              </ion-radio-group>
            </ion-list>
      
      
      
      
          </ion-slide>
      
      
        </ion-slides>
    </ion-content>

