<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" (click)="regresar()" fill="clear">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>
    <ion-title> {{ 'TEAM_EVALUATION' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar mode="ios">
  <ion-title>{{ titulo | translate }}</ion-title>
</ion-toolbar>
<ion-toolbar
  mode="ios"
  class="ion-padding"
  *ngIf="equipo.Cod_Equipo != reto.rival.Cod_Equipo"
>
  <h4 slot="start">{{"RIVAL" | translate }} {{reto.rival.Abreviacion}}</h4>

  <ion-avatar slot="end">
    <img
      *ngIf="!reto.rival.Avatar"
      src="{{url+reto.rival.Foto}}"
      onerror="this.src='assets/img/icon/FP.svg'"
      alt=""
    />
    <img
      *ngIf="reto.rival.Avatar"
      src="assets/soccer-shields-svg/{{reto.rival.Foto}}"
      onerror="this.src='assets/img/icon/FP.svg'"
      alt=""
    />
  </ion-avatar>
</ion-toolbar>
<ion-toolbar
  mode="ios"
  class="ion-padding"
  *ngIf="equipo.Cod_Equipo != reto.retador.Cod_Equipo"
>
  <h4 slot="start">
    {{"CHALLENGER" | translate }} {{reto.retador.Abreviacion}}
  </h4>

  <ion-avatar slot="end">
    <img
      *ngIf="!reto.retador.Avatar"
      src="{{url+reto.retador.Foto}}"
      onerror="this.src='assets/img/icon/FP.svg'"
      alt=""
    />
    <img
      *ngIf="reto.retador.Avatar"
      src="assets/soccer-shields-svg/{{reto.retador.Foto}}"
      onerror="this.src='assets/img/icon/FP.svg'"
      alt=""
    />
  </ion-avatar>
</ion-toolbar>

<ion-content fullscreen>
  <ion-list>
    <ion-radio-group *ngIf="!next" (ionChange)="agregarJDP($event)">
      <ion-item
        lines="full"
        class="animate__animated animate__fadeIn"
        *ngFor="let jugador of  jugadoresRetadores"
      >
        <ion-avatar slot="start">
          <img
            *ngIf="!jugador.usuario.Avatar"
            src="{{'url+jugador.usuario.Foto}}"
            onerror="this.src='assets/user.svg'"
            alt=""
          />

          <img
            *ngIf="jugador.usuario.Avatar"
            src="assets/profile/avatars/{{jugador.usuario.Foto}}"
            onerror="this.src='assets/user.svg'"
            alt=""
          />
        </ion-avatar>
        <ion-label>
          <h2>
            {{jugador.usuario.Nombre}} {{jugador.usuario.Primer_Apellido}}
          </h2>
          <p>
            <ion-badge color="warning" mode="ios"
              >{{jugador.posicion}}</ion-badge
            >
          </p>
        </ion-label>
        <ion-radio [value]="jugador"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group *ngIf="next" (ionChange)="agregarJFP($event)">
      <ion-item
        lines="full"
        class="animate__animated animate__fadeIn"
        *ngFor="let jugador of  jugadoresRivales"
      >
        <ion-avatar slot="start">
          <img
            *ngIf="!jugador.usuario.Avatar"
            src="{{url+jugador.usuario.Foto}}"
            onerror="this.src='assets/user.svg'"
            alt=""
          />

          <img
            *ngIf="jugador.usuario.Avatar"
            src="assets/profile/avatars/{{jugador.usuario.Foto}}"
            onerror="this.src='assets/user.svg'"
            alt=""
          />
        </ion-avatar>
        <ion-label>
          <h2>
            {{jugador.usuario.Nombre}} {{jugador.usuario.Primer_Apellido}}
          </h2>
          <p>
            <ion-badge color="warning" mode="ios"
              >{{jugador.posicion}}</ion-badge
            >
          </p>
        </ion-label>
        <ion-radio [value]="jugador"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
