<ion-header mode="ios">

  <ion-toolbar>
    <ion-item class="transparent ion-margin-bottom ion-margin-top" lines="none">
      <ion-buttons slot="start">
        <ion-button  (click)="cerrarModal()" color="light">
          <ion-icon slot="start" name="chevron-back"></ion-icon>
      
        </ion-button>
        <ion-label>Mis Equipos</ion-label>
      </ion-buttons>

    </ion-item>

    <ion-searchbar></ion-searchbar>
  </ion-toolbar>


</ion-header>

  <ion-button (click)="buscarEquipos()"     fill="clear" >
       
    <p class="ion-text-uppercase">unirme a un equipo</p>
  
  </ion-button>
</ion-toolbar>
<ion-toolbar class="ion-padding"  mode="ios">

  <ion-searchbar  mode="ios" placeholder="buscar equipo" inputmode="text"  debounce="250" ></ion-searchbar> 



    <ion-content fullscreen>
      <ion-list class="ion-margin-top"   >

        <ion-item lines="none" class="employeeItem  animate__animated animate__fadeIn"  *ngIf="equiposService.otrosEquipos.length == 0" >
        
          <ion-avatar>
           <img   src="assets/logo.png" alt="">
          </ion-avatar>
         
   
           <ion-label>
      
             <h2>MENSAJE FUTPLAY </h2>
      <p class="ion-text-wrap">   No se encontraron equipos registrados o a los que pertenezcas</p>
    
           </ion-label>
  
         </ion-item>


        <ion-item (click)="seleccionarEquipo(equipo)"   class="employeeItem  animate__animated animate__fadeIn"  *ngFor="let equipo of equiposService.otrosEquipos; let i = index;">
          <ion-avatar slot="start"  >
            <img *ngIf="!equipo.Avatar"  src="{{'https://dev-coding.com/FUTPLAY_APIS_HOST/PerfilEquipoUploads/'+equipo.Foto}}" onerror="this.src='assets/team.png'"   alt="">
            <img  *ngIf="equipo.Avatar"  src="assets/soccer-shields-svg/{{equipo.Foto}}" onerror="this.src='assets/team.png'"   alt="">
   
          </ion-avatar>
          
          <ion-label>
            {{equipo.Nombre}}
            <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
            
              <ng-template ngFor let-hero [ngForOf]="filledStars(equipo.Estrellas)"
              let-i="index" let-odd="odd"  >
              <ion-icon style="size: 10px;" name="star"></ion-icon>
            </ng-template>
            <ng-template ngFor let-hero [ngForOf]="emptyStars(equipo.Estrellas)"
            let-i="index" let-odd="odd"  >
            <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
          </ng-template>
            </p>
          </ion-label>

        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
 
       
      <ion-button expand="block"  (click)="crearEquipo()" class="ion-text-center" >
       <ion-label>  Crear Equipo</ion-label>
             </ion-button>

   </ion-footer>
 

