 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>Mis Equipos</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
 <ion-content>

  <ion-list>
    <ion-item *ngIf="equiposService.misEquipos.length == 0"   lines="none"
    class="animate__animated animate__fadeIn ion-margin-top ion-margin-bottom">
    <span slot="start">
      <ion-avatar>
        <img src="assets/logo.png" alt="">
      </ion-avatar>


      <ion-label>

        <h6><strong>MENSAJE FUTPLAY</strong> </h6>
        <p  > No se encontraron resultados!..</p>

      </ion-label>
    </span>


    </ion-item>

 
    <ion-item lines="full" (click)="seleccionarEquipo(equipo)"   class="animate__animated animate__fadeIn" *ngFor="let equipo of equiposService.misEquipos | filtro: textoBuscar:'nombre'; let i = index;">
   <span  slot="start" >
    
    <ion-avatar   >
      <img *ngIf="!equipo.equipo.Avatar"  src="{{'https://futplaycompany.com/api_test/'+equipo.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
      <img  *ngIf="equipo.equipo.Avatar"  src="assets/soccer-shields-svg/{{equipo.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"   alt="">
    

    </ion-avatar>
    <ion-label>
      {{equipo.nombre}}
      <p style="display:block; margin-top: 0.5rem;margin-left: 0.5rem;">
      
        <ng-template ngFor let-hero [ngForOf]="filledStars(equipo.equipo.Estrellas)"
        let-i="index" let-odd="odd"  >
        <ion-icon style="size: 10px;" name="star"></ion-icon>
      </ng-template>
      <ng-template ngFor let-hero [ngForOf]="emptyStars(equipo.equipo.Estrellas)"
      let-i="index" let-odd="odd"  >
      <ion-icon style="size: 10px;"  name="star-outline"></ion-icon>
    </ng-template>
      </p>
    </ion-label>
   </span>
  
    </ion-item>
  </ion-list>
 
 
   
 </ion-content>
 
 <ion-fab  style="position: fixed;right: 2rem;bottom: 1rem;">
  <ion-fab-button  class="">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="crearEquipo()"   color="transparent"    data-desc="Crear equipo">
      <ion-avatar  class="ion-avatar">
        <img src="../assets/img/icon/FP.svg" alt="">
       </ion-avatar>
    </ion-fab-button>
     
     
    <ion-fab-button  (click)="buscarEquipos()"  color="transparent"   data-desc="Unirme a un equipo">
      <ion-avatar  class="ion-avatar">
        <img src="../assets/img/images/team.svg" alt="">
       </ion-avatar>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>