 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
     <ion-icon size="large" name="close-outline"></ion-icon>
   </ion-button>
   <ion-title>{{"MY_TEAMS" | translate }}</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
 <ion-content>

  <ion-list>
    <ion-item *ngIf="equiposService.misEquipos.length == 0"   lines="none"
    class="animate__animated animate__fadeIn ion-margin-top ion-margin-bottom">
    <span  >
      <ion-avatar>
        <img src="assets/logo.png" alt="">
      </ion-avatar>


      <ion-label  >

        <h6><strong>{{"FUTPLAY_MESSAGE" | translate }}</strong> </h6>
        <p>{{"NO_RECORDS_FOUND" | translate }}</p>
      </ion-label>
    </span>


    </ion-item>

 
    <ion-item lines="full" (click)="seleccionarEquipo(equipo)"   class="animate__animated animate__fadeIn" *ngFor="let equipo of equiposService.misEquipos | filtro: textoBuscar:'nombre'; let i = index;">
      <span  >

        <ion-avatar>
          <img *ngIf="!equipo.equipo.Avatar  && equipo.equipo.Foto != 'No Pic'" 
          src="{{url+equipo.equipo.Foto}}" alt="{{equipo.Foto}}">
    
          <img *ngIf="equipo.equipo.Foto == 'No Pic'" 
          src="assets/img/icon/FP.svg" alt="{{equipo.equipo.Foto}}">
    
        <img *ngIf="equipo.equipo.Avatar && equipo.equipo.Foto != 'No Pic'"
          src="assets/soccer-shields-svg/{{equipo.equipo.Foto}}" onerror="this.src='assets/img/icon/FP.svg'"
          alt="{{equipo.equipo.Foto}}">
        </ion-avatar>

 <div>
  <h2 class="ion-text-capitalize"> {{equipo.nombre}}</h2>

          <p>Puntaje : {{equipo.equipo.Puntaje_Actual ? equipo.equipo.Puntaje_Actual : 0}} </p>
          <p style="display:block; margin-top: 0.5rem;margin-left: 1rem;">

            <ion-icon style="size: 10px;" name="star"></ion-icon>
            <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
            <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
            <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
            <ion-icon style="size: 10px;" name="star-outline"></ion-icon>
          </p>
 </div>
      </span>
  
    </ion-item>
  </ion-list>
 
 
   
 </ion-content>
 
 <ion-fab  style="position: fixed;right: 2rem;bottom: 1rem;">
  <ion-fab-button  class="">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top"  >
    <span style="position: relative;" (click)="crearEquipo()">
      <ion-label style="position: absolute;top: 0.5rem;right: 4rem;min-width:120px;" class="label">{{"CREATE_TEAM" | translate }}</ion-label>
    <ion-fab-button     color="transparent"     >
    
      <ion-avatar  class="ion-avatar">
        <img src="../assets/img/icon/FP.svg" alt="">
       </ion-avatar>
    </ion-fab-button>
    </span>
     
    <span style="position: relative;" (click)="buscarEquipos()">
      <ion-label style="position: absolute;top: 0.5rem;right: 4rem;min-width: 120px;" class="label">{{"JOIN_TEAM" | translate }}</ion-label>
    <ion-fab-button     color="transparent"     >
    
      <ion-avatar  class="ion-avatar">
        <img src="../assets/img/images/team.svg" alt="">
       </ion-avatar>
    </ion-fab-button>
    </span>
     
 
  </ion-fab-list>
</ion-fab>